<section class="login_holder signup_holder"><!--login_holder-->
  <div class="container">
      <!-- <h2>Sign Up Successfully</h2> -->
      <div class="login_area brand_area" *ngIf="successMessage"><!--login_area-->
        <div class="row">
            <div class="col-md-12">
                <span *ngIf="successMessage">
                  {{ successMessage }} <a routerLink="/login">Login</a> here. <a routerLink="/signup" >Back</a>
                </span>
            </div>
        </div>
      </div>
  </div>
</section><!--login_holder--> 
