<section class="testimonial_holder"><!--testimonial_holder-->
  <div class="title"><!--title-->
    <h2>Testimonials</h2>
  </div><!--title-->

  <div class="testi_holder"><!--testi_holder-->
    <div class="container">
      <div class="row">
        <div class="col-md-6" *ngFor="let testimonial of testimonials">
          <div class="testi_box">
            <span>{{ testimonial.createdAt | date :  "MMMM dd, y, h:mm a"}}</span>
            <p [innerHtml]="testimonial.description">
              
            </p>
          </div>
          <div class="test_box_bottom">
            <div class="test_box_profile">
              <figure>
                <img src="{{ imagepath + testimonial.image}}" alt="">
              </figure>
              <strong>{{testimonial.author}}</strong>
              <span>{{testimonial.designation}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" aria-label="Previous">
                  <span aria-hidden="true"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link">1</a></li>
              <li class="page-item"><a class="page-link">2</a></li>
              <li class="page-item"><a class="page-link">3</a></li>
              <li class="page-item">
                <a class="page-link" aria-label="Next">
                  <span aria-hidden="true">
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                  </span>
                  <span class="sr-only">Next</span>
                </a> 
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div><!--testi_holder-->
</section><!--testimonial_holder-->
