<header class="header" id="header" >
    <div class="container">
      <div class="row">
  
        <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand">
            <img class="normal_logo" src="assets/front_end/images/logo.png" alt="logo">
           
          </a>
          <button class="navbar-toggler" id="mobileNav" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            
              <ul class="navbar-nav">
                  <li class="nav-item">
                    <a routerLink="/">Influencers</a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="blog">Blog</a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="pricing">Pricing</a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="help">Help</a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="login">Login</a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="signup">Sign up</a>
                  </li>
                  <li class="nav-item">
                    <a class="active">English</a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="signup">عربي</a>
                  </li>
                  <!-- <li class="nav-item">
                    <div class="btn-group">
                      <button type="button" (click)="toggle()" class="btn btn-default dropdown-toggle"  >
                        <img id="country_dropdown_toogle" src="assets/front_end/images/flag1.png">
                        English
                        <span class="glyphicon glyphicon-chevron-down"></span>
                      </button>
                      
                      <ul class="dropdown-menu" id="collapseExample4654" *ngIf="show_dialog">
                        
                        <li>
                          <a href="#"  ><img src="assets/front_end/images/flag1.png">English</a>
                        </li>
                        <li>
                          <a href="#"  ><img src="assets/front_end/images/flag2.png">Arabic</a>
                        </li>
                        
                      </ul>
                    </div>
  
                  </li> -->
                  
                </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>
  
  <section class="banner_holder">
      <!-- <figure><img src="assets/front_end/images/home-banner.jpg" alt="banner"></figure> -->
      <!-- <iframe width="560" height="780" src="https://www.youtube.com/embed/vps-6BuCT2o?autoplay=1&showinfo=0&controls=0&rel=0&loop=1&playlist=vps-6BuCT2o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
      <div class="banner_text">
        <!-- <h2>Where strategy meets<br> technology</h2>
        <span>We connect Brands with Influencers</span> -->
        <a>Start campaign</a>
      </div>
    </section>
    
    <section class="banner_bottom" data-wow-iteration="2"  ><!--banner_bottom-->
      <div class="container">
        <div class="row">
          <div class="banner_bottom_box col-md-3 col-sm-6">
            <strong class="wow heartBeat" counto [step]="30" [countTo]="50000" [countFrom]="0" [duration]="8" (countoChange)="counto1 = $event">{{ counto1 | number : '1.0-0'}}+</strong>
            <span class="wow fadeInUp">Influencers</span>
          </div>
    
          <div class="banner_bottom_box col-md-3 col-sm-6">
            <strong class="wow heartBeat" counto [step]="30" [countTo]="1000" [countFrom]="0" [duration]="8" (countoChange)="counto2 = $event">{{ counto2 | number : '1.0-0'}}+</strong>
            <span class="wow fadeInUp">followers</span>
          </div>
    
          <div class="banner_bottom_box col-md-3 col-sm-6">
            <strong class="wow heartBeat" counto [step]="10" [countTo]="255" [countFrom]="0" [duration]="8" (countoChange)="counto3 = $event">{{ counto3| number : '1.0-0' }}+</strong>
            <span class="wow fadeInUp">campaigns</span>
          </div>
    
          <div class="banner_bottom_box col-md-3 col-sm-6">
            <strong class="wow heartBeat">12X+</strong>
            <span class="wow fadeInUp">ROI</span>
          </div>
        </div>
      </div>
    </section><!--banner_bottom-->
    
    
    
        <div   class=" marketing_area" data-wow-iteration="2" > <!--marketing_area-->
          <div class="container-fluid">
          <h2 class="wow fadeIn">Influencer marketing made easy </h2>
          <h3 class="wow fadeInUp">Create influencer marketing campaigns in three simple steps</h3>
        
          <ul>
            <li>
              <div class="round wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.3s">
                <span class="wow bounceInDown" data-wow-duration="2s" data-wow-delay="0.7s">Step 01</span>
                <img class="wow zoomInLeft" data-wow-duration="1.5s" data-wow-delay="0.4s" src="assets/front_end/images/market-img1.png" alt="">
                <strong class="wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.5s">Search</strong>
              </div>
            </li>
            <li>
                <b class="wow fadeIn" data-wow-duration="2s" data-wow-delay="1.8s"></b>
                <div class="round wow fadeInDown" data-wow-duration="2s" data-wow-delay="1.4s">
                  <span class="wow bounceInDown" data-wow-duration="2s" data-wow-delay="1.8s">Step 02</span>
                  <img class="wow zoomInLeft" data-wow-duration="1.5s" data-wow-delay="1.5s" src="assets/front_end/images/market-img2.png" alt="">
                  <strong class="wow bounceInUp" data-wow-duration="1s" data-wow-delay="1.6s">Create & Manage</strong>
                </div>
              </li>
              <li>
                  <div class="round wow fadeInRight" data-wow-duration="2s" data-wow-delay="2.6s">
                    <span class="wow bounceInDown" data-wow-duration="2s" data-wow-delay="3.0s">Step 03</span>
                    <img class="wow zoomInLeft" data-wow-duration="1.5s" data-wow-delay="2.7s" src="assets/front_end/images/market-img3.png" alt="">
                    <strong class="wow bounceInUp" data-wow-duration="1s" data-wow-delay="2.8s">Track & Measure</strong>
                  </div>
                </li>
          </ul>
        </div>
      </div><!--marketing_area-->
    
      <section class="home_market_holder" data-wow-iteration="2" >
      <div class="container">
      <div class="home_discover"><!--home_discover-->
        <h2 class="wow flipInX">Search</h2>
        <div class="widget_box"><!--widget_box-->
          <div class="row">
            <div class="widget_box_img col-md-6 wow slideInLeft">
              <figure>
                <img src="assets/front_end/images/home-discover.jpg" alt="">
              </figure>
            </div>
    
            <div class="widget_box_text col-md-6 wow slideInRight">
              <h3>Explore</h3>
              <strong>Struggling finding the right influencer??</strong>
              <p>
                  Influnaire helps you find the right influencer for your brand from its marketplace with the advanced search and filter features built specifically to answer for your needs. Search through hundreds of influencers by any keyword, audience demographic or metric.
              </p>
    
              <h3>Compare</h3>
              <strong>Set back and relax, let us do the heavy lifting for you</strong>
              <p>
                  With our comparison function, you can select and compare up to 5 influencers side by side to reach the best of the best choices for your brand. Don’t waste another second looking for influencers ever again
              </p>
    
              <h3>Connect</h3>
              <strong>Congrats!! Shopping is done</strong>
              <p>Found what you need?? All you need to do now is to add him or her or even all of them to your campaign and you are ready to go</p>
            </div>
          </div>
        </div><!--widget_box-->
    
      </div><!--home_discover-->
    
      <div class="home_discover" data-wow-iteration="2" ><!--home_discover-->
        <h2 class="wow flipInX">Create & Manage</h2>
    
        <div class="widget_box"><!--widget_box-->
          <div class="row">
            <div class="widget_box_text col-md-6 wow slideInLeft">
              <h3>Create</h3>
              <p>
                  It starts here. No matter what your campaigns goals are, our campaign manager is tailored made to help you build your campaigns, set a clear objective, and provide all the necessary data all in one place and in few clicks.
              </p>
    
              <h3>Collaborate</h3>
              <p>
                  In today’s marketing world, Content is king!! Whether you want to share already made content or you want the influencers to craft a totally new content for you, here you can collaborate together like a team to achieve the maximum impact from your campaign. 
              </p>
    
              <h3>Pay</h3>
              <p>
                  Influanire platform helps you pay the influencer once everything is agreed on and you’re ready to launch. Payment can be made directly to the influencer from our platform using various methods of payment.
              </p>
            </div>
    
            <div class="widget_box_img col-md-6 wow slideInRight">
              <figure>
                <img src="assets/front_end/images/home-manage.jpg" alt="">
              </figure>
            </div>
          </div>
        </div><!--widget_box-->
      </div><!--home_discover-->
    
      <div class="home_discover" data-wow-iteration="2" ><!--home_discover-->
        <h2 class="wow flipInX">Track & Measure</h2>
        <div class="widget_box"><!--widget_box-->
          <div class="row">
            <div class="widget_box_img col-md-6 wow slideInLeft">
              <figure>
                <img src="assets/front_end/images/track_img.jpg" alt="">
              </figure>
              <!-- <iframe width="560" height="455" src="https://www.youtube.com/embed/uGuWthtPruM?autoplay=0&showinfo=0&controls=0&modestbranding=0&rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
            </div>
    
            <div class="widget_box_text col-md-6 wow slideInRight">
              <h3>Track Everything on a Single Dashboard</h3>
              <p>Measure KPIs that matter: impressions, clicks, EMV & more</p>
              <h3>Measure Your True Influencer performance</h3>
              <p>A beautiful dashboard to measure your performing based on our comprehensive earned media value calculation and automatic reports you can share about the performance of every campaign.</p>
              <h3>Make Data-Driven Decisions</h3>
              <p>Highlight top performing posts and influencers as well as export any of your data to 3rd party platforms.</p>
            </div>
          </div>
        </div><!--widget_box-->
      </div><!--home_discover-->
    
      </div>
    </section>
    
    <section class="blue_brand" data-wow-iteration="2" ><!--blue_brand-->
      <div class="container">
        <div class="row">
          <div class="col-md-6 blue_brand_left wow zoomIn">
            <h2>Still not decided??</h2>
            <span>Give it a try today it is totally free to Join!!</span>
          </div>
    
          <div class="col-md-6 blue_brand_right wow zoomInLeft">
            <a>Join as Brand</a>
          </div>
        </div>
      </div>
    </section><!--blue_brand-->
    
    <section class="testi_holder" *ngIf ="showTestimonial"><!--testi_holder-->
      <div class="container">
        <div class="row">
          <div class="col-md-6 testi_left">
            <h2 class="">Testimonials</h2>
            <div class="testi_box">
              <span>April 18, 2019</span>
              <p>
                  I wished something like this was around three years ago, when we first started out
              </p>
            </div>
            <div class="test_box_bottom">
              <div class="test_box_profile">
                <figure><img src="assets/front_end/images/testimonial_img.jpg" alt=""></figure>
                <strong>Yasmeen Abdelraziq</strong>
                <span>Marketing Manager at CyberWeave</span>
              </div>
              <a class="btn">View all testimonials</a>
            </div>
          </div>
          <div class="col-md-6 testi_right">
            <h2 class=" jackInTheBox">Latest from the blog</h2>
            <ul>
              <li>
                <span>05 January 2019</span>
                <strong>Maecenas laoreet, diam</strong>
                <a>Read more</a>
              </li>
              <li>
                  <span>05 January 2019</span>
                  <strong>Maecenas laoreet, diam</strong>
                  <a>Read more</a>
                </li>
                <li>
                    <span>05 January 2019</span>
                    <strong>Maecenas laoreet, diam</strong>
                    <a>Read more</a>
                  </li>
                  <li>
                      <span>05 January 2019</span>
                      <strong>Maecenas laoreet, diam</strong>
                      <a>Read more</a>
                    </li>
            </ul>
            <a class="btn">View all blog</a>
          </div>
        </div>
      </div>
    </section><!--testi_holder-->
  
  
    
  <footer class="footer_holder">
      <div class="brands_holder"><!--brands_holder-->
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="brands_area wow zoomIn">
                <strong>Brands</strong>
                <ul>
                  <li>
                    <figure><img src="assets/front_end/images/brand-icon1.png" alt=""></figure>
                  </li>
                  <li>
                      <figure><img src="assets/front_end/images/brand-icon2.png" alt=""></figure>
                  </li>
                  <li>
                      <figure><img src="assets/front_end/images/brand-icon3.png" alt=""></figure>
                  </li>
                  <li>
                      <figure><img src="assets/front_end/images/brand-icon4.png" alt=""></figure>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div><!--brands_holder-->
    
      <div class="container">
        <div class="row">
          <div class="col-md-7 footer_nav">
            <ul>
              <li><a>Influencers</a></li>
              <li><a>Blog</a></li>
              <li><a>Help</a></li>
              <li><a>About us</a></li>
              <li><a>Contact us</a></li>
              <li><a>Privacy policy</a></li>
              <li><a>Sitemap</a></li>
            </ul>
            <span>© Copyright 2019 influnaire All Rights Reserved</span>
          </div>
          <div class="col-md-2 footer_social">
            <strong>follow us on</strong>
            <ul>
              <li><a><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          <div class="col-md-3 footer_sub">
            <div class="form">
              <input type="text" class="input_type" placeholder="Subscribe to our newsletter">
              <button type="submit">Go</button>
            </div>
          </div>
        </div>
      </div>
    </footer>
    
  