  
<footer class="footer_holder">
  <div class="brands_holder"><!--brands_holder-->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="brands_area wow zoomIn shadow-1">
            <strong>Brands</strong>
            <ul>
              <li>
                <figure><img src="assets/front_end/images/brand-icon1.png" alt=""></figure>
              </li>
              <li>
                  <figure><img src="assets/front_end/images/brand-icon2.png" alt=""></figure>
              </li>
              <li>
                  <figure><img src="assets/front_end/images/brand-icon3.png" alt=""></figure>
              </li>
              <li>
                  <figure><img src="assets/front_end/images/brand-icon4.png" alt=""></figure>
              </li>
              <li>
                <figure><img src="assets/front_end/images/brand-icon6.png" alt=""></figure>
            </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div><!--brands_holder-->

  <div class="container">
    <div class="row">
      <div class="col-md-7 footer_nav">
        <ul>
          <li><a routerLink="/influencer">Influencers</a></li>
          <li><a routerLink="/blog">Blog</a></li>
          <!-- <li><a routerLink="/resources">Resources</a></li> -->
          <li><a routerLink="/about-us">About us</a></li>
          <li><a routerLink="/contact-us">Contact us</a></li> 
          <li><a routerLink="/privacy-policy">Privacy policy</a></li>
          <li><a routerLink="/sitemap">Sitemap</a></li>
        </ul>
        <span>© Copyright 2019 influnaire All Rights Reserved</span>
      </div>
      <div class="col-md-3 footer_nav">&nbsp;</div>
      <div class="col-md-2 footer_social">
        <strong>follow us on</strong>
        <ul>
          <li><a href="https://www.facebook.com/Influnaire-383934705807465/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="https://www.instagram.com/influnaireofficial/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UCPF-2-jvhMv6FuFhL30NckQ?view_as=subscriber" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
          <li><a href="https://twitter.com/influnaire" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="https://www.linkedin.com/company/influnaire/about/?viewAsMember=true" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
         
        </ul>
      </div>
      <!-- <div class="col-md-3 footer_sub">
        <form [formGroup]="newsletterForm" (ngSubmit)="newsletterFormSubmit()">
          <div class="form">
            <input type="email" class="input_type" placeholder="Subscribe to our newsletter" formControlName="email" [ngClass]="{ 'is-invalid': submitted && i.email.errors }">
            <button type="submit">Go</button>
          </div>
          <div *ngIf="submitted && i.email.errors" class="invalid-feedback">
            <div *ngIf="i.email.errors.required">Email is required</div>
            <div *ngIf="newsletterForm.controls['email'].errors.pattern" >Email must be a valid email address</div>
          </div>
        </form>
      </div> -->
      <!-- {{ 'Intro' | translate }} -->
    </div>
  </div>
</footer>