





@import '../../assets/front_end/styles/variables';
@import '../../assets/front_end/styles/common';
@import '../../assets/front_end/styles/header';
@import '../../assets/front_end/styles/footer';
@import '../../assets/front_end/styles/home';
@import '../../assets/front_end/styles/login';
@import '../../assets/front_end/styles/signup';
@import '../../assets/front_end/styles/forgot';
@import '../../assets/front_end/styles/resource';
@import '../../assets/front_end/styles/blog';
@import '../../assets/front_end/styles/influencer';
@import '../../assets/front_end/styles/blogdetails';
@import '../../assets/front_end/styles/about';
@import '../../assets/front_end/styles/contact';
@import '../../assets/front_end/styles/testimonials';

@import '../../assets/front_end/styles/responsive';


/* font-family: 'Arsenal', sans-serif; 
    font-family: 'Mukta', sans-serif;
    font-family: 'Open Sans', sans-serif;
*/
