<section class="login_holder"><!--login_holder-->
  <div class="container">
      <h2>Login</h2>
      <div class="login_area"><!--login_area-->
          <div class="login_area_left"><!--login_area_left-->
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
                  <div class="form-group">
                      <input type="email" class="form-control" placeholder="Email" formControlName="email" 
                      [ngClass]="{ 'is-invalid': submitted && f.email.errors }" >
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">Email is required</div>
                          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                      </div>
                  </div>
                  <div class="form-group m-0">
                      <input type="password" class="form-control" placeholder="Password" formControlName="password"
                      [ngClass]="{ 'is-invalid': submitted && f.password.errors }"  >
                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                          <div *ngIf="f.password.errors.required">Password is required</div>
                          <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                      </div>
                  </div>
                  <div class="forget_link">
                      <a routerLink = "/forgot-password">Forgot Password?</a>
                  </div>
                  <div class="form_bottom">
                      <button type="submit" class="btn btn-primary">Login</button>
                      <span>
                          No account yet? <a routerLink = "/signup">Sign Up</a> here.
                      </span>
                  </div>
              </form>
          </div><!--login_area_left-->

          <div class="login_area_midd"><!--login_area_midd-->
              <span>Or</span>
          </div><!--login_area_midd-->

          <div class="login_area_right"><!--login_area_right-->
              <ul>
                  <li>
                      <a>
                          <i class="fa fa-facebook" aria-hidden="true"></i>
                          Log in with Facebook
                      </a>
                  </li>

                  <li>
                      <a>
                          <i class="fa fa-google-plus" aria-hidden="true"></i>
                          Log in with Google
                      </a>
                  </li>

                  <li>
                      <a>
                          <i class="fa fa-youtube-play" aria-hidden="true"></i>
                          Log in with YouTube
                      </a>
                  </li>
              </ul>
          </div><!--login_area_right-->
      </div><!--login_area-->
  </div>
</section><!--login_holder--> 
