<section class="message_holder influencers_message"><!--message_holder-->
  <div class="title"><!--title-->
    <h2>Current Messages</h2>
  </div><!--title-->

  <div class="table_row"><!--table_row-->
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Campaign Name</th>
            <th>Brand Owner</th>
            <th>Influencer Name</th>
          </tr>
        </thead>

        <tbody *ngIf = "latestMessages.length">
          <tr  *ngFor="let latestMessage of latestMessages| paginate: messageConfig" >
            <td >
                {{latestMessage.Campaign?latestMessage.Campaign.campaign_name:''}}
            </td>
            <td>
              <strong *ngIf="latestMessage.Campaign"  routerLink="{{'../message-detail/'+latestMessage.campaign_id+'/'+latestMessage.influencer_id+'/'+latestMessage.Campaign.brand_owner_id}}">{{(latestMessage.Campaign.BrandOwner)?latestMessage.Campaign.BrandOwner.fname+' '+latestMessage.Campaign.BrandOwner.lname:''}}</strong>
            </td>
            <td>
              <a class="d-flex align-items-center" *ngIf ="latestMessage.Influencer && latestMessage.Campaign" routerLink="{{'/influencers/message-detail/'+latestMessage.campaign_id+'/'+latestMessage.influencer_id+'/'+latestMessage.Campaign.brand_owner_id}}">
                  <img *ngIf = "influencerImagePath && latestMessage.Influencer.picture" src="{{influencerImagePath + latestMessage.Influencer.picture}}" >
                  <img *ngIf = "!influencerImagePath || !latestMessage.Influencer.picture" src="assets/influencers/images/no-user-icon.jpg">
                  <strong>{{latestMessage.Influencer.first_name+' '+latestMessage.Influencer.last_name}}</strong>
                </a>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf = "!latestMessages.length">
            <tr >
                <td colspan="3">No Message Found</td>
              </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="messagePageChanged($event)"></pagination-controls>
    </div>
  </div><!--table_row-->
</section><!--message_holder-->
