@import "../influencers";
@import "../../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../assets/styles/functions";
@import '../../../assets/styles/variables';


.job_dtls{
   .jobHeading{
       .topSec{
           .btn{
               border-radius: 30px;
               color:  $blue;
               border: 1px solid $blue;
           }
       }
       .btmSec{
            img{
                width: 50px;
                height: 50px;
                object-fit: cover;
            }
       }     
   }
   .social-icon{
        &.fb{
            color : social-color(facebook); 
       }
       &.youtube{
            color : social-color(youtube);
       }
       .fa{
        &-facebook{
            color : social-color(facebook);
            border: 1px solid social-color(facebook);
        }
        &-youtube{
            color : social-color(youtube);
            border: 1px solid social-color(youtube);
        }
       }
   }
   .attachList{
       li img{
           width: 50px;
           height: 55px;
           object-fit: contain;
       }
   }
   .progressList{
       li{
           border-left: 1px dashed #eaeaea;
           max-width: 180px;
           position: relative;
           padding-right: 25px;
           float: left;
           height: 130px;
           i.fa{
               position: absolute;
               font-size: 22px;
               font-size: 10px;
               padding: 7px;
               border-radius: $hlf;
               border: 1px solid #eaeaea;
               color: #eaeaea;
               background: #fff;
           }
           div.box{
                margin-left: 25px;
                border-radius: 5px;
                background: #eaeaea;
                color: #a4a4a4;
                padding: 15px;
                width: 120px;
                p{
                    line-height: 17px;
                }
           }
           &.top{
                border-bottom: 2px solid #eaeaea;
                padding-top: 10px;
                div.box{
                    margin-bottom: 25px;
                }
                i.fa{
                    bottom:-11px;
                    left: -11px; 
                }
           }
           &.btm{
                border-top: 2px solid #eaeaea;
                margin-top: 128px;
                padding-bottom: 10px;
                div.box{
                    margin-top: 25px;
                }
                i.fa{
                    top:-14px;
                    left: -11px; 
                }
                &.lst{
                    border-top: 0;
                    div.box{
                        position: absolute;
                        right: 50px;
                    } 
                }
           }
           &.active{
            border-color: rgba($blue, 0.8);

            i.fa{
                border-color: rgba($blue, 0.8);
                color: rgba($blue, 0.8);
            }
            div.box{
                background: rgba($blue, 0.2);
                color: $blue;
            }
           }
       }
   }
   .msgList{
       li{
           .leftBox img{
               max-width: 50px;
               max-height: 50px;
               object-fit: contain;
           }
           .w-20{
               min-width: 170px;
           }
           &.resive{
               .rightBox{
                background: theme-color(primary);
                color: $white;
                max-width: 40%;
               }     
           }
       }
   }
}

/*------------responsive-------------*/

@media only screen and (max-width:1360px){
    .job_dtls .progressList{ display: flex;}
    .job_dtls .progressList li div.box{ width: 103px;}
}

@media only screen and (max-width:479px){
    .jobArea{ flex-direction: column;}
    .jobArea .col-7{ max-width: 100%; border: 0 !important;}
    .jobArea .col-5{ max-width: 100%;}
    .job_dtls .msgList li .w-20{ width: 100% !important; justify-content: flex-start !important;}
    .job_dtls .msgList li .rightBox { width: 100% !important; margin: 8px 0 0 !important;}
    .job_dtls .msgList li.resive .rightBox{ max-width: 100%;}





}

