<section class="job_dtls">
  <section class="bg-white border">
    <div class="jobHeading p-4">
      <div class="topSec d-flex justify-content-between align-items-center">
        <p class="text-warning">ID : {{jobDetail ? jobDetail.campaign_id : ''}}</p>
        <div class="d-flex align-items-center">
          <p class="mb-0">Job Status</p>
          <button class="btn pl-3 pr-3 btn-outline-primary ml-4 btn-sm"><i class="fa fa-clock-o mr-1"></i>
            {{jobDetail.status? jobDetail.status:''}}</button>
        </div>
      </div>

      <div class="btmSec d-flex align-items-center">
        <img src="assets/influencers/images/amg-logo.png" alt="" title="">
        <h3 class="ml-3">{{jobDetail ? jobDetail.campaign_name : 'NA'}}</h3>
        <h6 class="ml-4">By <span class="font-weight-600">BrandOwner
            {{(jobDetail && jobDetail.BrandOwner )? jobDetail.BrandOwner.fname+' '+ jobDetail.BrandOwner.lname: 'NA'}}</span>
        </h6>
      </div>
    </div>

    <section class="row mt-4 p-4 jobArea">
      <section class="col-7 pr-4 border-right">
        <h5>Subject</h5>
        <p class="text-gray mb-5">{{jobDetail ? jobDetail.campaign_details : 'NA'}}</p>
        <h5>Service Required</h5>
        <p class="text-gray mb-5">{{jobDetail ? jobDetail.service_required_content : 'NA'}}</p>
        <h5>Job Details</h5>
        <p class="text-gray mb-5">{{jobDetail ? jobDetail.campaign_objective : 'NA'}}</p>

        <section class="d-flex">
          <div class="border-right pr-4">
            <h5>Job Deliverables</h5>
            <p>On
              {{ jobDetail ? (jobDetail.tentative_launch_date | dateTimeFormat: jobDetail.tentative_launch_date: 'date-month-year') : 'NA' }}
            </p>
          </div>
          <div class="pl-4">
            <h5>Accepted Budget Of The Job</h5>
            <p class="h6 text-warning">${{jobDetail ? jobDetail.total_amount_invested : 'NA'}}</p>
          </div>
        </section>

      </section>
      <section class="col-5 pl-4">
        <h5>Required Service</h5>
        <p class="mb-5">Ut tincidunt vitae lectus et mollis</p>
        <h5>Platform</h5>
        <div class="d-flex align-items-center mb-5">
          <a *ngFor="let CampaignPlatform of jobDetail.CampaignPlatformMaps" class="social-icon mr-3 fb">
            <i class="fa fa-{{CampaignPlatform.Platform.class_name}} mr-2"
              aria-hidden="true"></i>{{CampaignPlatform.Platform?CampaignPlatform.Platform.name:''}}
          </a>
        </div>
        <div class="d-flex align-items-center mb-5" *ngIf="!jobDetail">No data available</div>
        <h5>Proposal Submit Date</h5>
        <p class="mb-5">On 02nd Mar 2019 </p>
        <h5>Launch Date</h5>
        <p class="mb-5">On 02nd Mar 2019 </p>
        <h5>View All Attachments</h5>
        <ul class="d-flex attachList mt-4">
          <li class="mr-3">
            <ul *ngFor="let uploadedFiles of jobDetail.campaignFiles let j = index">
              <li>
                <a *ngIf="uploadedFiles.name" href="{{filePath+uploadedFiles.name}}" target='_blank'
                  title="{{uploadedFiles.name}}">
                  <img class="mb-2" src="assets/influencers/images/icon-pdf.png"
                    *ngIf="pdfFile.includes(uploadedFiles.file_extension)" />
                  <img class="mb-2" src="assets/influencers/images/icon-doc.png"
                    *ngIf="docFile.includes(uploadedFiles.file_extension)" />
                  <img class="mb-2" src="assets/influencers/images/icon-img.png"
                    *ngIf="imageFile.includes(uploadedFiles.file_extension)" />
                  <p class="mb-0">{{uploadedFiles.name}}</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </section>
    </section>

    <section class="border-top p-4 pb-5 pt-5">
      <h5>Job Progress</h5>
      <ul class="progressList mt-4 clearfix">
        <li
          [ngClass]="{ top: (i+1)%2, btm: !((i+1)%2), active: historyDetails.action != 'Ready to Publish' && historyDetails.action != 'Published', lst: historyDetails.action == 'Published' }"
          *ngFor="let historyDetails of campaignHistory; let i = index;">
          <i class="fa fa-circle"></i>
          <div class="box">
            <p class="mb-0">{{ historyDetails.action | titlecase }}</p>
            <p class="mb-0">
              <small>{{ historyDetails.createdAt | dateTimeFormat: historyDetails.createdAt: 'date-month-year' }}</small>
            </p>
          </div>
        </li>
      </ul>
    </section>
  </section>

  <section class="messagePan">
    <h5 class="m-4 ml-0">Send / Receive Message</h5>
    <section class="bg-white border p-4">
      <ul class="msgList" *ngIf="messages.length">
        <li class="mb-4" *ngFor="let message of messages"
          [ngClass]="message.message_from =='Influencer'?'d-flex align-items-center send':'resive justify-content-end p-0 d-flex align-items-center'">
          <div class="leftBox d-flex w-20 justify-content-end" *ngIf="message.message_from =='Influencer'">
            <img *ngIf="allPaths.length && message.Influencer.length && message.Influencer.picture"
              src="allPaths.length+message.Influencer.picture" alt="" title="" />
            <div class="ml-3 mr-3">
              <p class="mb-0 text-gray">{{message.created_at |  date:'dd MMM y'}}</p>
              <p class="mb-0 font-weight-600"> {{ message.Influencer.first_name +' '+ message.Influencer.last_name }}
              </p>
            </div>

          </div>
          <div class="rightBox p-3 ml-4 shadow-1 rounded" *ngIf="message.message_from =='Influencer'">
            <p class="mb-0"> {{ message.message }}</p>
          </div>

          <div class="leftBox d-flex w-20 justify-content-end" *ngIf="message.message_from =='BrandOwner'">
            <div class="ml-3 mr-3">
              <p class="mb-0 text-gray">{{message.created_at |  date:'dd MMM y'}}</p>
              <p class="mb-0 font-weight-600"> {{ message.BrandOwner.fname +' '+ message.BrandOwner.lname }}</p>
            </div>

          </div>
          <div class="rightBox p-3 ml-4 shadow-1 rounded" *ngIf="message.message_from =='BrandOwner'">
            <p class="mb-0"> {{ message.message }}</p>
          </div>

        </li>
      </ul>
      <ul class="msgList" *ngIf="!messages.length">
        <li>No message found {{status}}</li>
      </ul>
    </section>
  </section>

</section>