<section class="menagement_dtls">
  <section class="bg-white border">
    <div class="jobHeading p-4">
      <div class="topSec d-flex justify-content-between align-items-center">
        <p class="text-warning">ID : {{campaign.campaign_id}}</p>
        <div class="d-flex align-items-center">
          <p class="mb-0">Campaign Status</p>
          <button class="btn pl-3 pr-3 btn-outline-primary ml-4 btn-sm text-uppercase"><i
              class="fa fa-clock-o mr-1"></i>
            {{ campaign.status }}</button>
        </div>
      </div>

      <div class="btmSec d-flex align-items-center">
        <img src="assets/influencers/images/amg-logo.png" alt="" title="">
        <h3 class="ml-3">{{ campaign.campaign_name }}</h3>
        <h6 class="ml-4" *ngIf="campaign.BrandOwner">By <span class="font-weight-600">{{ campaign.BrandOwner.fname+' '+campaign.BrandOwner.lname }}</span></h6>
        <button class="btn pl-3 pr-3 btn-success  btn-sm text-uppercase" *ngIf ="campaign.status != 'PUBLISHED'" (click)="confirmJobComplete(confirmCompleteJob)">
        Mark As Complete</button>
      </div>
    </div>

    <section class="row p-4">
      <section class="col-7 pr-4 border-right">
        <h5>Campaign Details</h5>
        <p class="text-gray mb-5">{{ campaign.campaign_details }}</p>


        <section class="d-flex">
          <div class="border-right pr-4">
            <h5>Accepted Budget Of The Job</h5>
            <h6 class="text-warning mb-0">${{ campaign.total_amount_invested }}</h6>
          </div>
          <div class="pl-4">
            <h5>Campaign Deliverables</h5>
            <p class="mb-0">On {{ campaign.end_date | date:'dd MMM y' }}</p>
          </div>
        </section>

        <section class="mt-5" *ngIf="campaign.CampaignAssigns">
          <h5 class="mb-3">Assigned Influencers</h5>
          <ul class="asigndList d-flex">
            <li class="mr-3" *ngFor="let campaignAssign of campaign.CampaignAssigns" (click)="influncerDetailModal(influencerDetailsModal, campaignAssign.influencer_id)">
              <img *ngIf = "(allPaths | json) != '{}' && campaignAssign.Influencer && campaignAssign.Influencer.picture" src = "{{allPaths.influencerImagePath+campaignAssign.Influencer.picture}}" alt="{{ campaignAssign.Influencer.first_name?campaignAssign.Influencer.first_name : 'NA'}}" title="{{ campaignAssign.Influencer.first_name?campaignAssign.Influencer.first_name : 'NA'}}" />
              <img *ngIf = "!((allPaths | json) != '{}' && campaignAssign.Influencer.picture)" src = "assets/influencers/images/no-user.jpg" alt="{{ (campaignAssign.Influencer.first_name)?campaignAssign.Influencer.first_name:'NA'}}" title="{{ campaignAssign.Influencer.first_name?campaignAssign.Influencer.first_name : 'NA'}}" />
              <p class="mb-0 font-weight-500 mt-2">{{ (campaignAssign.Influencer)?campaignAssign.Influencer.first_name+' '+campaignAssign.Influencer.last_name : 'NA'}}</p>
            </li>
          </ul>
        </section>

      </section>

      <section class="col-5 pl-4">
        <h5>Campaign Objectives</h5>
        <p class="mb-5">{{campaign.campaign_details?campaign.campaign_details:'NA'}}</p>
        <h5>Platform</h5>
        <div class="d-flex align-items-center mb-5" *ngIf="campaign.CampaignPlatformMaps">
          <a class="social-icon" *ngFor = "let platform of campaign.CampaignPlatformMaps"><i class="fa fa-{{platform.Platform?platform.Platform.class_name:''}}" aria-hidden="true"></i> {{platform.Platform.name?platform.Platform.name:'NA'}}</a>
        </div>
        <h5>Start Date</h5>
        <p class="mb-5">On {{ campaign.start_date | date:'dd MMM y' }} </p>
        <h5>Tentative Launch Date</h5>
        <p class="mb-5">On {{ campaign.tentative_launch_date | date:'dd MMM y' }} </p>
      </section>
    </section>

    <section class="table_row pl-4 pr-4 pb-4">
      <h5 class="mb-3">Individual Contribution</h5>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="text-left">Influencer Name</th>
              <th class="text-left">Platform</th>
              <th class="text-left">Post date</th>
              <th class="text-left">Completion Date</th>
              <th class="text-left">Status</th>
            </tr>
          </thead>
          <tbody *ngIf="campaign.CampaignAssigns">
            <tr *ngFor="let CampaignAssign of campaign.CampaignAssigns">
              <td class="text-left" (click)="influncerDetailModal(influencerDetailsModal, CampaignAssign.influencer_id)">
                <a class="d-flex align-items-center">
                  <figure>
                    <img *ngIf = "(allPaths | json) != '{}' && CampaignAssign.Influencer && CampaignAssign.Influencer.picture" src = "{{allPaths.influencerImagePath+CampaignAssign.Influencer.picture}}" alt="{{ CampaignAssign.Influencer.first_name?CampaignAssign.Influencer.first_name : 'NA'}}" title="{{ CampaignAssign.Influencer.first_name?CampaignAssign.Influencer.first_name : 'NA'}}" />
                    <img *ngIf = "!((allPaths | json) != '{}' && CampaignAssign.Influencer.picture)" src = "assets/influencers/images/no-user.jpg" alt="{{ (CampaignAssign.Influencer.first_name)?CampaignAssign.Influencer.first_name:'NA'}}" title="{{ CampaignAssign.Influencer.first_name?CampaignAssign.Influencer.first_name : 'NA'}}" />
                  </figure>
                  <span class="ml-2 font-weight-600" *ngIf="CampaignAssign.Influencer">{{CampaignAssign.Influencer.first_name+' '+CampaignAssign.Influencer.last_name}},</span>
                  <span class="ml-2 font-weight-600 text-primary">Blogger</span>
                </a>
              </td>
              <td class="text-left" *ngIf = "CampaignAssign.Influencer && CampaignAssign.Influencer.influencerPlatformMaps.length">
                <a class="social-icon" *ngFor="let infPlatform of CampaignAssign.Influencer.influencerPlatformMaps"><i class="fa fa-{{infPlatform.Platform.class_name}}" aria-hidden="true"></i></a>
              </td>
              <td class="text-left" *ngIf = "!CampaignAssign.Influencer || !CampaignAssign.Influencer.influencerPlatformMaps.length">NA</td>
              <td class="text-left">{{ CampaignAssign.assign_date | date:'dd MMM y' }}</td>
              <td class="text-left">{{ CampaignAssign.expiry_date | date:'dd MMM y' }}</td>
              <td class="text-left">
                <a data-toggle="modal" class="more border-0 pl-0" *ngIf ="CampaignAssign.status == 'SUBMITTED'" (click)="acceptModal(acceptInvitationModal, CampaignAssign.id, CampaignAssign.campaign_id)">{{CampaignAssign.status}}</a>
                <span *ngIf ="CampaignAssign.status != 'SUBMITTED'">{{statusList[CampaignAssign.status]}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

  </section>

  <section class="messagePan">
    <h5 class="mt-4 mb-4 ml-0">Campaign Progress</h5>
    <section class="d-flex">
      <section class="leftSec col-2 pr-0">
        <ul class="tabList">
          <li class="d-flex align-items-center border-bottom py-3 p-2 cursor-pointer" 
           *ngFor="let currentInfluncer of campaign.CampaignAssigns; let i = index" 
          [ngClass]="{'bg-white': selectedInfluncerId == currentInfluncer.influencer_id}"
           (click)="getInfluncerData(currentInfluncer.influencer_id, currentInfluncer, currentInfluncer.status)">
            <img *ngIf = "(allPaths | json) != '{}' && currentInfluncer.Influencer && currentInfluncer.Influencer.picture" src = "{{allPaths.influencerImagePath+currentInfluncer.Influencer.picture}}" alt="{{ currentInfluncer.Influencer.first_name?currentInfluncer.Influencer.first_name : 'NA'}}" title="{{ currentInfluncer.Influencer.first_name?currentInfluncer.Influencer.first_name : 'NA'}}" />
            <img *ngIf = "!((allPaths | json) != '{}' && currentInfluncer.Influencer.picture)" src = "assets/influencers/images/no-user.jpg" alt="{{ (currentInfluncer.Influencer.first_name)?currentInfluncer.Influencer.first_name:'NA'}}" title="{{ currentInfluncer.Influencer.first_name?currentInfluncer.Influencer.first_name : 'NA'}}" />
            <div class="ml-3">
              <!-- <p class="mb-0 text-primary">20 Nov 2018</p> -->
              <p class="mb-0">{{currentInfluncer.Influencer.first_name}}</p>
            </div>
          </li>
        </ul>
      </section>
      <section class="rightSec bg-white border p-4 w-100">
        <section class="pb-5">
          <h5>{{(selectedItemObj)?selectedItemObj.Influencer.first_name:''}}</h5>
          <ul class="progressList mt-4 clearfix">
            <li [ngClass]="{ top: (i+1)%2, btm: !((i+1)%2), active: historyDetails.action != 'Ready to Publish' && historyDetails.action != 'Published', lst: historyDetails.action == 'Published' }" *ngFor="let historyDetails of campaignHistory; let i = index;">
              <i class="fa fa-circle"></i>
              <div class="box">
                <p class="mb-0">{{ historyDetails.action | titlecase }}</p>
                <p class="mb-0"><small>{{ historyDetails.createdAt | dateTimeFormat: historyDetails.createdAt: 'date-month-year h:mm' }}</small></p>
              </div>
            </li>
          </ul>
        </section>

        <section class="pb-5">
          <h5>Conversation History</h5>
          <ul class="msgList" *ngIf = "influncerMessageData.length">
            <li class="mb-4" *ngFor = "let message of influncerMessageSlice; let i=index"  [ngClass] = "message.message_from =='Influencer'?'d-flex align-items-center send':'resive justify-content-end p-0 d-flex align-items-center'">
              <div class="leftBox d-flex w-20 justify-content-end" *ngIf = "message.message_from =='Influencer'">
                  <img *ngIf = "allPaths.length && message.Influencer.length && message.Influencer.picture" src = "allPaths.influencerImagePath+message.Influencer.picture" alt="" title="" />
                <div class="ml-3 mr-3">
                  <p class="mb-0 text-gray">{{message.created_at |  date:'dd MMM y H:mm'}}</p>
                  <p class="mb-0 font-weight-600"> {{ message.Influencer.first_name +' '+ message.Influencer.last_name }}</p>
                </div>

              </div>
              <div class="rightBox p-3 ml-4 shadow-1 rounded" *ngIf = "message.message_from =='Influencer'">
                <p class="mb-0"> {{ message.message }}</p>
              </div>

              <div class="leftBox d-flex w-20 justify-content-end" *ngIf = "message.message_from =='BrandOwner'">
                <div class="ml-3 mr-3">
                  <p class="mb-0 text-gray">{{message.created_at |  date:'dd MMM y H:mm'}}</p>
                  <p class="mb-0 font-weight-600"> {{ message.BrandOwner.fname +' '+ message.BrandOwner.lname }}</p>
                </div>

              </div>
              <div class="rightBox p-3 ml-4 shadow-1 rounded" *ngIf = "message.message_from =='BrandOwner'">
                <p class="mb-0"> {{ message.message }}</p>
              </div>
              
            </li>
          </ul>
          <ul class="msgList" *ngIf = "!influncerMessageData.length">
            <li>No message found</li>
          </ul>
          <div class="d-flex justify-content-end mt-3" *ngIf = "influncerMessageData.length > 10">
            <button class="btn btn-warning text-uppercase text-white pl-4 pr-4 h6" (click)="messageModal(messageListModal)">view all messages</button>
          </div>

        </section>

        <section class="pb-5">
          <h5>View All Attachments</h5>
          <ul class="d-flex attachList mt-4">
            <li class="mr-3" *ngFor = "let message of influncerMessageData">
              <a *ngIf = "message.file" href = "{{messagefilePath+message.file}}" target='_blank'>
                <img class="mb-2" src="assets/influencers/images/icon-pdf.png" *ngIf= "pdfFile.includes(message.file.split('.').pop())"/>
                <img class="mb-2" src="assets/influencers/images/icon-doc.png" *ngIf= "docFile.includes(message.file.split('.').pop())"/>
                <img class="mb-2" src="assets/influencers/images/icon-img.png" *ngIf= "imageFile.includes(message.file.split('.').pop())"/>
                <p class="mb-0">{{message.file}}</p>
              </a>
            </li>
          </ul>
        </section>
        <div class ="content_accept pb-4">
          <button class="btn btn-success" data-toggle="modal" (click)="acceptContent(selectedInfluncerId)" *ngIf ="status=='CONTENT_SUBMITTED'">
            <i class="fa fa-check" aria-hidden="true"></i> Accept Content</button>
        
        <!-- <button class="btn btn-success" (click)="paid(selectedInfluncerId)" *ngIf ="status=='CONTENT_APPROVED'" id="paypal-button">
          <i class="fa fa-check" aria-hidden="true"></i> Make Payment</button> -->
        </div>

        <div *ngIf= "showPaypal === true" id="paypal-checkout-btn">
          <ngx-paypal [config]="payPalConfig"></ngx-paypal>
        </div>
        <div class = "payout">
        <button *ngIf= "showPayout === true" class="btn btn-primary"  (click)="doPayout(brandOwnerTransId,$event)" >
          <i class="fa fa-check" aria-hidden="true"></i>Release Payment <i class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>
        </div>
      </section>
    </section>
  </section>


  <!-- accept Modal -->
  <ng-template class="modal fade faq_popup" #acceptInvitationModal>
      <div class="modal-header">
          <h5 class="modal-title">Submited Proposal</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>

    <div class="modal-body">
     
     
        <div class="form-group">
          <label class="text-uppercase mb-0 font-weight-600">Subject</label>
          <div>{{proposalData.subject}}</div>
        </div>
        <div class="form-group">
          <label class="text-uppercase mb-0 font-weight-600">Proposal Brief</label>
          <div>{{proposalData.brief}}</div>
        </div>
        <div class="form-group">
          <label class="text-uppercase mb-0 font-weight-600">Content/idea description</label>
          <div>{{proposalData.description}}</div>
        </div>
        <div class="row">
          <div class="col-6 form-group">
            <label class="text-uppercase mb-0 font-weight-600">Delivery Date</label>
            <div>{{proposalData.delivery_date}}</div>              
          </div>
          <div class="col-6 form-group">
            <label class="text-uppercase mb-0 font-weight-600">Price</label>
            <div>{{proposalData.price}}</div>
          </div>
          <div class="col-6 form-group">
            <label class="text-uppercase mb-0 font-weight-600">Platforms to use</label>
            
            <div> 
              <a class="social-icon" *ngFor="let platformAssign of proposalData.proposal_platform_maps"><i class="fa fa-{{allPlatforms[platformAssign.platform_id].class_name}}" aria-hidden="true"></i></a>
            </div>
            </div>
        </div>
        <div class="form-group">
          <label class="text-uppercase mb-0 font-weight-600">Required resources from the brand</label>
          <div>{{ proposalData.required_resources}}</div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-success" data-toggle="modal" (click)="acceptProposal(proposalData.id, proposalData.invitation_id)">
                <i class="fa fa-check" aria-hidden="true"></i> Accept</button>
            
            <button class="btn btn-danger" (click)="rejectProposal(proposalData.id, proposalData.invitation_id)">
              <i class="fa fa-times" aria-hidden="true"></i> Reject</button>
        </div>
        
    </div>
  </ng-template>
  <ng-template class="modal fade msg_popup" #messageListModal>
    <div class="modal-header">
        <h5 class="modal-title">All Massages</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    <div class="modal-body">
        <ul class="popupMsg" *ngIf = "influncerMessageData.length">
            <li class="mb-4" *ngFor = "let message of influncerMessageData; let i=index"  [ngClass] = "message.message_from =='Influencer'?'d-flex align-items-center send':'resive justify-content-end p-0 d-flex align-items-center'">
              <div class="leftBox" *ngIf = "message.message_from =='Influencer'">
                  <img *ngIf = "allPaths.length && message.Influencer.length && message.Influencer.picture" src = "allPaths.influencerImagePath+message.Influencer.picture" alt="" title="" />
                <div class="ml-3 mr-3">
                  <p class="mb-0 text-gray">{{message.created_at |  date:'dd MMM y'}}</p>
                  <p class="mb-0 font-weight-600"> {{ message.Influencer.first_name +' '+ message.Influencer.last_name }}</p>
                </div>
    
              </div>
              <div class="rightBox shadow-1 rounded" *ngIf = "message.message_from =='Influencer'">
                <p class="mb-0"> {{ message.message }}</p>
              </div>
    
              <div class="leftBox d-flex w-20 justify-content-end" *ngIf = "message.message_from =='BrandOwner'">
                <div class="ml-3 mr-3">
                  <p class="mb-0 text-gray">{{message.created_at |  date:'dd MMM y'}}</p>
                  <p class="mb-0 font-weight-600"> {{ message.BrandOwner.fname +' '+ message.BrandOwner.lname }}</p>
                </div>
    
              </div>
              <div class="rightBox p-3 ml-4 shadow-1 rounded" *ngIf = "message.message_from =='BrandOwner'">
                <p class="mb-0"> {{ message.message }}</p>
              </div>
              
            </li>
          </ul>
    </div>
      
    
  </ng-template>

  <!----------------------------------Influncer Detail Modal------------------->
  <ng-template class="modal fade faq_popup" #influencerDetailsModal>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    <div class="modal-body">
      <div  tabindex="-1" role="dialog" aria-labelledby="influencerDetailsModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered m-0" role="document" style="max-width: 100%;">
          <div class="modal-content" style="border: 0;">
              <div class="detailsBoxBig">
                  <div class="leftImg">
                      <img *ngIf = "influencerImagePath && influncerDetail.picture" src="{{ influencerImagePath+influncerDetail.picture }}" alt="">
                      <img *ngIf = "!influencerImagePath || !influncerDetail.picture" src="assets/influencers/images/no-user.jpg" alt="">
                    <div class="favourite"></div>
                  </div>
                  <div class="righttxts clearfix">
                    
                    <div class="textHeading">
                      <h2>{{influncerDetail.first_name || influncerDetail.last_name?influncerDetail.first_name+' '+influncerDetail.last_name:''}}</h2>
                      <h3>7.5k <span>followers</span></h3>
                      <h4>{{influncerDetail.country?influncerDetail.country+',':''}}{{influncerDetail.nationality?influncerDetail.nationality+',':''}}<span>Blogger</span></h4>
                    </div>
                    <div class="shortDesc">
                      <label>Short About Me</label>
                      <p>{{influncerDetail.description?influncerDetail.description:''}}</p>
                    </div>
                    <div class="socialMediatabs">
                        <ul class="nav nav-tabs" id="myTab" role="tablist" *ngIf = "influncerDetail.influencerPlatformMaps">
  
                            <li class="nav-item" *ngFor ="let platform of influncerDetail.influencerPlatformMaps">
                              <a class="nav-link active" id="facebook-tab" data-toggle="tab" href="#facebook" role="tab" aria-controls="facebook" aria-selected="true">
                                <span class="icon {{platform.Platform.name | lowercase}}Tab"></span>
                                <span class="name">{{platform.Platform.name}}</span>
                              </a>
                            </li>
                          </ul>
                          <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="facebook" role="tabpanel" aria-labelledby="home-tab">
                              <div class="row">
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <label>Likes Per Post</label>
                                    <p>3K</p>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <label>Comments Per Post</label>
                                    <p>4K</p>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <label>Impressions Per Post</label>
                                    <p>1.5K</p>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <label>Engagement Ratio</label>
                                    <p>1:1</p>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <label>Past Jobs Completed</label>
                                    <p>456</p>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <label>Followers Gender Distribution</label>
                                    <p>60% Male , 40% Female</p>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <label>Comment sentiment</label>
                                    <p>75%</p>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-10">
                                  <div class="form-group">
                                    <label>Followers Age Distribution</label>
                                    <ul>
                                      <li><span>18 - 25 years :</span>5.6K,</li>
                                      <li><span>25 - 35 years :</span>1.4K,</li>
                                      <li><span>35 years above :</span>0.5K</li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="col-md-10">
                                  <div class="form-group">
                                    <label>Followers Country Distribution</label>
                                    <ul>
                                      <li><span>Iraq :</span>1K,</li>
                                      <li><span>UAE :</span>677,</li>
                                      <li><span>Jordon :</span>122,</li>
                                      <li><span>Qatar :</span>455</li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="tab-pane fade" id="twitter" role="tabpanel" aria-labelledby="twitter-tab">.2</div>
                            <div class="tab-pane fade" id="youtube" role="tabpanel" aria-labelledby="youtube-tab">3.</div>
                            <div class="tab-pane fade" id="insta" role="tabpanel" aria-labelledby="insta-tab">4.</div>
                            <div class="tab-pane fade" id="snap" role="tabpanel" aria-labelledby="snap-tab">5.</div>
                          </div>
                    </div>
                  </div>
                </div>
                <div class="smallBoxWrap">
                <div class="smallBoxes">
                  <h2>Pricing of Ready – Made Content</h2>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Post type</th>
                          <th>Price</th>
                        </tr>
                      </thead>
                      <!-- <tbody *ngIf = "influncerDetail.influencerPlatformMaps && influncerDetail.influencerPlatformMaps.length">
                        
                        <tr *ngFor ="let platform of influncerDetail.influencerPlatformMaps">
                          <td>{{platform.Platform.name}}</td>
                          <td>${{platform.readymade_content_price}}</td>
                        </tr>
                      </tbody>
                      <tbody *ngIf = "!influncerDetail.influencerPlatformMaps">
                        <tr>
                          <td colspan="2">No data found</td>
                        </tr>
                      </tbody> -->
                    </table>
                  </div>
                </div>
              </div>         
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <!-- Change Password Modal -->
<ng-template class="modal" #confirmCompleteJob>
  <div class="modal-header">
    <p>Do you want mark this job as complete?</p>
  </div>
  <div class="modal-footer">
    
    <button type="button" class="btn btn-success" (click)="jobCompleteSaved(ratingReviewModal)">Yes</button>
    <button type="button" class="btn btn-danger" (click)="modalRef.hide()">No</button>
  </div>
</ng-template>
<!-- Modal for rating and review-->
<ng-template class="modal" #ratingReviewModal>
  <div class="modal-header">
    <p>Rating</p>
  </div>
  <div class="modal-footer">
    <form #readyMadePriceForm="ngForm" (ngSubmit)="saveReadymadePrice(readyMadePriceForm)">
    <table class="table" >
      <thead>
        <tr>
          <th class="text-left">Influencer Name</th>
          <th class="text-left">Rating</th>
          <th class="text-left">Review</th>
        </tr>
      </thead>
      <tbody *ngIf="campaign.CampaignAssigns">
        <tr *ngFor="let CampaignAssign of campaign.CampaignAssigns">
          <td class="text-left" (click)="influncerDetailModal(influencerDetailsModal, CampaignAssign.influencer_id)">
            {{CampaignAssign.Influencer.first_name+' '+CampaignAssign.Influencer.last_name}}
          </td>
          <td class="text-left">
            <select name="rating-{{CampaignAssign.id}}" ngModel>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </td>
          <td>
            <textarea name="review-{{CampaignAssign.id}}" maxlength="150" ngModel></textarea>
            
          </td>
        </tr>
      </tbody>
    </table>
    <input type="hidden" name="assignIds" [(ngModel)] ="assignIds">
    <button type="button" class="btn btn-success" (click)="savedRating(readyMadePriceForm)">Yes</button>
    <button type="button" class="btn btn-danger" (click)="modalRef.hide()">Cancel</button>
    </form>
  </div>
</ng-template>

</section>