@import "../brand-owner";
@import "../../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../assets/styles/functions";
@import '../../../assets/styles/variables';




.menagement_dtls{
   .jobHeading{
       .topSec{
           .btn{
               border-radius: 30px;
               color:  $yellow;
               border: 1px solid $yellow;
           }
       }
       .btmSec{
            img{
                width: 50px;
                height: 50px;
                object-fit: cover;
            }
       }     
   }
   .asigndList{
       img{
            width: 90px;
            height: 100px;
            object-fit: fill;
        }
    }
    .tabList{
        img{
            border-radius: $hlf;
            width: 40px;
            height: 40px;
        }
        li.bg-white{
            position: relative;
            box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.3);
            -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.3);
            &:after{
                position: absolute;
                height: 100%;
                width: 5px;
                right: -4px;
                background: #fff;
                content: '';
            }
        }
    }
   .attachList{
       li img{
           width: 50px;
           height: 55px;
           object-fit: contain;
       }
   }
   .progressList{
       li{
           border-left: 1px dashed #eaeaea;
           max-width: 180px;
           position: relative;
           padding-right: 25px;
           float: left;
           height: 130px;
           i.fa{
               position: absolute;
               font-size: 22px;
               font-size: 10px;
               padding: 7px;
               border-radius: $hlf;
               border: 1px solid #eaeaea;
               color: #eaeaea;
               background: #fff;
           }
           div.box{
                margin-left: 25px;
                border-radius: 5px;
                background: #eaeaea;
                color: #a4a4a4;
                padding: 15px;
                width: 120px;
                p{
                    line-height: 17px;
                }
           }
           &.top{
                border-bottom: 2px solid #eaeaea;
                padding-top: 10px;
                div.box{
                    margin-bottom: 25px;
                }
                i.fa{
                    bottom:-11px;
                    left: -11px; 
                }
           }
           &.btm{
                border-top: 2px solid #eaeaea;
                margin-top: 128px;
                padding-bottom: 10px;
                div.box{
                    margin-top: 25px;
                }
                i.fa{
                    top:-14px;
                    left: -11px; 
                }
                &.lst{
                    border-top: 0;
                    div.box{
                        position: absolute;
                        right: 50px;
                    } 
                }
           }
           &.active{
            border-color: rgba($blue, 0.8);

            i.fa{
                border-color: rgba($blue, 0.8);
                color: rgba($blue, 0.8);
            }
            div.box{
                background: rgba($blue, 0.2);
                color: $blue;
            }
           }
       }
   }
   .msgList{
       li{
           .leftBox img{
               max-width: 50px;
               max-height: 50px;
               object-fit: contain;
           }
           .w-20{
               min-width: 170px;
           }
           &.resive{
               .rightBox{
                background: theme-color(primary);
                color: $white;
                max-width: 40%;
               }     
           }
       }
   }
   .btn-warning{
       border-radius: 18px;
       background: $yellow;
   }
} 


    .popupMsg{
        li{
            flex-direction: column-reverse;
            .leftBox{
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
            .rightBox{
                width: 100%;
                padding: 10px;
                margin: 0 0 15px;
            }
        }
    }
    


    .detailsBoxBig{
        display: flex;
        justify-content: space-between;
        .leftImg{
            position: relative;
            width: 50%;
            img{
                width: 100%;
            }
            .favourite{
                position: absolute;
                top: 30px;
                right: 50px;
                width: 37px;
                height: 36px;
                background: url("../../../assets/brand-owner/images/favourite.png") no-repeat;
                cursor: pointer;
            }
        }
        .righttxts{
            width: 50%;
            padding-left: 55px;
            .btnHolder{
                display: block;
                text-align: right;
                .btnSave{
                    font-size: 30px;
                    font-weight: 600;
                    line-height: 22px;
                    color: #ed8c24;
                    text-transform: uppercase;
                    text-decoration: none;
                }
            }
            .textHeading{
                margin-top: 20px;
                h2{
                    color: #3c3c3c;
                    font-size: 53px;
                    font-weight: 600;
                    display: inline-block;
                    vertical-align: top;
                    padding-right: 25px;
                    border-right: solid 1px #dddddd;
                }
                h3{
                    color: #3086e7;
                    font-size: 53px;
                    font-weight: bold;
                    display: inline-block;
                    vertical-align: top;
                    padding-left: 25px;
                    span{
                        color: #3c3c3c;
                        font-size: 15px;
                        font-weight: 400;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
                h4{
                    color: #3c3c3c;
                    font-size: 24px;
                    font-weight: 400;
                    span{
                        color: #3086e7;
                        margin-left: 5px;
                        display: inline-block;
                    }
                }
            }
            .shortDesc{
                margin-top: 30px;
                label{
                    color: #939393;
                    font-size: 18px;
                }
                p{
                    color: #373737;
                    font-size: 16px;
                }
            }
            .socialMediatabs{
                ul{
                    li{
                        a{
                            text-decoration: none;
                            span{
                                display: inline-block;
                                vertical-align: middle;
                                &.icon{
                                    margin-right: 5px;
                                    width: 18px;
                                    height: 18px;
                                    &.facebookTab{
                                        background: url("../../../assets/brand-owner/images/tab-fb.png") no-repeat center center;
                                    }
                                    &.twitterTab{
                                        background: url("../../../assets/brand-owner/images/tab-twitr.png") no-repeat center center;
                                    }
                                    &.youtubeTab{
                                        background: url("../../../assets/brand-owner/images/tab-utube.png") no-repeat center center;
                                    }
                                    &.instaTab{
                                        background: url("../../../assets/brand-owner/images/tab-insta.png") no-repeat center center;
                                    }
                                    &.snapTab{
                                        background: url("../../../assets/brand-owner/images/tab-snap.png") no-repeat center center;
                                    }
                                }
                                &.name{
                                    color: #949494;
                                    font-size: 16px;
                                    line-height: 16px;
                                }
                            }
                            &.active{
                                border: solid 1px transparent;
                                border-bottom: solid 1px #171717;
                                span{
                                    &.icon{
                                        &.facebookTab{
                                            background: url("../../../assets/brand-owner/images/tab-fb-active.png") no-repeat center center;
                                        }
                                        &.twitterTab{
                                            background: url("../../../assets/brand-owner/images/tab-twitr-active.png") no-repeat center center;
                                        }
                                        &.youtubeTab{
                                            background: url("../../../assets/brand-owner/images/tab-utube-active.png") no-repeat center center;
                                        }
                                        &.instaTab{
                                            background: url("../../../assets/brand-owner/images/tab-insta-active.png") no-repeat center center;
                                        }
                                        &.snapTab{
                                            background: url("../../../assets/brand-owner/images/tab-snap-active.png") no-repeat center center;
                                        }
                                    }
                                    &.name{
                                        color: #3a3939;
                                        font-size: 16px;
                                        line-height: 16px;
                                        text-decoration: none;
                                    }
                                }
                            }
                            &:focus, &:hover{
                                border: solid 1px transparent;
                                border-bottom: solid 1px #171717;
                                span{
                                    &.name{
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                    }
                }
                .tab-content{
                    .form-group{
                        label{
                            font-size: 16px;
                            font-weight: 400;
                            color: #939393;
                            padding-top: 0;
                            margin-bottom: 5px;
                        }
                        p{
                            color: #373737;
                            font-size: 16px;
                        }
                        ul{
                            display: flex;
                            justify-content: space-between;
                            li{
                                color: #373737;
                                font-size: 16px;
                                span{
                                    color: #3c3c3c;
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .smallBoxWrap{
        display: flex;
        margin-top: 20px;
        .smallBoxes{
            width: 50%;
            padding: 50px;
            border: solid 1px #ddd;
            h2{
                color: #3c3c3c;
                font-size: 24px;
                font-weight: 600;
            }
            .table{
                tr{
                    th{
                        color: #3c3c3c;
                        font-size:16px;
                    }
                    td{
                        font-size: 16px;
                        &:last-child{
    
                        }
                    }
                }
            }
        }
    }
    


    /*------------------responsive----------------*/

    @media only screen and (max-width:1360px){
        .messagePan{
            .progressList{
                display: flex;
            }
        }
        .menagement_dtls .progressList li div.box{
            width: 100px;
            padding: 10px;
            margin-left: 15px;
        }
        .menagement_dtls .progressList li{ padding-right: 15px;}
    }


    
    

