@import '../frontend';
@import '../header/header.component';

.login_holder {
    .login_area{
        .full-width{
            width: 100%;
        }
    }
    .login_area.small{
        width: 60%;
    }
    .login_area form {
        .form-group {
           .input-group-append {
               .input-group-text {
                    border-width: 0 0 2px 0;
                } 
                :hover{
                    cursor: pointer
                }
           }
        }
    }
}
a:focus {
    outline: #ccc solid 1px;
}

@media screen and (max-width:991px){

.desktopMenu{
    display: none;
}
}
