<section class="login_holder signup_holder"><!--login_holder-->
    <div class="container">
        <h2>Login</h2>
        <div class="signup_choice"><!--signup_choice-->
            <div class="form-radio mr-5">
                <input id="radio1" type="radio" [(ngModel)]="userType" [value]="0" #brand (change)="isSignUpSuccess=false">
                <label for="radio1"><span><span></span></span>Brand</label>
            </div>
    
            <div class="form-radio">
                <input id="radio2" type="radio" [(ngModel)]="userType" [value]="1" #influencer (change)="isSignUpSuccess=false">
                <label for="radio2"><span><span></span></span>Influencer</label>
            </div>
                
        </div><!--login choice-->
        <div class="login_area small" *ngIf="brand.checked && !isSignUpSuccess"><!--login area for Brand Owner -->
            <div class="login_area_left full-width"><!--login_area_left-->
                <form [formGroup]="loginBrandOwnerForm" (ngSubmit)="onLoginBrandOwnerFormSubmit()" >
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" formControlName="email" 
                        [ngClass]="{ 'is-invalid': submitted && f1.email.errors }" tabindex="1">
                        <div *ngIf="submitted && f1.email.errors" class="invalid-feedback">
                            <div *ngIf="f1.email.errors.required">Email is required</div>
                            <div *ngIf="loginBrandOwnerForm.controls['email'].errors.pattern" >Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="form-group m-0">
                        <div class="input-group mb-3">
                            <input type="password" #pwd0 class="form-control" placeholder="Password" formControlName="password"
                            [ngClass]="{ 'is-invalid': submitted && f1.password.errors }" tabindex="2">
                            <div class="input-group-append" (click)="pwd0.type=pwd0.type=='text' ? 'password' : 'text'">
                                <span class="input-group-text">
                                    <i class="fa" [ngClass]="{'fa-eye':pwd0.type=='text', 'fa-eye-slash':pwd0.type=='password'}"></i>
                                </span>
                            </div>
                            <div *ngIf="submitted && f1.password.errors" class="invalid-feedback">
                                <div *ngIf="f1.password.errors.required">Password is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="forget_link">
                        <a routerLink = "/forgot-password" [queryParams]="{ type: 'brand-owner' }" tabindex="3">Forgot Password?</a>
                        <!-- <a href="javascript:;" tabindex="3">Forgot Password?</a> -->
                    </div>
                    <div class="form_bottom">
                        <button type="submit" class="btn btn-primary" tabindex="5">Login</button>
                        <span>
                            No account yet? <a routerLink="/signup" tabindex="4">Sign Up</a> here.
                        </span>
                    </div>
                </form>
            </div><!--login_area_left-->
        </div><!--login_area-->
        <div class="login_area" *ngIf="influencer.checked && !isSignUpSuccess"><!--login area for Influencers -->
            <div class="login_area_left"><!--login_area_left-->
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" formControlName="email" 
                        [ngClass]="{ 'is-invalid': submittedBrandOwner && f.email.errors }" tabindex="1">
                        <div *ngIf="submittedBrandOwner && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="form-group m-0">
                        <div class="input-group mb-3">
                            <input type="password" #pwd0 class="form-control" placeholder="Password" formControlName="password"
                            [ngClass]="{ 'is-invalid': submittedBrandOwner && f.password.errors }" tabindex="2">
                            <div class="input-group-append" (click)="pwd0.type=pwd0.type=='text' ? 'password' : 'text'">
                                <span class="input-group-text">
                                    <i class="fa" [ngClass]="{'fa-eye':pwd0.type=='text', 'fa-eye-slash':pwd0.type=='password'}"></i>
                                </span>
                            </div>
                            <div *ngIf="submittedBrandOwner && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="forget_link">
                        <a routerLink = "/forgot-password" [queryParams]="{ type: 'influencer' }" tabindex="4">Forgot Password?</a>
                        <!-- <a href="javascript:;" tabindex="3">Forgot Password?</a> -->
                    </div>
                    <div class="form_bottom">
                        <button type="submit" class="btn btn-primary" tabindex="6">Login</button>
                        <span>
                            No account yet? <a routerLink= "/signup" [queryParams]="{ type: 'influencer' }" tabindex="5">Sign Up</a> here.
                        </span>
                    </div>
                </form>
            </div><!--login_area_left-->

            <div class="login_area_midd"><!--login_area_midd-->
                <span>Or</span>
            </div><!--login_area_midd-->

            <div class="login_area_right"><!--login_area_right-->
                <ul>
                    <li>
                        <!-- <a>
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            Log in with Facebook
                        </a> -->
                        <a href="javascript:;" (click)="socialLoginIn('facebook')" tabindex="7">
                            <i class="fa fa-facebook" aria-hidden="true"></i>Sign Up with Facebook
                        </a>
                    </li>

                    <li>
                        <!-- <a>
                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                            Log in with Google
                        </a> -->
                        <a href="javascript:;" (click)="socialLoginIn('google')" tabindex="8">
                            <i class="fa fa-youtube-play" aria-hidden="true" ></i>Log in with YouTube
                        </a>
                        <!-- <a href="javascript:;" (click)="socialLoginIn('google')">
                            <i class="fa fa-google-plus" aria-hidden="true"></i>Sign Up with Google
                        </a> -->
                    </li>

                    <!-- <li>
                        <a>
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                            Log in with YouTube
                        </a>
                    </li> -->
                </ul>
            </div><!--login_area_right-->
        </div><!--login_area-->
    </div>
</section><!--login_holder--> 
