<section class="profile_holder">
    <!--profile_holder-->
    <div class="profile_box">
        <!--profile_box-->
        <div class="company_info clearfix">
            <div class="company_info_right">
                <!--company_info_right-->
                <div class="companyBoxes">
                    <h3>Company information</h3>
                    <a class="editForm" *ngIf="!showCompanyEditForm" (click)="editCompanyInfo()"></a>
                    <a class="editForm active" *ngIf="showCompanyEditForm" (click)="editCompanyInfo()"></a>
                    <!-- edit icon -->
                    <div class="" [hidden]="showCompanyEditForm">
                        <div class="customForm">
                            <div class="row">
                                <div class="col-md-3">
                                    <figure>
                                        <img src="{{ companyInfo.companyLogo }}" alt="company logo">
                                    </figure>
                                </div>
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Company Name</label>
                                                <p>{{ companyInfo.companyName ? companyInfo.companyName : 'Na' | titlecase }}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Industry</label>
                                                <p>{{ companyInfo.industryName ? companyInfo.industryName : 'Na' | titlecase }}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Currency</label>
                                                <p>{{ companyInfo.currencyName ? companyInfo.currencyName : 'Na' | titlecase }}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Country</label>
                                                <p>{{ companyInfo.countryCode ? companyInfo.countryCode : 'Na' | titlecase }}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Company Type</label>
                                                <p>{{ companyInfo.companyType ? (companyInfo.companyType == '1'? 'Brand' : 'Agency') : 'Na' | titlecase }}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="companyLogo">
                                                    <img src="{{ companyInfo.companyLogo }}" alt="company logo" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profileInfoBox" [hidden]="!showCompanyEditForm">
                        <div class="row">
                            <div class="col-md-3">
                                <figure>
                                    <img src="{{ companyInfo.companyLogo }}" alt="company logo">
                                </figure>
                            </div>
                            <div class="col-md-9">
                                <form [formGroup]="changeCompanyInfoForm" #changeCompanyInfo="ngForm" (ngSubmit)="saveCompanyInfoFormAction(changeCompanyInfoForm.value)">
                                    <div class="customForm">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Company Name <span class="text-danger">*</span></label>
                                                    <input type="text" placeholder="Enter company name" formControlName="companyName" class="form-control" 
                                                    [ngClass]="{ 'is-invalid': submittedCompanyInfoForm && fCompanyInfo.companyName.errors }">
                                                    <div *ngIf="submittedCompanyInfoForm && fCompanyInfo.companyName.errors" class="invalid-feedback">
                                                        <div *ngIf="fCompanyInfo.companyName.errors.required">Company name is required</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Industry <span class="text-danger">*</span></label>
                                                    <select  class="form-control" formControlName="industry"
                                                    [ngClass]="{ 'is-invalid': submittedCompanyInfoForm && fCompanyInfo.industry.errors }" tabindex="2">
                                                        <option [value]="">Choose Industry</option>
                                                        <option [value]="industryData.id" *ngFor="let industryData of allIndustries">{{ industryData.name | titlecase }}</option>
                                                    </select>
                                                    <div *ngIf="submittedCompanyInfoForm && fCompanyInfo.industry.errors" class="invalid-feedback">
                                                        <div *ngIf="fCompanyInfo.industry.errors.required">Industry is required</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Currency <span class="text-danger">*</span></label>
                                                        <select  class="form-control" formControlName="currency"
                                                        [ngClass]="{ 'is-invalid': submittedCompanyInfoForm && fCompanyInfo.currency.errors }" tabindex="6">
                                                            <option [value]="">Choose Currency</option>
                                                            <option [value]="countryData.id" *ngFor="let countryData of allCurrencies">{{ countryData.name | titlecase }}</option>
                                                        </select>
                                                        <div *ngIf="submittedCompanyInfoForm && fCompanyInfo.currency.errors" class="invalid-feedback">
                                                            <div *ngIf="fCompanyInfo.currency.errors.required">Country is required</div>
                                                        </div>
                                                    </div>
                                                </div>
                                           
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Country <span class="text-danger">*</span></label>
                                                    <select  class="form-control" formControlName="country"
                                                    [ngClass]="{ 'is-invalid': submittedCompanyInfoForm && fCompanyInfo.country.errors }" tabindex="6">
                                                        <option [value]="">Choose Country</option>
                                                        <option [value]="countryData.countryname | titlecase" *ngFor="let countryData of allCountries">{{ countryData.countryname | titlecase }}</option>
                                                    </select>
                                                    <div *ngIf="submittedCompanyInfoForm && fCompanyInfo.country.errors" class="invalid-feedback">
                                                        <div *ngIf="fCompanyInfo.country.errors.required">Country is required</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Company Type <span class="text-danger">*</span></label>
                                                    <select formControlName="companyType" class="form-control" 
                                                    [ngClass]="{ 'is-invalid': submittedCompanyInfoForm && fCompanyInfo.companyType.errors }">
                                                        <option [value]="">Company Type</option>
                                                        <option [value]="2">Agency</option>
                                                        <option [value]="1">Brand</option>
                                                    </select>
                                                    <div *ngIf="submittedCompanyInfoForm && fCompanyInfo.companyType.errors" class="invalid-feedback">
                                                        <div *ngIf="fCompanyInfo.companyType.errors.required">Company type is required</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="companyLogo">
                                                        <!-- <img src="{{ companyInfo.companyLogo }}" alt="company logo" /> -->
                                                        <figure>
                                                            <div class="avatar-edit">
                                                                <input type='file' id="companyLogo" accept=".png, .jpg, .jpeg" formControlName="companyLogo"
                                                                    (change)="changeListener($event, 'logo')" />
                                                                <label for="companyLogo"></label>
                                                            </div>
                                                            <div class="avatar-preview">
                                                                <div [style.backgroundImage]="'url('+ logo +')'">
                                                                </div>
                                                            </div>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    
                                                    <button type="submit" class="btn btn-success">Save</button>&nbsp;&nbsp;
                                                    <button type="button" class="btn btn-default" (click)="editCompanyInfo()">Cancel</button>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="companyBoxes">
                    <h3>Personal Information</h3>
                    <a class="editForm" *ngIf="!showPersonalEditForm" (click)="editPersonalInfo()"></a>
                    <a class="editForm active" *ngIf="showPersonalEditForm" (click)="editPersonalInfo()"></a>
                    <!-- edit icon -->
                    <div class="profileInfoBox" [hidden]="showPersonalEditForm">
                        <div class="profilePicWrap">
                            <figure>
                                <img src="{{ personalInfo.photo }}" alt="personal image">
                            </figure>
                            <figcaption>
                                <h4>7.5k</h4>
                                <span>followers</span>
                            </figcaption>
                        </div>
                        <div class="customForm">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <p>{{ personalInfo.firstName ? (personalInfo.firstName) : 'N/A' }}</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <p>{{ personalInfo.lastName ? (personalInfo.lastName) : 'Na' }}</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <p>{{ personalInfo.title ? (personalInfo.title) : 'Na' }}</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <p>{{ personalInfo.email ? personalInfo.email : 'Na' }}</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <p>{{ personalInfo.personalPhNo ? personalInfo.personalPhNo : 'Na' }}</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <a class="changePassword" (click)="changePasswordModal(changePassword)">Change password</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="profileInfoBox" [hidden]="!showPersonalEditForm">
                        <form [formGroup]="changePersonalInfoForm" #changePersonalInfo="ngForm" (ngSubmit)="savePersonalInfoFormAction(changePersonalInfoForm.value)">
                            <div class="companyLogo">
                                <figure>
                                    <div class="avatar-edit">
                                        <input type='file' id="profileImage" accept=".png, .jpg, .jpeg" formControlName="profileImage"
                                            (change)="changeListener($event, 'image')" />
                                        <label for="profileImage"></label>
                                    </div>
                                    <div class="avatar-preview">
                                        <div [style.backgroundImage]="'url('+ image +')'">
                                        </div>
                                    </div>
                                </figure>
                                <!-- <figcaption>
                                    <h4>7.5k</h4>
                                    <span>followers</span>
                                </figcaption> -->
                            </div>
                            <div class="customForm">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>First Name <span class="text-danger">*</span></label>
                                            <input type="text" placeholder="Enter first name" formControlName="firstName" class="form-control" 
                                            [ngClass]="{ 'is-invalid': submittedPersonalInfoForm && fPersonalInfo.firstName.errors }">
                                            <div *ngIf="submittedPersonalInfoForm && fPersonalInfo.firstName.errors" class="invalid-feedback">
                                                <div *ngIf="fPersonalInfo.firstName.errors.required">First name is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Last Name <span class="text-danger">*</span></label>
                                            <input type="text" placeholder="Enter last name" formControlName="lastName" class="form-control" 
                                            [ngClass]="{ 'is-invalid': submittedPersonalInfoForm && fPersonalInfo.lastName.errors }">
                                            <div *ngIf="submittedPersonalInfoForm && fPersonalInfo.lastName.errors" class="invalid-feedback">
                                                <div *ngIf="fPersonalInfo.lastName.errors.required">Last name is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Title <span class="text-danger">*</span></label>
                                            <input type="text" placeholder="Enter title" formControlName="title" class="form-control" 
                                            [ngClass]="{ 'is-invalid': submittedPersonalInfoForm && fPersonalInfo.title.errors }">
                                            <div *ngIf="submittedPersonalInfoForm && fPersonalInfo.title.errors" class="invalid-feedback">
                                                <div *ngIf="fPersonalInfo.title.errors.required">Title is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Email <span class="text-danger">*</span></label>
                                            <p>{{ personalInfo.email ? personalInfo.email : 'Na' }}</p>
                                            <input type="hidden" placeholder="Enter email" formControlName="email" class="form-control" 
                                            [ngClass]="{ 'is-invalid': submittedPersonalInfoForm && fPersonalInfo.email.errors }">
                                            <div *ngIf="submittedPersonalInfoForm && fPersonalInfo.email.errors" class="invalid-feedback">
                                                <div *ngIf="fPersonalInfo.email.errors.required">Email is required</div>
                                                <div *ngIf="fPersonalInfo.email.errors.email">Email must be a valid email address</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Phone <span class="text-danger">*</span></label>
                                            <input type="text" placeholder="Enter phone no" formControlName="phNo" class="form-control" 
                                            [ngClass]="{ 'is-invalid': submittedPersonalInfoForm && fPersonalInfo.phNo.errors }">
                                            <div *ngIf="submittedPersonalInfoForm && fPersonalInfo.phNo.errors" class="invalid-feedback">
                                                <div *ngIf="fPersonalInfo.phNo.errors.required">Phone no is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                                <label class="w-100">&nbsp;</label>
                                            <button type="submit" class="btn btn-success">Save</button>&nbsp;&nbsp;
                                            <button type="button" class="btn btn-default" (click)="editPersonalInfo()">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="companyBoxeswithout">
                    <h3>Brand Information</h3>
                    <a class="addForm" (click)="submitBrandModal(submitBrand)"></a>
                    <div class="brandInfoTable">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Brand Name</th>
                                    <th>Industry</th>
                                    <th>Country</th>
                                    <th>Logo</th>
                                    <!-- <th>Media</th> -->
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody *ngIf = "allBrands.length">
                                <tr *ngFor ="let brand of allBrands">
                                    <td class="compName">{{brand.brand_name}}</td>
                                    <td>{{brand.Industry?brand.Industry.name:''}}</td>
                                    <td>{{brand.country}}</td>
                                    <td class="logoUplaod">
                                        <figure><img src="{{brandImagePath +'thumb/' +brand.logo}}" alt=""></figure>
                                        <span class="btnLink"><img src="assets/brand-owner/images/link-chain-grey.png" alt=""></span>
                                    </td>
                                    <!-- <td>{{brand.Platform?brand.Platform.name:''}}</td> -->
                                    <td class="actions">
                                        <a (click)="editBrandModal(submitBrand, brand.id, brand.brand_owner_id, brand.industry_id, brand.country, brand.brand_name, brand.logo, brand.platform_id)"><img src="assets/brand-owner/images/icon-edit.png" alt=""></a>
                                        <a (click)="deleteBrandModal(confirmDeleteBrand, brand.id, brand.brand_name)"><img src="assets/brand-owner/images/icon-delete.png" alt=""></a>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf = "!allBrands.length">
                                <tr>
                                    <td colspan="6">No Data Found</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--company_info_right-->
        </div>
        <!--company_info-->
    </div>
    <!--profile_box-->
</section>
<!--profile_holder-->

<!-- Change Password Modal -->
<ng-template class="modal customModal" #changePassword>
    <form [formGroup]="changePasswordForm" #changePasswordInfo="ngForm" (ngSubmit)="saveChnagePasswordAction(changePasswordForm.value)">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Change Password </h4>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Old Password <span class="text-danger">*</span></label>
                        <div class="input-group mb-3">
                            <input type="password" #pwd0 placeholder="Old password" formControlName="oldPassword" class="form-control"
                            [ngClass]="{ 'is-invalid': submittedChangePasswordForm && fChangePassword.oldPassword.errors }" />
                            <div class="input-group-append" (click)="pwd0.type=pwd0.type=='text' ? 'password' : 'text'">
                                <span class="input-group-text">
                                    <i class="fa" [ngClass]="{'fa-eye':pwd0.type=='text', 'fa-eye-slash':pwd0.type=='password'}"></i>
                                </span>
                            </div>
                            <div *ngIf="submittedChangePasswordForm && fChangePassword.oldPassword.errors" class="invalid-feedback">
                                <div *ngIf="fChangePassword.oldPassword.errors.required">Old Password is required</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>New Password <span class="text-danger">*</span></label>
                        <div class="input-group mb-3">
                            <input type="password" #pwd1 placeholder="New password" formControlName="newPassword" class="form-control"
                            [ngClass]="{ 'is-invalid': submittedChangePasswordForm && fChangePassword.newPassword.errors }" />
                            <div class="input-group-append" (click)="pwd1.type=pwd1.type=='text' ? 'password' : 'text'">
                                <span class="input-group-text">
                                    <i class="fa" [ngClass]="{'fa-eye':pwd1.type=='text', 'fa-eye-slash':pwd1.type=='password'}"></i>
                                </span>
                            </div>
                            <div *ngIf="submittedChangePasswordForm && fChangePassword.newPassword.errors" class="invalid-feedback">
                                <div *ngIf="fChangePassword.newPassword.errors.required">Old Password is required</div>
                                <div *ngIf="changePasswordForm.controls['newPassword'].errors.pattern" >Password must be 8 to 20 characters long and should contain uppercase letters, lowercase letters, numbers, and special characters.</div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Confirm Password <span class="text-danger">*</span></label>
                        <div class="input-group mb-3">
                            <input type="password" #pwd2 placeholder="Confirm password" formControlName="confirmPassword" class="form-control" 
                            [ngClass]="{ 'is-invalid': submittedChangePasswordForm && fChangePassword.confirmPassword.errors }" />
                            <div class="input-group-append" (click)="pwd2.type=pwd2.type=='text' ? 'password' : 'text'">
                                <span class="input-group-text">
                                    <i class="fa" [ngClass]="{'fa-eye':pwd2.type=='text', 'fa-eye-slash':pwd2.type=='password'}"></i>
                                </span>
                            </div>
                            <div *ngIf="submittedChangePasswordForm && fChangePassword.confirmPassword.errors" class="invalid-feedback">
                                <div *ngIf="fChangePassword.confirmPassword.errors.required">Confirm Password is required</div>
                                <div *ngIf="fChangePassword.confirmPassword.errors.mustMatch">Passwords must match</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="submit" class="btn btn-success">Save</button>
            <button type="button" class="btn btn-danger" (click)="modalRef.hide()">Close</button>
        </div>
    </form>
</ng-template>

<!-- CREATE Or Edit Brand Modal -->
<ng-template class="modal msg_popup" style="width: 700px;" #submitBrand>
    <div class="modal-header">
        <h5 class="modal-title">{{editBrandId? 'Edit Brand':'Create New Brand'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
    <div class="profileInfoBox">
    <form [formGroup]="manageBrandForm" #manageBrand="ngForm" (ngSubmit)="saveBrandData(manageBrand.value)">
        <div class="companyLogo">
            <figure>
                <div class="avatar-edit">
                    <input type='file' id="logo" accept=".png, .jpg, .jpeg" formControlName="logo"
                        (change)="changeListener($event, 'image')" />
                    <label for="logo"></label>
                </div>
                <div class="avatar-preview">
                    <div [style.backgroundImage]="'url('+ image +')'">
                    </div>
                </div>
            </figure>
        </div>
        <div class="customForm">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Industry <span class="text-danger">*</span></label>
                        <select  class="form-control" formControlName="industry"
                        [ngClass]="{ 'is-invalid': submittedBrandInfoForm && fBrandInfo.industry.errors }" tabindex="2">
                            <option [value]="">Choose Industry</option>
                            <option [value]="industryData.id" *ngFor="let industryData of allIndustries">{{ industryData.name }}</option>
                        </select>
                        <div *ngIf="submittedBrandInfoForm && fBrandInfo.industry.errors" class="invalid-feedback">
                            <div *ngIf="fBrandInfo.industry.errors.required">Industry is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Country <span class="text-danger">*</span></label>
                        <select  class="form-control" formControlName="country"
                        [ngClass]="{ 'is-invalid': submittedBrandInfoForm && fBrandInfo.country.errors }" tabindex="6">
                            <option [value]="">Choose Country</option>
                            <option [value]="countryData.countryname" *ngFor="let countryData of allCountries">{{ countryData.countryname  }}</option>
                        </select>
                        <div *ngIf="submittedBrandInfoForm && fBrandInfo.country.errors" class="invalid-feedback">
                            <div *ngIf="fBrandInfo.country.errors.required">Country is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Brand Name  <span class="text-danger">*</span></label>
                        <input type="text" placeholder="Enter brand name" formControlName="brandName" class="form-control" 
                        [ngClass]="{ 'is-invalid': submittedBrandInfoForm && fBrandInfo.brandName.errors }">
                        <div *ngIf="submittedBrandInfoForm && fBrandInfo.brandName.errors" class="invalid-feedback">
                            <div>Brand name is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Platform <span class="text-danger">*</span></label>
                        <select  class="form-control" formControlName="platform" 
                        [ngClass]="{ 'is-invalid': submittedBrandInfoForm && fBrandInfo.platform.errors }" tabindex="6">
                            <option [value]="">Choose Platform</option>
                            <option [value]="platformData.id" *ngFor="let platformData of allPlatforms">{{ platformData.name }}</option>
                        </select>
                        <div *ngIf="submittedBrandInfoForm && fBrandInfo.platform.errors" class="invalid-feedback">
                            <div *ngIf="fBrandInfo.platform.errors.required">Please selectPlatform</div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="w-100">&nbsp;</label>
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
</div>
</ng-template>

<!-- Delete Brand Modal -->
<ng-template class="modal" #confirmDeleteBrand>
    <div class="modal-header">
      <p>Do you want to remove “{{deleteBrandName}}” from Brand’s List?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="deleteBrand()">Yes</button>
      <button type="button" class="btn btn-danger" (click)="modalRef.hide()">No</button>
    </div>
  </ng-template>