@import "../brand-owner";

.profileInfoBox{
    form{
        display: flex;
    }
}
.invalid-feedback{
    display: block;
}
.form-group {
    .input-group-append {
        .input-group-text {  
            border: 1px solid #ced4da;
            border-radius: 0 .25rem .25rem 0;
        } 
        :hover{
            cursor: pointer
        }
    }
}

.companyLogo{
    .avatar-preview{
        width: 150px;
        height: 150px;
        position: relative;
        div{
            width: 100%;
            height: 100%;
            position: absolute;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            border: 1px solid #ccc;
        }
    }
    .avatar-edit{
        position: relative;
        input[type="file"]{
            width: 20px;
            height: 20px;
            position: absolute;
            top: 25px;
            right: 0;
            z-index: 8;
            cursor: pointer;
            display: none;
        }
        label{
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            padding: 3px;
            margin-bottom: 0;
            background:#fff URL("assets/brand-owner/images/link-chain.png") no-repeat center;
            // background-size: 34px auto;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            position: absolute;
            right: 3px;
            top: 3px;
            z-index: 8;
            box-shadow: 0 2px 10px rgba(0,0,0,.2);
        }
    }
}

.profileInfoBox{
    .companyLogo{
        margin-right: 25px;
        .avatar-preview{
            width: 130px;
            height: 130px;
        }
    }
    .profilePicWrap{
        figure{
            position: relative;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                left: 0;
                top: 0;
            }
        }
    }
}



