<section class="contact_holder">
  <!--contact_holder-->
  <div class="contact_box">
    <!--contact_box-->
    <div class="container" [innerHtml]="cmaLang.description">
      <!-- <div class="row">
        <div class="text-center w-70 m-auto">
          <h2 class="font-family-secondary font-weight-600">Get in touch with us</h2>
          <p class="pb-4 h5 font-weight-300">We're here to assist and answer all questions you have as we help
            your business grow stronger. <a class="text-warning">Click on live chat</a> to speak with someone now.
            You can find more customer support options listed below.</p>

          <h3 class="mt-4 pb-4 mb-4">Contact us</h3>
          <div class="bg-white d-flex _ctbox">
            <div class="border-right border-medium _ctChild">
              <h4 class="font-family-secondary font-weight-600">Opening hours</h4>
              <p class="text-gray mb-0">Sat - Thu, 9am - 5pm</p>
            </div>
            <div class="border-right border-medium _ctChild">
              <h4 class="font-family-secondary font-weight-600">Call us</h4>
              <p class="text-gray mb-0">+962 795552676</p>
            </div>
            <div class="_ctChild">
              <h4 class="font-family-secondary font-weight-600">Drop us an email</h4>
              <p class="text-gray mb-0">Sales: sales@influnaire.com</p>
            </div>
          </div>
        </div>
      </div>
      <div class="_ctmap mt-4 pt-4">
        <h3 class="text-center mt-4 mb-4 pb-4">Visit our office</h3>
        <div class="d-flex border border-medium shadow-1">
          <img src="assets/front_end/images/contact-map.jpg" />
          <div class="d-flex align-items-center p-5">
            <i class="fa fa-map-marker text_blue mr-4"></i>
            <p class="h6">
              <a class="text_blue d-block mb-2">Influnaire Headquarter</a>
              185 Wasfi Al Tal Street, Amman, Jordan</p>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <div id="page-loading" *ngIf ="loading">
    <div class="loading"></div>
    <div class="content">
      <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
  </div>
</div>
</section>