<section class="message_holder">
  <!--message_holder-->
  <div class="title">
    <h2>Current Messages</h2>
  </div>

  <div class="table_row">
    <!--table_row-->
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Campaign Name</th>
            <th>Brand Owner</th>
            <th>Influencer Name</th>
          </tr>
        </thead>

        <tbody *ngIf = "latestMessages.length">
          <tr  *ngFor="let campMessage of latestMessages| paginate: messageConfig; let i=index">
            <td >
              {{test(i)}}{{testData}}
              <strong>{{(campMessage.campaign_name)?campMessage.campaign_name:'NA'}}</strong>
            </td>
            <td>
              <a>
                <figure>
                  <img *ngIf = "brandOwnerImagePath && campMessage.BrandOwner.profile_image" src="{{brandOwnerImagePath + campMessage.BrandOwner.profile_image}}" alt="">
                  <span>{{(campMessage.BrandOwner)?campMessage.BrandOwner.company_name:''}}</span>
                </figure>
                <strong>{{(campMessage.BrandOwner)?campMessage.BrandOwner.company_name:''}}</strong>
              </a>
            </td>
            <td >
              <a *ngFor = "let influncer of campMessage.CampaignAssigns" routerLink="{{'/brand-owner/message-detail/'+campMessage.id+'/'+influncer.influencer_id+'/'+campMessage.brand_owner_id}}">
                <figure>
                  <img *ngIf = "influencerImagePath && influncer.picture" src="{{influencerImagePath + influncer.picture}}" >
                  <img *ngIf = "!influencerImagePath || !influncer.picture" src="assets/influencers/images/no-user.jpg" >
                 
                  <span>{{messCnt && messCnt[influncer.campaign_id]?influncer.Influencer.first_name+' '+influncer.Influencer.last_name+'('+messCnt[influncer.campaign_id][influncer.influencer_id]+')':influncer.Influencer.first_name+' '+influncer.Influencer.last_name+'(0)'}}</span>
                </figure>

              </a>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf = "!latestMessages.length">
            <tr >
                <td colspan="3">No Message Found</td>
              </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="messagePageChanged($event)"></pagination-controls>
    </div>
  </div>
  <!--table_row-->
</section>
<!--message_holder-->