body {
    margin: 0; 
    font-family: 'Arsenal', sans-serif;
    font-weight: 400;
    }

ul,li{
    padding: 0;
    margin: 0;
    list-style: none;
}
img{ max-width: 100%; vertical-align: top; }
figure{ margin: 0;}
a{ cursor: pointer;}
a.btn:hover, button:hover, a:hover{ text-decoration: underline!important}
a.btn{ transition: none}
                        
::placeholder {
    // color: red;
    opacity: 1;   
  }               

  
/*-----------------radio-&-checkbox-design----------------*/


input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
}

input[type=checkbox]:not(old) + label > span,
input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 0.875em;
  height           : 0.875em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid rgb(192,192,192);
  border-radius    : 0.25em;
  background       : rgb(224,224,224);
  vertical-align   : bottom;
}

input[type=checkbox]:not(old):checked + label > span,
input[type=radio   ]:not(old):checked + label > span{
  background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
}

input[type=checkbox]:not(old):checked + label > span:before{
  content     : '✓';
  display     : block;
  width       : 1em;
  color       : rgb(153,204,102);
  font-size   : 0.875em;
  line-height : 1em;
  text-align  : center;
  text-shadow : 0 0 0.0714em rgb(115,153,77);
  font-weight : bold;
}

input[type=radio]:not(old):checked +  label > span > span{
  display          : block;
  width            : 0.5em;
  height           : 0.5em;
  margin           : 0.125em;
  border           : 0.0625em solid rgb(115,153,77);
  border-radius    : 0.125em;
  background       : rgb(153,204,102);
}


/*-------------admin-table-design--------------------*/


.table_row{
  .table-responsive{
      .table{
          thead{
              th{
                  border: $zro;
                  text-transform: uppercase;
                  color: #3a3a3a;
                  font-size: 14px;
                  font-weight: $bld;
                  text-align: $cntr;
                  font-family: 'Open Sans', sans-serif;
              }
          }
          tbody{
              tr{
                  td{
                      background: $whte;
                      border-bottom: 1px solid #eee;
                      color: #545454;
                      font-size: 14px;
                      font-weight: $nrml;
                      border-top: $zro;
                      text-align: $cntr;
                      vertical-align: middle;
                      font-family: 'Open Sans', sans-serif;
                      figure{
                          width: ($m5 * 6);
                          height: ($m5 * 6);
                          position: $rltv;
                          border-radius: $hlf;
                          margin: $zro 2px;
                          display: $inblk;
                          img{
                              width: $full;
                              height: $full;
                              position: $absl;
                              left: $zro;
                              top: $zro;
                          }
                          span{
                              display: $blk;
                              position: $absl;
                              top: -35px;
                              left: ($m5 * 3);
                              transform: translate(-$hlf, $zro);
                              color: $whte;
                              background: #0f5ac1;
                              font-weight: $bld;
                              width: ($m10 * 10);
                              text-align: $cntr;
                              line-height: ($m10 * 3);
                              font-family: 'Open Sans', sans-serif;
                              display: none;
                              border-radius: $m5;
                          }
                          span:before{ 
                              position: absolute;
                              left: 50%;
                              bottom: -17px;
                              content: "\f0d7";
                              font-family: 'FontAwesome';
                              vertical-align: bottom;
                              color: #0f5ac1;
                              margin-left: -5px;
                          }
                      }
                      figure:hover span{
                          display: $blk;
                      }
                      a.social-icon{
                          i{
                              width: ($m10 * 3);
                              height: ($m10 * 3);
                              line-height: ($m10 * 3 - 2);
                              margin: $zro 1px;
                              border-radius: $hlf;
                              color: #1e6dcf;
                              border: 2px solid #1e6dcf;
                          }
                          i.fa-instagram{
                              color: #ac2c9a;
                              border: $zro;
                              font-size: ($m5 * 5);
                              vertical-align: middle;
                          }
                      }
                      a.more{
                          display: $inblk;
                          font-size: $m12;
                          color: #ed8c24;
                          font-weight: $bld;
                          line-height: ($m10 * 3);
                          padding: $zro ($m5 * 5);
                          text-transform: uppercase;
                          border: 1px solid #ed8c24;
                          border-radius: ($m12 * 2);
                          font-family: 'Open Sans', sans-serif;
                          i.fa-long-arrow-right{
                              margin-left: ($m5 * 3);
                          }
                          i.fa-check{
                              margin-left: $zro;
                              margin-right: $m10;
                          }
                      }
                  }
                  td:first-child{
                    border-radius: $m5 $zro $zro $m5;
                  }
                  td:last-child{
                    border-radius: $zro $m5 $m5 $zro;
                  }
              }
          }
      }
  }
}

.social-icon{
    i{
        width: ($m10 * 3);
        height: ($m10 * 3);
        line-height: ($m10 * 3 - 2);
        border-radius: $hlf;
        text-align: center;
    }
}