
.contact_holder{
    margin-top: ($m5 * 15);
    padding: ($m10 * 8) $zro;
    font-size: 15px;
    color: #3c3c3c;
    h2{
        font-size: 48px;
    }
    ._ctbox{
        border-radius: $m10;
        box-shadow: 0 .1rem 0.5rem rgba(0,0,0,.15)!important;
        ._ctChild{
            padding: 0 ;
            flex: 1;
            padding: ($m10*3);
        }
    }
    ._ctmap{
        margin-bottom: 100px;
        i.fa-map-marker{
            font-size: 52px;
        }
    }
}

