
.influencer_holder{
    .infl_banner{
        background-image: url("/assets/front_end/images/infl-banner.jpg"); 
        position: $rltv;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        min-height: 770px;
        margin-top: 30px;
        padding-top: ($m10 * 4 + $m5);
        .infl_banner_text{
            padding: ($m10 * 14 - 2) $zro $zro;
            h2{
                max-width: 537px;
                line-height: 84px;
                color: $whte;
                font-style: italic;
                font-weight: $bld;
                font-size: ($m10 * 9 );
                margin: $zro $zro ($m5 * 5);
                font-family: 'Arsenal', sans-serif;
            }
            span{
                display: $blk;
                color: $whte;
                font-weight: $nrml;
                font-size: ($m10 * 2 - 1);
                margin-bottom: ($m5 * 8);
                font-family: 'Arsenal', sans-serif;
            }
            a{
                display: $inblk;
                color: $whte;
                background: #ed8c24;
                border-radius: ($m12 * 4);
                line-height: ($m10 * 8);
                padding: $zro ($m5 * 11);
                font-size: ($m5 * 6 - 2);
                font-weight: $smbld;
                font-family: 'Open Sans', sans-serif;
                box-shadow: 0 0px 2px rgba(0,0,0,0.6);
            }
        }
    }
    .infl_brand{
        padding: ($m12 * 5) $zro;
        border-bottom: 1px solid #ccc;
        
        h2{
            color: #3c3c3c;
            font-size: ($m12 * 4);
            font-weight: $smbld;
            text-align: $cntr;
            margin: $zro $zro ($m10 * 5);
            font-family: 'Open Sans', sans-serif;
            span{
                color: #3086e7;
            }
        }

    }
     
    .infl_midd{
        h3{
            color: #3c3c3c;
            font-size: ($m12 * 4);
            line-height: ($m10 * 5 + 3);
            margin:  $zro $zro ($m5 * 7);
            font-weight: $smbld;
            font-family: 'Open Sans', sans-serif;
        }
        p{
            color: #757575;
            font-size: ($m5 * 3);
            font-weight: $nrml;
            font-family: 'Open Sans', sans-serif;
        }
        
        .infl_midd_top{
            padding: ($m10 * 10) $zro;
            background: url("/assets/front_end/images/bg.jpg") no-repeat center;
            background-size: cover;
        }
        .infl_midd_bottom{
            background: #eee;
            padding: ($m10 * 4) $zro;
            ul{
                
                li{
                    display: $flx;
                    justify-content: space-between;
                    padding: $zro $zro ($m5 * 8);
                    figure{
                        width: 48%;
                    }
                    .infl_midd_text{
                        width: 48%;
                        align-self: $cntr; 
                       
                    }
                }
                li:nth-child(even){
                    flex-direction: row-reverse;
                }
            }
        }
    }
    .infl_money{
        padding: ($m10 * 11) $zro;
        background: #eee;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        h2{
            text-align: $cntr;
            color: #3c3c3c;
            font-size: ($m12 * 4);
            font-weight: $smbld;
            line-height: ($m10 * 5 + 3);
            margin: $zro $zro ($m10 * 10);
            font-family: 'Open Sans', sans-serif;
            span{
                color: #3086e7;
                
            }
        }
        ul{
            display: $flx;
            justify-content: space-around;
            flex-wrap: wrap;
            li{
                width: $hlf;
                position: $rltv;
                padding-bottom: ($m5 * 17);
                span{
                    display: $blk;
                    background: $whte;
                    color: $blck;
                    text-align: $cntr;
                    width: $full;
                    max-width: ($m10 * 10);
                    line-height: ($m12 * 3);
                    border-radius: ($m12 * 2);
                    position: $absl;
                    top: $zro;
                    left: -17px;
                    color: #3c3c3c;
                    font-size: ($m5 * 3);
                    font-weight: $smbld;
                    text-transform: uppercase;
                    box-shadow: 0 2px 2px rgba(0,0,0,0.5);
                }
            }
            li:nth-child(3),
            li:last-child{
                text-align: $rht;
                span{
                    left: inherit;
                    right: 202px;
                }
            }
        }
        .more{
            text-align: $cntr;
            a{
                display: $inblk;
                color: $whte;
                background: #ed8c24;
                border-radius: ($m12 * 4);
                line-height: ($m10 * 8);
                padding: $zro ($m5 * 11);
                font-size: ($m10 * 3 - 2);
                font-weight: $smbld;
                font-family: 'Open Sans', sans-serif;
                box-shadow: 0 0px 2px rgba(0, 0, 0, 0.4);
            }
            
        }
    }
    .inflBottom{
        padding: ($m12 * 8) $zro;
        background: #eee;
        .title{
            margin-bottom: ($m12 * 7);
            text-align: $cntr;
            h2{
                color: #3c3c3c;
                font-size: ($m12 * 4);
                line-height: ($m12 * 4);
                font-weight: $smbld;
                margin: $zro $zro ($m10 * 3);
                font-family: 'Open Sans', sans-serif;
            } 
            span{
                display: $blk;
                color: #757575;
                font-size: ($m5 * 5);
                font-weight: $nrml;
                font-family: 'Open Sans', sans-serif;
            }
        }
        .inflBottom_widget{
            padding: ($m10 * 11) $zro ($m12 * 7);
        }
    }
}









