
.infl_brand{
    .owl-theme{
        .owl-nav{
            margin: $zro;
            position: $absl; 
            top: $hlf;
            width: $full;
            display: $flx;
            justify-content: space-between;
            transform: translate($zro, -$hlf);
            button{
                span{
                    font-size: ($m5 * 8);
                    margin: $zro;
                    padding: $zro $m10;
                }
            }
        }
    }
}
.owl-theme .owl-nav [class*="owl-"]:hover{
    background: transparent !important;
    color: #333 !important;
    
}
.inflBottom{
    .owl-theme{
        .item{
            margin: $zro ($m12);
            display: $flx;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: $cntr;
            border-bottom: 1px solid #ccc;
            padding-bottom: ($m10 * 3);
            figure{
                width: $full;
                margin: $zro $zro ($m10 * 3);
                img{
                    width: $full;
                }
            }
            h3{
                color: #33a0f3;
                font-size: ($m10 * 3);
                font-weight: $bld;
                margin: $zro;
                font-family: 'Arsenal', sans-serif; 
            }
            span{
                display: $blk;
                color: #3c3c3c;
                font-size: 17px;
                font-weight: $nrml;
                font-family: 'Open Sans', sans-serif;
            }
        }
    }
    .owl-theme{
        .owl-nav{
            margin: $zro;
            position: $absl; 
            top: $hlf;
            width: $full;
            display: $flx;
            justify-content: space-between;
            transform: translate($zro, -$hlf);
            button{
                margin-left: (-$m10 * 4);
                margin-right: (-$m10 * 4);
                span{
                    font-size: ($m12 * 5);
                    margin: $zro;
                    padding: $zro $m10;
                }
            }
        }
    }
    
}
