
.resource_holder{
    background: url("/assets/front_end/images/marketing-bg.png") no-repeat center top;
    background-color: #eee;
    position: $rltv;
    margin-top: ($m5 * 15);
    .title{
        padding: ($m5 * 17) $zro; 
        text-align: $cntr;
        h2{
            color: #3c3c3c;
            font-size: ($m5 * 16);
            font-style: italic;
            font-weight: $bld;
            font-family: 'Arsenal', sans-serif;
        }
        span{
            display: $blk;
            font-size: ($m5 * 5);
            color: #3c3c3c;
            font-weight: $nrml;
            font-family: 'Open Sans', sans-serif;
        }
    }
    .resource_top{
        padding: $zro $zro ($m10 * 7 + 5);
        h3{
            color: #252525;
            font-size: ($m10 * 5 - 2);
            font-weight: $smbld;
            position: $rltv;
            text-align: $cntr;
            margin: $zro $zro ($m5 * 11);
            line-height: ($m12 * 3 + 2);
            font-family: 'Open Sans', sans-serif;
            a{
                display: $blk;
                text-transform: uppercase;
                color: #ed8c24;
                font-size: ($m5 * 3);
                font-weight: $bld;
                font-family: 'Open Sans', sans-serif;
                position: $absl;
                right: $zro;
                top: 0;
            }
        }
    }
    .resource_box{
        display: $flx;
        justify-content: space-between;
        margin: $zro (-$m5 * 3);
        flex-wrap: wrap;
        li{
            width: 30.555%;
            background: $whte;
            padding: $zro ($m10 * 3) ($m5 * 9);
            margin: $zro ($m5 * 3);
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
            figure{
                margin: $zro (-$m10 * 3) ($m5 * 9); 
                img{
                    width: $full;
                }
            }
            h4{
                font-size: ($m12 * 2);
                color: #3c3c3c;
                font-weight: $smbld;
                line-height: ($m5 * 7 - 1);
                margin: $zro $zro ($m5 * 3);
                font-family: 'Open Sans', sans-serif;
            }
            p{
                font-size: ($m5 * 3);
                color: #757575;
                line-height: ($m5 * 5);
                margin:  $zro $zro ($m10 * 2);
            }
            a{
                display: $inblk;
                background: #ed8c24;
                padding: $zro ($m10 * 2);
                color: $whte;
                border-radius: ($m10 * 4);
                font-size: ($m5 * 3);
                line-height: ($m5 * 7);
                font-weight: 500;
                font-family: 'Mukta', sans-serif;
            }
        }
    }
    .resource_bottom{
        padding-bottom: ($m10 * 9);
        .resource_box{
            li{
                margin-bottom: ($m10 * 3);
            }
        }
    }
    .back_blog{
        border-bottom: 1px solid #ccc;
        margin-bottom: ($m10 * 8);
        display: $flx;
        justify-content: $rht;
        a{
            display: $blk;
            color: $whte;
            font-size: ($m5 * 3);
            font-weight: $smbld;
            background: #ed8c24;
            border-radius: ($m12 * 2);
            line-height: ($m5 * 8);
            padding: $zro ($m5 * 5);
            font-family: 'Open Sans', sans-serif;
            position: $rltv;
            top: ($m10 * 2 - 1);
            i{
                margin-right: $m5;
            }
        }
    }
}
// .resource_holder:before{
//     content: "";
//     position: $absl;
//     left: $zro;
//     top: $zro;
//     width: $full;
//     height: $full;
//     background: url("/assets/front_end/images/marketing-bg.png") no-repeat center 133px;
//     background-size: contain;
// }
// .resource_holder:after{
//     content: "";
//     position: $absl;
//     left: $zro;
//     top: $zro;
//     width: $full;
//     height: $full;
//     background: #fff;
// }



