

/*-------------Responsive------------------*/

@media only screen and (max-width:1360px){
    .banner_text2{max-width: 1195px; padding: 0 15px;}
    .banner_text{ margin-top: 0;}
    .banner_text2{ margin-bottom: 100px;}
    .banner_text span{ font-size: 24px;}
    .banner_text2 b h3{ font-size: 48px;}
    .banner_text2 strong{font-size: 25px;}
}

@media screen and (max-width:1199px){

    .header ul li:nth-child(4){
        margin-right: 60px;
    }
    /*-------influencer-start-------*/
    .influencer_holder .infl_banner{ background-size: cover; min-height: auto; padding-bottom: 100px; background-position: center;}
    .influencer_holder .infl_banner .infl_banner_text h2{ font-size: 60px; line-height: 64px;}
    .influencer_holder .infl_banner .infl_banner_text a,
    .influencer_holder .infl_money .more a{ font-size: 22px;}
    .influencer_holder .infl_brand h2,
    .influencer_holder .infl_midd h3,
    .influencer_holder .infl_money h2,
    .influencer_holder .inflBottom .title h2{ font-size: 42px;}
    .inflBottom .owl-theme .item h3{ font-size: 25px;}
    .inflBottom .owl-theme .item span{ font-size: 14px;}
    
    /*-------influencer-end-------*/

    /*-------blog-start-------*/

    .bloglist_holder .bloglist_banner,
    .bloglist_holder .bloglist_bottom{ padding: 70px 0;}
    .bloglist_holder .bloglist_banner h2{ font-size: 65px;}
    .bloglist_holder .bloglist_banner ul li h3{ font-size: 26px;}
    .bloglist_holder .bloglist_bottom h2{ font-size: 42px;}
    .bloglist_holder .bloglist_bottom ul li .blog_text h3{ font-size: 22px; line-height: 30px;}
    .bloglist_holder .bloglist_bottom ul li .blog_text p{ font-size: 14px;}
    .bloglist_holder .bloglist_bottom ul li .blog_text{ padding: 20px;}
    .bloglist_holder .blog_newsletter h2{ font-size: 42px;}

    /*-------blog-end-------*/

    /*-------resource-start-------*/
    
    .resource_holder .title h2{ font-size: 60px;}
    .resource_holder .resource_box li{ margin: 0;}

    /*-------resource-end-------*/

    .login_holder .login_area .login_area_right{ padding-left: 20px;}
    .login_holder .login_area .login_area_right ul li a{ font-size: 12px; padding:0 10px; text-align: center;}
    


}

@media screen and (max-width:991px){
    .banner_text h2{ font-size: 50px; line-height: 60px; }
    .banner_text span{ font-size: 24px; margin: 0 0 24px;}
    .banner_text a{ font-size: 24px; }
    .banner_bottom_box strong{ font-size: 35px; }
    .marketing_area h3{ font-size: 22px;}
    .marketing_area ul li:nth-child(2):before{ right: 146px; top: 123px;}
    .marketing_area ul li:nth-child(2):after{ left: 145px; top: 123px; }
    .marketing_area ul li .round{ width: 220px; height: 220px;}
    .home_market_holder h2{ font-size: 35px;}
    .home_discover .widget_box_text{ padding-top: 30px;}

    .header ul{ float: none;}
    .navbar-collapse{ background: #666; padding: 10px; box-shadow: 0 2px 10px rgba(0,0,0,0.2); margin-bottom: 15px;}
    .fixed-header .navbar-collapse ul li a{ color: #fff;}

    .navbar .navbar-toggler{ background: rgba(0,0,0,0.5); border: 0; outline: 0; cursor: pointer;}

    .desktopMenu{
        display: none !important;
    }

    /*-------influencer-start-------*/

    .influencer_holder .infl_banner .infl_banner_text{ padding-top: 42px;}
    .influencer_holder .infl_banner{ padding-bottom: 40px; position: relative;}
    .influencer_holder .infl_banner:before{ position: absolute; top: 0; left: 0; content: ""; background-color: rgba(0,0,0,0.4); width: 100%; height: 100%;}
    .influencer_holder .infl_banner .infl_banner_text a, 
    .influencer_holder .infl_money .more a{ font-size: 19px; line-height: 64px;}
    .influencer_holder .infl_brand h2, 
    .influencer_holder .infl_midd h3, 
    .influencer_holder .infl_money h2, 
    .influencer_holder .inflBottom .title h2{ font-size: 36px; line-height: normal;}
    .influencer_holder .infl_midd .infl_midd_top{ padding: 60px 0;}
    .influencer_holder .infl_midd .infl_midd_bottom ul li{ padding: 0;}
    .influencer_holder .infl_money{ padding: 60px 0;}

    .influencer_holder .infl_money ul li figure{ width: 50%; }
    .influencer_holder .infl_money h2{ margin: 0 0 60px;}
    .influencer_holder .infl_money ul li{ padding-bottom: 50px;}
    .influencer_holder .inflBottom{ padding: 45px 0;}
    .influencer_holder .inflBottom .title{ margin-bottom: 40px;}
    .inflBottom .owl-theme .item h3{ font-size: 20px;}
    .inflBottom .owl-theme .item span{ font-size: 14px;}

     /*-------influencer-end-------*/

     /*---------blog-start----------*/

     .bloglist_holder .bloglist_banner h2{ font-size: 42px; line-height: 40px;}
     .bloglist_holder .bloglist_banner ul li h3{ font-size: 18px; line-height: 30px;}
     .bloglist_holder .bloglist_banner, 
     .bloglist_holder .bloglist_bottom{ padding: 50px 0;}
     .bloglist_holder .bloglist_bottom h2{ margin-bottom: 50px;}
     .bloglist_holder .bloglist_bottom ul li .blog_text{ padding: 10px; width: 100%; position: relative; top: 0; left: 0;}
     .bloglist_holder .bloglist_bottom ul li .blog_text p{ font-size: 12px;}
     .bloglist_holder .bloglist_bottom ul li{ width: 32.333%; margin-bottom: 20px; padding: 5px;}
     .bloglist_holder .blog_newsletter h2{ font-size: 32px;}

    /*---------block-end-------------*/

    /*-------resource-start-------*/
    
    .resource_holder .title h2{ font-size: 50px;}
    .resource_holder .title span{ font-size: 22px;}
    .resource_holder .resource_top h3{ font-size: 32px;}
    .resource_holder .title{ padding: 50px 0;}
    .resource_holder .resource_box li{ padding: 0 20px 45px;}

    /*-------resource-end-------*/

    /*-----------login -start-----------*/
    .login_holder .login_area.small,
    .forget_holder .login_area{ width: 100% !important;}

    .login_holder .login_area{ flex-direction: column;}
    .login_holder .login_area .login_area_left{ width: 100%;}
    .login_holder .login_area .login_area_midd{ display: none;}
    .login_holder .login_area .login_area_right{ width: 100%; padding: 0 0 30px;}


}

@media screen and (max-width:767px){

    .container{ max-width: 100%; }
    .banner_text h2{ font-size: 40px; line-height: 48px;}
    .banner_text span{ font-size: 22px; margin: 0 0 15px;}
    .banner_text a{ font-size: 22px; line-height: 60px; }

    .banner_bottom{ padding: 25px 0;}
    .banner_bottom_box strong{ font-size: 28px;}
    .banner_bottom_box{ margin: 0 0 12px; text-align: center;}
    .banner_bottom_box:nth-child(3),
    .banner_bottom_box:nth-child(4){ margin: 0; }
    .marketing_area{ padding: 30px 0; background: none;}
    .marketing_area h3{ font-size: 20px;}
    .marketing_area ul li{width: 100%; padding: 0; margin: 0; float: none;}
    .marketing_area ul li:first-child{ margin: 0 0 20px;}
    .marketing_area ul li:last-child{ margin-top: 20px;}
    .marketing_area ul li:nth-child(2):after{ display: none;}
    .marketing_area ul li:nth-child(2):before{ width: 83%; right: 61px; height: 2px; transform: rotate(-90deg);}
    .home_market_holder{ padding: 20px 0 0;}
    .home_discover h2{ padding: 0 0 40px; font-size: 32px;}
    .home_discover:nth-child(even) .row{ margin-left: -15px; }
    .home_discover:nth-child(odd) .row{ margin-right: -15px; }
    .home_discover .widget_box{ padding: 15px; position: relative;}
    .home_discover:nth-child(2){ display: flex; flex-direction: column;}
    .home_discover:nth-child(2) .widget_box_text{ order: 2;}
    .home_discover .widget_box_text p{ font-size: 14px; line-height: 23px;}
    .home_discover .widget_box_text h3{ font-size: 20px;}
    .home_discover .widget_box_text strong{ font-size: 16px;}

    .blue_brand{ background: #2f78db; text-align: center; padding: 40px 0;}
    .blue_brand .blue_brand_left span{ font-size: 22px;}
    .blue_brand .blue_brand_left h2{ font-size: 32px;}
    .blue_brand .blue_brand_right{ margin: 20px 0 0; text-align: center;}
    .blue_brand .blue_brand_right a{ line-height: 55px; font-size: 22px;}
    .testi_holder{ padding: 40px 0 105px;}
    .testi_holder h2{ margin: 0 0 16px; font-size: 22px;}
    .testi_holder .testi_left{ margin: 0 0 30px;}
    .testi_right ul{ padding-bottom: 8px;}
    .brands_holder .brands_area strong{ font-size: 18px; padding: 0 15px 0 20px; font-size: 18px; line-height: 98px;}
    .brands_holder .brands_area strong:after{ border-width: 49px; margin-top: -49px;}
    .brands_holder .brands_area ul{ padding: 0 10px 0 54px;}
    .testi_right ul li strong{ font-size: 15px; }
    .footer_holder{ padding: 70px 0 20px;}
    .footer_sub .form .input_type{ width: 100%;}
    .footer_holder .footer_social{ margin: 10px 0;}
    .testi_holder .testi_box p{ font-size: 16px; line-height: 26px;}
    .testi_holder .testi_box{ padding: 35px 40px;}
    .brands_holder{ top: -50px;}

    .banner_text2 b h3{ font-size: 30px;}
    .banner_text2 strong{ font-size: 22px;}
    .navbar{ padding: 0 10px;}

    .marketing_area ul li:nth-child(2) b:before,
    .marketing_area ul li:nth-child(2) b:after{ display: none;}

    /*-------influencer-start-------*/
    
    .influencer_holder .infl_banner .infl_banner_text h2{ font-size: 40px; line-height: 46px; max-width: 100%;}
    .influencer_holder .infl_brand h2, 
    .influencer_holder .infl_midd h3, 
    .influencer_holder .infl_money h2,
    .influencer_holder .inflBottom .title h2{ font-size: 30px;}
    .influencer_holder .infl_banner .infl_banner_text a, 
    .influencer_holder .infl_money .more a{ font-size: 17px; line-height: 55px;}

    /*-------influencer-end-------*/

    /*---------blog-start----------*/

    .bloglist_holder .bloglist_bottom ul{ flex-direction: column;}
    .bloglist_holder .bloglist_bottom ul li{ width: 100%; margin-bottom: 30px; padding: 0 15px;}
    .bloglist_holder .blog_newsletter form{ width: 90%;}

    /*---------blog-end----------*/

    /*-------resource-start-------*/
    
    .resource_holder .title h2{ font-size: 40px;}
    .resource_holder .title span{ font-size: 18px;}
    .resource_holder .resource_top h3{ font-size: 28px;}
    .resource_holder .resource_box{ flex-direction: column;}
    .resource_holder .resource_box li{ width: 100%;}
    .resource_holder .resource_box li figure{ margin: 0 0 20px;}

    /*-------resource-end-------*/

}

@media screen and (max-width:575px){

    .banner_text h2{  font-size: 35px; line-height: 40px;}
    .banner_text span{ font-size: 19px; margin: 0 0 10px; text-align: center;}
    .banner_text a{ font-size: 18px; line-height: 50px;}
    .banner_bottom_box{ width: 50%;}
    .marketing_area h3{ font-size: 16px;}
    .marketing_area ul li:nth-child(2):before{ right: 46px;}
    .brands_holder .brands_area{ flex-direction: column;}
    .brands_holder .brands_area strong:before, 
    .brands_holder .brands_area strong:after{ display: none;}
    .brands_holder .brands_area strong{ line-height: 60px; border-radius: 10px 10px 0 0;}
    .brands_holder .brands_area ul{ padding: 20px 0;}
    .brands_holder .brands_area{ border-radius: 10px;}
    .brands_holder{ top: -74px;}

    /*-------influencer-start-------*/

    .influencer_holder .infl_money ul li figure{ margin: 0 auto;}
    .influencer_holder .infl_money ul li span{ max-width: 90px; left: 6px; font-size: 13px; line-height: 32px;}
    .influencer_holder[_ngcontent-hva-c4] .infl_money ul li:nth-child(3) span{right: 171px;}

    /*-------influencer-end-------*/

    

}

@media screen and (max-width:479px){

    .banner_text{ padding: 0 15px;}
    .banner_text h2{ font-size: 24px; line-height: 26px; margin: 0 0 5px;}
    .banner_text span{ font-size: 22px; line-height: 20px; margin: 0 0 5px;}
    .banner_text a{ font-size: 15px; line-height: 40px; padding: 0 30px;}
    .marketing_area ul li:nth-child(2):before{ right: 29px;}
    .blue_brand .blue_brand_left h2{ font-size: 28px; line-height: 22px;}
    .blue_brand .blue_brand_left span{ font-size: 16px;}
    .blue_brand .blue_brand_right{ margin-top: 10px;}
    .blue_brand .blue_brand_right a{ font-size: 18px;}
    .testi_holder .testi_box{ width: 100%;}
    .testi_right ul li{ float: none; width: 100%; margin: 0 0 10px;}
    .testi_right ul li:nth-child(3),
    .testi_right ul li:nth-child(4){ margin: 0;}
    .testi_right ul{ margin: 0; display: block;}
    .brands_holder .brands_area ul{ flex-wrap: wrap;}
    .brands_holder .brands_area ul li{ width: 50%; margin: 0 0 8px;}
    .brands_holder .brands_area strong{ line-height: 40px;}
    .brands_holder{ top: -90px;}
    .header{ padding: 0;}
    .navbar{ padding: 0 10px;}
    .banner_text{ margin-top: 20px;}
    .footer_nav ul{ flex-direction: column; }

    .banner_text2 b{ flex-direction: column;}
    .banner_text2 b h3{ font-size: 26px; margin: 0 0 6px; text-align: center;}
    .brands_holder{ position: relative; top: -40px;}

    /*-------influencer-start-------*/

    .influencer_holder .infl_banner .infl_banner_text h2{ font-size: 34px; line-height: 40px;}
    .influencer_holder .infl_banner .infl_banner_text span{ font-size: 15px; margin-bottom: 25px;}
    .influencer_holder .infl_banner .infl_banner_text a, 
    .influencer_holder .infl_money .more a{ width: 100%; text-align: center;}
    .influencer_holder .infl_brand h2, 
    .influencer_holder .infl_midd h3, 
    .influencer_holder .infl_money h2, 
    .influencer_holder .inflBottom .title h2{ font-size: 25px;}
    .infl_midd_top .col-6,
    .infl_midd_bottom .col-6{ flex: 0 0 100%; max-width: 100%;}
    .influencer_holder .infl_midd .infl_midd_bottom ul li{ flex-direction: column;}
    .influencer_holder .infl_midd .infl_midd_bottom ul li figure,
    .influencer_holder .infl_midd .infl_midd_bottom ul li .infl_midd_text{ width: 100%;}
    .influencer_holder .infl_money ul{ flex-direction: column;}
    .influencer_holder .infl_money ul li{ width: 100%;}
    .influencer_holder .infl_money ul li span{ left: 44px;}

    /*-------influencer-end-------*/

    /*-------login-start-------*/
    
    .login_holder .login_area .full-width{padding: 0;}
    .login_holder .login_area.small,
    .login_holder .login_area{ padding: 30px 15px; width: 100%;}
    .login_holder h2{ font-size: 38px;}
    .login_holder .login_area form .form_bottom{ flex-direction: column; align-items: center;}
    .login_holder .login_area form .form_bottom button{width: 100%; margin-top: 10px;}
    .forget_holder span.small_heading{ font-size: 18px;}
    .signup_holder .signup_choice input[type=checkbox][_ngcontent-vfl-c4]:not(old) + label, 
    .signup_holder .signup_choice input[type=radio]:not(old) + label{ font-size: 20px;}
    .signup_holder form .form-check label{ margin: 0;}

    /*-------login-end-------*/

}


