<section class="influencer_holder">
  <!--influencer_holder-->
  <div class="infl_banner">
    <!--infl_banner-->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="infl_banner_text">
            <!--infl_banner_text-->
            <h2>Get Rewarded For Your Great Content</h2>
            <span>Over <b>50,000</b> influencer-to-brand connections made</span>
            <a routerLink="/signup" [queryParams]="{ type: 'influencer' }">Sign up for free</a>
          </div>
          <!--infl_banner_text-->
        </div>
      </div>
    </div>
  </div>
  <!--infl_banner-->
  <div class="infl_brand">
    <!--infl_brand-->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Work with <span>hundreds of brands</span> today</h2>
          <owl-carousel [options]="mySlideOptions" [carouselClasses]="['owl-theme', 'sliding']">
            <div class="item" *ngFor="let image of mySlideImages;let i = index">
              <img src={{image}} style="width: auto; margin: 0 auto;" />
            </div>
          </owl-carousel>
        </div>
      </div>
    </div>
  </div>
  <!--infl_brand-->
  <div class="infl_midd">
    <!--infl_midd-->
    <div class="infl_midd_top pb-3">
      <!--infl_midd_top-->
      <div class="container">
        <div class="row">
          <div class="col-6">
            <h3>Build Your Personal Brand & Grow Your Audience</h3>
            <p>
              Join a professional community of influencers and influencer marketing experts, sharpen your influencer
              skill set and keep
              in touch with the latest & greatest tips that help grow your audience!
            </p>
          </div>
          <div class="col-6">
            <figure>
              <img src="assets/front_end/images/infl_midd-pic1.png" alt="">
            </figure>
          </div>
        </div>
      </div>
    </div>
    <!--infl_midd_top-->
    <div class="infl_midd_bottom pt-2">
      <!--infl_midd_bottom-->
      <div class="container">
        <div class="row">
          <div class="col-12">
            <ul>
              <li>
                <figure>
                  <img src="assets/front_end/images/infl-img1.jpg" alt="">
                </figure>
                <div class="infl_midd_text">
                  <h3>Discover New Brands to Partner With</h3>
                  <p>
                    Get exposed to hundreds of brands looking for influencers , and discover new brands every week
                  </p>
                </div>
              </li>
              <li>
                <figure>
                  <img src="assets/front_end/images/infl-pic2.png" alt="">
                </figure>
                <div class="infl_midd_text">
                  <h3>Work Directly with Brands</h3>
                  <p>
                    We connect you directly with marketers at top brands, so you can build the relationship on your
                    terms
                  </p>
                </div>
              </li>
              <li>
                <figure>
                  <img src="assets/front_end/images/infl-pic3.png" alt="">
                </figure>
                <div class="infl_midd_text">
                  <h3>Get Paid Faster</h3>
                  <p>
                    Get paid right after you complete your content or post directly to your PayPal/ Bank Account.
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--infl_midd_bottom-->
  </div>
  <!--infl_midd-->
  <div class="infl_money">
    <!--infl_money-->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Start making money with<br> <span>hundreds of brands</span> today</h2>
          <ul>
            <li>
              <figure>
                <img src="assets/front_end/images/infl-pic4.png" alt="">
              </figure>
              <span>Step 01</span>
            </li>
            <li>
              <figure>
                <img src="assets/front_end/images/infl-pic5.png" alt="">
              </figure>
              <span>Step 03</span>
            </li>
            <li>
              <figure>
                <img src="assets/front_end/images/infl-pic6.png" alt="">
              </figure>
              <span>Step 02</span>
            </li>
            <li>
              <figure>
                <img src="assets/front_end/images/infl-pic7.png" alt="">
              </figure>
              <span>Step 04</span>
            </li>
          </ul>
          <div class="more">
            <a routerLink="/signup" [queryParams]="{ type: 'influencer' }">Sign up today</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--infl_money-->

  <div class="inflBottom"><!--inflBottom-->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="title"><!--title-->
            <h2>Featured influencers</h2>
            <span>Most successful influencers</span>
          </div><!--title-->
          <owl-carousel [options]="mySlideOptions1" [carouselClasses]="['owl-theme', 'sliding']">
              <div class="item" *ngFor="let image of mySlideImages1;let i = index">
                <figure><img src={{image[0]}} /></figure>
                <h3>{{image[1]}}</h3>
                <span>{{image[2]}}</span>
              </div>
            </owl-carousel>

          <div class="inflBottom_widget"><!--inflBottom_widget-->
            <div class="title"><!--title-->
              <h2>Most popular of the month</h2>
              <span>Top rated influencers</span>
            </div><!--title-->
            <owl-carousel [options]="mySlideOptions2" [carouselClasses]="['owl-theme', 'sliding']">
              <div class="item" *ngFor="let image of mySlideImages2;let i = index">
                <figure><img src={{image[0]}} /></figure>
                <h3>{{image[1]}}</h3>
                <span>{{image[2]}}</span>
              </div>
            </owl-carousel>
          </div><!--inflBottom_widget-->
        </div>
      </div>
    </div>
  </div><!--inflBottom-->
</section>
<!--influencer_holder-->