@import "../brand-owner";

 /* Style the tab */
 .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  } 
.socialList{
  li{
    &:nth-child(2){
      color: #833AB4 !important;
    }
    &:nth-child(3){
      color: #c4302b !important;
    }
  }
}
  

.camp_step2{
  ul{
    li{
      .form-radio{
        p{
          min-height: 60px;
        }
      }
    }
  }
}





