<section class="campManage_holder">
  <!--campManage_holder-->
  <div class="title">
    <!--title-->
    <h2>Create Campaign</h2>
  </div>
  <!--title-->
  <div class="camManage_step">
    <!--camManage_step-->
    <ul>
      <li class="active">
        <span>step 01</span>
        <strong>Campaign details</strong>
      </li>

      <li [ngClass]="{'active': togglee}">
        <span>step 02</span>
        <strong>Campaign Objectives</strong>
      </li>
      <li [ngClass]="{'active': togglee2}">
        <span>step 03</span>
        <strong>Service Required</strong>
      </li>
      <li [ngClass]="{'active': togglee3}">
        <span>step 04</span>
        <strong>Add Influencers</strong>
      </li>
    </ul>
  </div>
  <!--camManage_step-->
  
  <div class="camp_step1" *ngIf="show">
    <!--camp_step1-->
    <form [formGroup] = "campaignForm_1" #campaignFormData="ngForm" (ngSubmit)="toggle()" >
    
      <div class="form-group" [ngClass]="">
        <label>Campaign Name</label>
        <input type="text" class="form-control" placeholder="Enter Name" formControlName="campaignName" >
        <small *ngIf="(f1.campaignName.errors && f1.campaignName.touched) || (f1submitted && f1.campaignName.errors)" class="text-danger">Please Enter Campaign Name</small>
      </div>
      
      <div class="form-group">
        <label>Start Date</label>

        <div class="input-group">
          <input type="text" class="form-control" placeholder="MM/DD/YY" formControlName="startDate" ngbDatepicker #startdate="ngbDatepicker" (click)="startdate.toggle()" readonly>
          <div class="input-group-prepend" >
            <div class="input-group-text" (click)="startdate.toggle()">
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <small *ngIf="(f1.startDate.errors && f1.startDate.touched) || (f1submitted && f1.startDate.errors)" class="text-danger">Please Enter Start Date</small>
      </div>

      <div class="form-group">
        <label>Proposals due date</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="MM/DD/YY" formControlName="dueDate" ngbDatepicker #duedate="ngbDatepicker" (click)="duedate.toggle()" readonly>
          <div class="input-group-prepend">
            <div class="input-group-text" (click)="duedate.toggle()">
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <small *ngIf="(f1.dueDate.errors && f1.dueDate.touched) || (f1submitted && f1.dueDate.errors)" class="text-danger">Please Enter Proposals Due Date</small>
      </div>

      <div class="form-group">
        <label>Please select Brand</label>
        <select class="custom-select form-control" id="inlineFormCustomSelect" formControlName="brand">
          <option [value]="" value="">Choose...</option>
          <option [value]="brand.id" *ngFor = "let brand of allBrands">{{brand.brand_name}}</option>
        </select>
        <small *ngIf="(f1.brand.errors && f1.brand.touched) || (f1submitted && f1.brand.errors)" class="text-danger">Please Select Brand</small>
      </div>

      <div class="form-group">
        <label>tentative launch date</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="MM/DD/YY" formControlName="launchDate" ngbDatepicker #launchdate="ngbDatepicker" (click)="launchdate.toggle()" readonly>
          <div class="input-group-prepend">
            <div class="input-group-text" (click)="launchdate.toggle()">
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <small *ngIf="(f1.launchDate.errors && f1.launchDate.touched) || (f1submitted && f1.launchDate.errors)" class="text-danger">Please Enter Tentative Launch Date</small>
      </div>

      <div class="form-group w-100">
        <label>Please select model <i class="fa fa-question-circle-o text-info ml-1" aria-hidden="true"  placement="top" ngbTooltip="It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using"></i></label>
        <div class="input-group">
        <div class="form-radio">
          <input id="serviceModel" type="radio" value="self" formControlName="serviceType">
          <label for="serviceModel"><span><span></span></span>Self- Service Model</label>
        </div>
        <div class="form-radio">
          <input id="agencyService" type="radio" value="agency" formControlName="serviceType">
          <label for="agencyService"><span><span></span></span>Agency-Service Model</label>
        </div>
      </div>
        <small *ngIf="(f1.serviceType.errors && f1.serviceType.touched) || (f1submitted && f1.serviceType.errors)" class="text-danger">Please Select a Model</small>
      </div>

      <div class="btn_area w-100">
        <button class="btn btn-primary" type="submit">next</button>
      </div>
    </form>
  </div>
  <!--camp_step1-->

  <div class="camp_step2" *ngIf="show2">
    <form [formGroup] = "campaignForm_2" #campaignFormData="ngForm" (ngSubmit)="toggle2()" >
    <h3>Please Choose Your Desired Objective</h3>
    <ul>
      <li>
        <div class="form-radio">
          <input id="contentRepost" type="radio" value="CR" formControlName="objectControl" >
          <label for="contentRepost"><span><span></span></span>
            <strong>Content Repost</strong>
            <p>
              if you want the influencers to repost a ready-made content by the brand.
            </p>

            <div class="check_text">
              <span>tentative launch date</span>
              <div class="col-auto">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="MM/DD/YY" id="repostLD" formControlName="repostLD" ngbDatepicker #repostLD="ngbDatepicker" (click)="repostLD.toggle()" readonly [ngClass]="{'form-submitted': f2submitted}"  >
                  <div class="input-group-prepend">
                    <div class="input-group-text" (click)="repostLD.toggle()">
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                  </div>
                  </div>
                </div>
              </div>
            </div>


          </label>
        </div>
      </li>
      <li>
        <div class="form-radio">
          <input id="createdContent" type="radio" value="CC" formControlName="objectControl">
          <label for="createdContent"><span><span></span></span>
            <strong>Co-Created Content</strong>
            <p>
              If you want the influencers to create content
            </p>
            <div class="check_text">
              <span>tentative launch date</span>
              <div class="col-auto">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="MM/DD/YY" id="cocreatedLD" formControlName="cocreatedLD" ngbDatepicker #cocreatedLD="ngbDatepicker" (click)="cocreatedLD.toggle()" readonly >
                  <div class="input-group-prepend">
                    <div class="input-group-text" (click)="cocreatedLD.toggle()"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                  </div>
                </div>
              </div>
            </div>
          </label>
        </div>
      </li>

      <li>
        <div class="form-radio">
          <input id="attendEvent" type="radio" value="AE" formControlName="objectControl">
          <label for="attendEvent"><span><span></span></span>
            <strong>Attend Event</strong>
            <p>
              If you want the influencers to attend an event and post about it
            </p>
            <div class="check_text">
              <span>tentative launch date</span>
              <div class="col-auto">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="MM/DD/YY" id="eventLD" formControlName="eventLD" ngbDatepicker #eventLD="ngbDatepicker" (click)="eventLD.toggle()" readonly>
                  <div class="input-group-prepend">
                    <div class="input-group-text" (click)="eventLD.toggle()" ><i class="fa fa-calendar" aria-hidden="true"></i></div>
                  </div>
                </div>
              </div>
            </div>
          </label>
        </div>
      </li>
    </ul>
    <small *ngIf="(f2.objectControl.errors && f2.objectControl.touched) || (f2submitted && f2.objectControl.errors)" class="text-danger">Please Select a Objective</small><br>

    <small *ngIf="tldError1 && f2.repostLD.errors" class="text-danger">Please Select Content Repost Tentative Launch Date</small><br>

    <small *ngIf="tldError2 && f2.cocreatedLD.errors" class="text-danger">Please Select Co-Created Content Tentative Launch Date</small><br>

    <small *ngIf="tldError3 && f2.eventLD.errors" class="text-danger">Please Select Attend Event Tentative Launch Date</small>


    <div class="form-check form-group">
      <input id="checkbox1" type="checkbox" name="checkbox" value="1" formControlName="terms">
      <label for="checkbox1"><span></span>
        I Read and Agree With <a  routerLink="../../../terms-conditions" target="_blank">Terms and Conditions</a> 
      </label>
      <br>
      <small *ngIf="f2submitted && f2.terms.value != true" class="text-danger">Please Accept The Terms and Conditions </small><br>
    </div>

    <div class="btn_area w-100">
      <button class="btn" (click)="back1()">Back</button>
      <button class="btn btn-primary" type="submit">next</button>
    </div>
  </form>
  </div>
  <!--camp_step2-->

  <div class="camp_step3" *ngIf="show3">
    <!--camp_step3-->
    <h3>Details of The Service Required</h3>
    <div class="camp_step1">
        <form [formGroup] = "campaignForm_3" #campaignFormData_3="ngForm" (ngSubmit)="toggle3()" >
        <div class="col-6 form-group">
          <label class="text-uppercase mb-0 font-weight-600">Platforms to use</label>
          <div ngbDropdown autoClose="outside" class="platFormList">
              <button class="btn btn-link pl-0" type="button" ngbDropdownToggle>
                <span *ngFor="let key of campaignForm_3.value.platforms; let i = index">
                    <span *ngIf="key">
                      {{ allPlatforms[i].name }}
                    </span>
                </span>
                <span *ngIf="!selectedPlatformIdCount">Select</span>
  
              </button>
              <div *ngIf="f3submitted && f3submitted.errors" class="invalid-feedback">
                <div *ngIf="f3submitted.errors.checkboxInvalid">Atleast one platform is required</div>
              </div>
              <div ngbDropdownMenu class="w-100"> 
                <ul class="socialList p-4 text-gray">
                  <li class="d-flex justify-content-between text_blue" formArrayName="platforms" *ngFor="let platform of f3.platforms.controls; let i = index">
                    <div>
                      <i class="fa fa-{{allPlatforms[i].class_name}}" aria-hidden="true"></i>
                      <span>{{allPlatforms[i].name}}</span>
                    </div>
                    <div class="checkBox">
                      <input type="checkbox" class="form-control pl-0" [formControlName]="i" (click)='onCheckBoxClick($event, i)'>  
                      <label for="checkbox1"><span></span></label>
                    </div>
                  </li>
                </ul>
              </div>        
            </div>
        </div>

        <div class="form-group">
          <label>Invitation expiry date</label>
          <div class="input-group">
            <input _ngcontent-c4="" class="form-control" placeholder="MM/DD/YY" type="text" formControlName="invitationExpieryDate" ngbDatepicker #invitationExpieryDate="ngbDatepicker" (click)="invitationExpieryDate.toggle()" readonly>
            <div class="input-group-prepend">
              <div _ngcontent-c4="" class="input-group-text" (click)="invitationExpieryDate.toggle()">
                <i _ngcontent-c4="" aria-hidden="true" class="fa fa-calendar"></i>
              </div>
            </div>
          </div>
          <small *ngIf="(f3.invitationExpieryDate.errors && f3.invitationExpieryDate.touched) || (f3submitted && f3.invitationExpieryDate.errors)" class="text-danger">Please Enter Invitation Expiry Date</small>
        </div>

        <div class="form-group w-100">
          <label>Invitation message</label>
          <textarea rows="5" placeholder="Detailed Message" class="form-control" formControlName="invitationMessage"></textarea>
          <small *ngIf="(f3.invitationMessage.errors && f3.invitationMessage.touched) || (f3submitted && f3.invitationMessage.errors)" class="text-danger">Please Enter Invitation Message</small>
        </div>

        <div class="form-group w-100">
          <label>Campaign details</label>
          <textarea rows="5" placeholder="Detailed Message" class="form-control"  formControlName="campaignDetails"></textarea>
          <small *ngIf="(f3.campaignDetails.errors && f3.campaignDetails.touched) || (f3submitted && f3.campaignDetails.errors)" class="text-danger">Please Enter Campaign Details</small>
        </div>

        <div class="form-group w-100">
          <label>Content concept</label>
          <textarea rows="5" placeholder="Detailed Message" class="form-control" formControlName="contentConcept"></textarea>
          <small *ngIf="(f3.contentConcept.errors && f3.contentConcept.touched) || (f3submitted && f3.contentConcept.errors)" class="text-danger">Please Enter Content Concept</small>
        </div>

        <div class="form-group w-50">
          <label>Product URL</label>
          <input type="url" class="form-control" placeholder="Enter URL" formControlName="productUrl">
          <small *ngIf="(f3.productUrl.errors && f3.productUrl.touched) || (f3submitted && f3.productUrl.errors)" class="text-danger">Please Enter Product URL</small>
        </div>

        <div class="custom-file form-group w-50">
          <label>File / Image</label>
          <input type="file" multiple class="custom-file-input" id="validatedCustomFile" placeholder="ddd" formControlName="files" #fileInput accept="image/png, image/jpeg, application/pdf, application/doc" (change)="countFile($event.target.files)"/>
          <div class="custom-file-label form-control" for="validatedCustomFile">{{this.fileLabel}}</div>
          <small *ngIf="(f3.productUrl.errors && f3.productUrl.touched) || (f3submitted && f3.productUrl.errors)" class="text-danger">Please Select File</small>
        </div>

        <div class="form-group w-50">
          <label>Budget</label>
          <input type="text" class="form-control" placeholder="Enter Amount" formControlName="budget">
          <small *ngIf="(f3.budget.errors && f3.budget.touched) || (f3submitted && f3.budget.errors)" class="text-danger">Please Enter Budget</small>
        </div>

        <div class="form-group w-50">
          <label>Campaign Country</label>
          <select class="custom-select form-control" formControlName="country">
            <option value="">Select</option>
            <option *ngFor="let countryList of countryLists" [value]="countryList.code">{{ countryList.countryname | titlecase }}</option>
          </select>
          <small *ngIf="(f3.country.errors && f3.country.touched) || (f3submitted && f3.country.errors)" class="text-danger">Please Enter Country</small>
        </div>

        <div class="btn_area w-100">
          <button class="btn" (click)="back2()">Back</button>
          <button class="btn btn-primary" type="submit">next</button>
        </div>
      </form>
    </div>
  
  </div>
  <!--camp_step3-->

  <div class="camp_step4" *ngIf="show4">
    <!--camp_step4-->
    <h3>Please Select Your Influencers For This Campaign</h3>
    <a [routerLink]="['../../influencer-search']" *ngIf="totalCompareArr.length === 0">Choose Influencers</a>
    <a (click)="goToaddInfluners()" *ngIf="totalCompareArr.length > 0">Choose Influencers</a>
  </div>
  <!--camp_step4-->

  <div class="camp_step5" *ngIf="show5"> 
    <h3>Please Select Your Influencers For This Campaign</h3>
    <ul class="list d-flex justify-content-center" *ngIf ="selectedInfluncersData && selectedInfluncersData.length">
            
      <li class="text-center m-2" *ngFor="let selectedInfluncer of selectedInfluncersData; let i=index">       
         <img *ngIf ="selectedInfluncer.img" src="{{selectedInfluncer.img}}" />
        <img *ngIf ="!selectedInfluncer.img" src="{{selectedInfluncer.picture ?influencerImagePath+selectedInfluncer.picture:'assets/influencers/images/no-user.jpg' }}" />
       <i class="fa fa-times" aria-hidden="true" (click)="removeSavedModal(confirmRemovedSaved, selectedInfluncer.id)" *ngIf="!draft"></i>
        <p class="mb-0 mt-2">{{selectedInfluncer.first_name?selectedInfluncer.first_name:'NA'}}</p>
      </li>
    </ul>
    <a *ngIf="!draft && selectedInfluncersData.length < 4" (click)="goToaddInfluners()" class="text-uppercase mt-3" [routerLink]="['../../influencer-search']">Add more influencers</a>
    <div class="text-center mt-5">
        <button class="btn btn-blue text-uppercase mr-3 pr-4 pl-4" (click) = "saveInfluncer('draft')" *ngIf ="!draft">Save as draft</button>
        <button class="btn btn-blue text-uppercase mr-3 pr-4 pl-4" (click) = "removeFromDraftModal(confirmRemovedDraft)" *ngIf ="draft">Remove from draft</button>
        <button class="btn btn-blue text-uppercase mr-3 pr-4 pl-4" *ngIf ="draft" [routerLink] = "['/brand-owner/campaign-list']">Cancel</button>
        <button class="btn btn-primary text-uppercase pr-4 pl-4" (click) = "saveInfluncer('publish')">Submit</button>
    </div>
  </div>
</section>
<!--campManage_holder-->
<!-- Remove from draft -->
<ng-template class="modal" #confirmRemovedSaved>
  <div class="modal-header">
    <p>Do you want to remove from saved list?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="removeSelectedInfluncer()">Yes</button>
    <button type="button" class="btn btn-danger" (click)="modalRef.hide()">No</button>
  </div>
</ng-template>
<!-- Remove from draft -->
<ng-template class="modal" #confirmRemovedDraft>
  <div class="modal-header">
    <p>Are you sure to delete this campaign?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="removeFromDraft()">Yes</button>
    <button type="button" class="btn btn-danger" (click)="modalRef.hide()">No</button>
  </div>
</ng-template>
<!-- Redirect to new page -->
<ng-template class="modal" #confirmRedirect>
  <div class="modal-header">
    <p>You will loose the form Data. Are you sure to redirect?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="redirectToOtherPage()">Yes</button>
    <button type="button" class="btn btn-danger" (click)="redirectHide()">No</button>
  </div>
</ng-template>