<section class="policy_holder">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title"><!--title-->
          <h2>{{cmaLang.title|titlecase}}</h2>
        </div><!--title-->

        <div class="policy_area" [innerHtml]="cmaLang.description"><!--policy_area-->
          
        </div><!--policy_area-->
      </div>
    </div>
  </div>
  <div id="page-loading" *ngIf ="loading">
    <div class="loading"></div>
    <div class="content">
      <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
  </div>
</div>
</section>