<section class="sitemap_holder"><!--sitemap_holder-->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title"><!--title-->
          <h2>Site Map</h2>
        </div><!--title-->

        <div class="sitemap_area"><!--sitemap_area-->
          <div class="sitemap_box"><!--sitemap_box-->
            <h3>About Influnaire</h3>
            <ul>
              <li><a routerLink="/influencer">Influencers</a></li>
              <li><a routerLink="/blog">Blog</a></li>
              <li><a routerLink="/testimonials">Testimonials</a></li>
            </ul>
          </div><!--sitemap_box-->

          <div class="sitemap_box"><!--sitemap_box-->
            <h3>Influnaire Value</h3>
            <ul>
              <li><a routerLink="/pricing">Pricing</a></li>
              <!-- <li><a routerLink="/resources">Resources</a></li> -->
              <li><a routerLink="/privacy-policy">Privacy policy</a></li>
            </ul>
          </div><!--sitemap_box-->
          
          <div class="sitemap_box"><!--sitemap_box-->
            <h3>For Business</h3>
            <ul>
              <li><a routerLink="/signup">Brand</a></li>
              <li><a href="/signup?type=influencer">Influencer</a></li>
            </ul>
          </div><!--sitemap_box-->
        </div><!--sitemap_area-->
      </div>
    </div>
  </div>
</section><!--sitemap_holder-->
