
.sitemap_holder{
    margin-top: 75px;
    padding: 0 0 90px;
    background: #eee;
    .title{
        margin: 0 0 30px;
        text-align: center;
        padding: 50px 0;
        h2{
            color: #3c3c3c;
            font-size: 48px;
            line-height: 40px;
            font-weight: 600;
            text-align: center;
            margin: 0 0 10px;
            text-transform: capitalize;
            font-family: 'Open Sans', sans-serif;
        }
    }
    .sitemap_area{
        display: flex;
        justify-content: space-around;
        .sitemap_box{
            ul{
                padding: 0;
            }
            li{
                list-style: none;
                a{
                    font-size: 20px;
                    color:#ed8c24;
                    text-decoration: none;
                }
            }
        }
    }
}
