<section class="invitationDetails" *ngIf =" invitationDetails && invitationDetails.Campaign">
  <div class="title">
    <h2>Invitation Details</h2>
    <!-- <div class="title_right">
      <select>
        <option>January</option>
        <option>February</option>
        <option>March</option>
      </select>
    </div> -->
  </div>

  <div class="currentInvitationTable" *ngIf="(invitationDetails | json) != '{}'">
    <div class="header">
      <div class="txts">
        <h2>ID : {{(invitationDetails && invitationDetails.Campaign)?invitationDetails.Campaign.campaign_id:''}}</h2>
        <div class="names">
          <figure>
            <img src="assets/influencers/images/company-logo.png"/>
          </figure>
          <h3>{{(invitationDetails && invitationDetails.Campaign)?invitationDetails.Campaign.campaign_name:''}}</h3>
          <h4><span>By</span>{{(invitationDetails && invitationDetails.Campaign)?invitationDetails.Campaign.BrandOwner.fname+' '+invitationDetails.Campaign.BrandOwner.lname: ''}}</h4>
        </div>
      </div>
      <div class="rightBtn" *ngIf="invitationDetails && invitationDetails.status=='ACCEPT'">
        <button class="submitProposal" (click)="submitProposalModal(submitProposalModalRef, invitationDetails.id, invitationDetails.Campaign.id)" >submit a proposal</button>
      </div>
    </div>
    <div class="detailsBody">
      <div class="bigContent">
        <div class="boxes">
          <h4>Service Required</h4>
          <p>{{(invitationDetails)?(invitationDetails.Campaign.service_type| titlecase):''}} </p>
        </div>
        <div class="boxes">
          <h4>Job Details</h4>
          <p>{{(invitationDetails)?invitationDetails.Campaign.campaign_details:''}}</p>
        </div>
        <div class="boxes">
          <h4>Content Concept</h4>
          <p>{{(invitationDetails)?invitationDetails.Campaign.content_concept:''}}</p>
        </div>
        <div class="boxes">
          <h4>Product URL</h4>
          <a href="{{invitationDetails.Campaign.product_url?invitationDetails.Campaign.product_url:''}}" target="_blank">{{invitationDetails.Campaign.product_url?invitationDetails.Campaign.product_url:''}}</a>
        </div>
        <div class="boxes widebox">
          <ul>
            <li>
              <h4>Job Deliverables</h4>
              <p>{{ invitationDetails.Campaign.tentative_launch_date ? (invitationDetails.Campaign.tentative_launch_date | dateTimeFormat: invitationDetails.Campaign.tentative_launch_date: 'date-month-year') : 'NA' }}</p>
            </li>
            <li>
              <h4>Budget For The Job</h4>
              <p class="amount">${{invitationDetails.Campaign?invitationDetails.Campaign.total_amount_invested:'NA'}}</p>
            </li>
          </ul>
        </div>
        
        <div class="boxes files">
          <h4>Image/File</h4>
          <ul *ngFor="let uploadedFiles of invitationDetails.Campaign.campaignFiles let j = index">
            <li>
                <a *ngIf = "uploadedFiles.name" href = "{{campaignFilePath+uploadedFiles.name}}" target='_blank' title="{{uploadedFiles.name}}">
                    <img  class="mb-2" src="assets/influencers/images/icon-pdf.png" *ngIf= "pdfFile.includes(uploadedFiles.file_extension)"/>
                    <img class="mb-2" src="assets/influencers/images/icon-doc.png" *ngIf= "docFile.includes(uploadedFiles.file_extension)"/>
                    <img class="mb-2" src="assets/influencers/images/icon-img.png" *ngIf= "imageFile.includes(uploadedFiles.file_extension)"/>
                    <span> Attach {{ j+1 }} </span>
                  </a>
            </li>
          </ul>
        </div>
        <div class="boxes txtarea">
          <h4>Message</h4>
          <section class="bg-white border p-4">
              <ul class="msgList" *ngIf = "messages.length">
                  <li class="mb-4" *ngFor = "let message of messages" [ngClass] = "message.message_from =='Influencer'?'d-flex align-items-center send':'resive justify-content-end p-0 d-flex align-items-center'">
                    <div class="leftBox w-20 justify-content-end" *ngIf = "message.message_from =='Influencer'">
                      <img src="assets/influencers/images/profile-info.png" alt="" title="" />
                      
                        <p class="mb-0 text-gray">{{message.created_at |  date:'dd MMM y'}}</p>
                        <p class="mb-0 font-weight-600"> {{ message.Influencer.first_name +' '+ message.Influencer.last_name }}</p>
                      
      
                    </div>
                    <div class="rightBox p-3 ml-4 shadow-1 rounded" *ngIf = "message.message_from =='Influencer'">
                      <p class="mb-0"> {{ message.message }}</p>
                    </div>
      
                    <div class="leftBox d-flex w-20 justify-content-end" *ngIf = "message.message_from =='BrandOwner'">
                      <div class="ml-3 mr-3">
                        <p class="mb-0 text-gray">{{message.created_at |  date:'dd MMM y'}}</p>
                        <p class="mb-0 font-weight-600"> {{ message.BrandOwner.fname +' '+ message.BrandOwner.lname }}</p>
                      </div>
      
                    </div>
                    <div class="rightBox p-3 ml-4 shadow-1 rounded" *ngIf = "message.message_from =='BrandOwner'">
                      <p class="mb-0"> {{ message.message }}</p>
                    </div>
      
                  </li>
                </ul>
                <ul class="msgList" *ngIf = "!messages.length">
                  <li>No message found {{status}}</li>
                </ul>
          </section>
          <form [formGroup] = "messageForm" #messageFormData="ngForm" (ngSubmit)="save_message()" *ngIf = "allowStatus.indexOf(status)!=-1">
              <div class="boxes txtarea">
                <textarea class="form-control" placeholder="Enter message" formControlName="message"></textarea>
                <small *ngIf="(msubmitted && m.message.errors)" class="text-danger">Please Enter Message</small>
                
              </div>
              <div class="">
                <label>File / Image</label>
                <input type="file" placeholder="select File" formControlName="files"  #fileInput />
           
              </div>
              <input type="submit" class="submitBtn" value="Send"/>
            </form>
        </div>
      </div>
      <div class="sideContent">
        <div class="boxes">
          <h4>Campaign Objective</h4>
          <p>{{(invitationDetails)?invitationDetails.Campaign.content_concept:''}}</p>
        </div>
        <div class="boxes platform">
          <h4>Platform</h4>
          <ul *ngIf = "invitationDetails && invitationDetails.Campaign && invitationDetails.Campaign.CampaignPlatformMaps">
            <li *ngFor = "let CampaignPlatform of invitationDetails.Campaign.CampaignPlatformMaps" class="social-icon mr-3 fb">
              <i class="fa fa-{{CampaignPlatform.Platform.class_name}} mr-2"  aria-hidden="true" ></i>{{CampaignPlatform.Platform?CampaignPlatform.Platform.name:'NA'}}
          
            </li>
          </ul>
        </div>
        <div class="boxes">
          <h4>Invitation Expiry Date</h4>
          <p class="dark">{{ (invitationDetails && invitationDetails.expiry_date) ? (invitationDetails.expiry_date | dateTimeFormat: invitationDetails.expiry_date: 'date-month-year') : 'NA' }}</p>
        </div>
        <div class="boxes">
          <h4>Proposal Due Date</h4>
          <p class="dark">{{ (invitationDetails && invitationDetails.proposal_due_date) ? (invitationDetails.proposal_due_date | dateTimeFormat: invitationDetails.proposal_due_date: 'date-month-year') : 'NA' }}</p>
        </div>
        <div class="boxes">
          <h4>Tentative Launch Date</h4>
          <p class="dark">{{ invitationDetails ? (invitationDetails.Campaign.tentative_launch_date | dateTimeFormat: invitationDetails.expiry_date: 'date-month-year') : 'NA' }}</p>
        </div>
        <div class="boxes">
          <h4>Campaign Country</h4>
          <p class="dark">{{ invitationDetails ? allCountries[invitationDetails.Campaign.country_id]:''}}</p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="(invitationDetails | json) == '{}'">Loading..</div>
   <!-- submit Modal -->
   <ng-template class="modal fade faq_popup" #submitProposalModalRef>
      <a class="close" (click)="modalRef.hide()" aria-label="Close">
        <i class="fa fa-times"></i>
      </a>
      <div class="modal-body p-5">
        <h4 class="mb-3 mt-1">Submit Your Proposal</h4>
        <form [formGroup]="submitProposalForm" #submitProposalInfo="ngForm" (ngSubmit)="submitProposalAction(submitProposalForm.value)">
          <div class="form-group">
            <input type="hidden" formControlName="invitation_id" />
            <input type="hidden" formControlName="campaign_id" />
            <label class="text-uppercase mb-0 font-weight-600">Subject</label>
            <input type="text" class="form-control pl-0" placeholder="Enter Subject*" formControlName="subject" 
              [ngClass]="{ 'is-invalid': submittedSubmitProposalForm && f.subject.errors }">
            <div *ngIf="submittedSubmitProposalForm && f.subject.errors" class="invalid-feedback">
                <div *ngIf="f.subject.errors.required">Subject is required</div>
            </div>
          </div>
          <div class="form-group">
            <label class="text-uppercase mb-0 font-weight-600">Proposal Brief</label>
            <input type="text" class="form-control pl-0" placeholder="Enter Proposal Brief*" formControlName="brief" 
              [ngClass]="{ 'is-invalid': submittedSubmitProposalForm && f.brief.errors }">
            <div *ngIf="submittedSubmitProposalForm && f.brief.errors" class="invalid-feedback">
                <div *ngIf="f.brief.errors.required">Proposal Brief is required</div>
            </div>
          </div>
          <div class="form-group">
            <label class="text-uppercase mb-0 font-weight-600">Content/idea description</label>
            <input type="text" class="form-control pl-0" placeholder="Enter Description*" formControlName="description" 
              [ngClass]="{ 'is-invalid': submittedSubmitProposalForm && f.description.errors }">
            <div *ngIf="submittedSubmitProposalForm && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">Description is required</div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 form-group">
              <label class="text-uppercase mb-0 font-weight-600">Delivery Date</label>
              <div class="input-group">
                <input type="text" class="form-control pl-0" placeholder="Enter Delivery Date*" formControlName="delivary_date" 
                  [ngClass]="{ 'is-invalid': submittedSubmitProposalForm && f.delivary_date.errors }" (click)="d.toggle()" ngbDatepicker #d="ngbDatepicker" placeholder="yyyy-mm-dd"
                  ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append mb-2 ml-2 flex-column-reverse" (click)="d.toggle()">
                  <i class="fa fa-calendar"></i>
                </div>
                <div *ngIf="submittedSubmitProposalForm && f.delivary_date.errors" class="invalid-feedback">
                    <div *ngIf="f.delivary_date.errors.required">Delivery Date is required</div>
                </div>
              </div>              
            </div>
            <div class="col-6 form-group">
              <label class="text-uppercase mb-0 font-weight-600">Price</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">&euro;</span>
                </div>
                <input type="text" class="form-control pl-0" placeholder="Enter Price*" formControlName="price" 
                  [ngClass]="{ 'is-invalid': submittedSubmitProposalForm && f.price.errors }">
                <div *ngIf="submittedSubmitProposalForm && f.price.errors" class="invalid-feedback">
                    <div *ngIf="f.price.errors.required">Price is required</div>
                    <div *ngIf="submitProposalForm.controls['price'].errors.pattern" >Price value incorrect.</div>
                </div>
              </div>
            </div>
            <div class="col-6 form-group">
              <label class="text-uppercase mb-0 font-weight-600">Platforms to use</label>
              <div ngbDropdown autoClose="outside" class="platFormList">
                  <button class="btn btn-link pl-0" type="button" ngbDropdownToggle>
                    <span *ngFor="let key of submitProposalForm.value.platforms; let i = index">
                        <span *ngIf="key">
                          {{ allPlatforms[i].name }}
                        </span>
                    </span>
                    <span *ngIf="!selectedPlatformIdCount">Select</span>
      
                  </button>
                  <div *ngIf="submittedSubmitProposalForm && submitProposalForm.errors" class="invalid-feedback">
                    <div *ngIf="submitProposalForm.errors.checkboxInvalid">Atleast one platform is required</div>
                  </div>
                  <div ngbDropdownMenu class="w-100">
                    <ul class="socialList p-4 text-gray">
                      <li class="d-flex justify-content-between text_blue" formArrayName="platforms" *ngFor="let platform of f.platforms.controls; let i = index">
                        <div>
                          <i class="fa fa-{{allPlatforms[i].class_name}}" aria-hidden="true"></i>
                          <span>{{allPlatforms[i].name}}</span>
                        </div>
                        <div class="checkBox">
                          <input type="checkbox" class="form-control pl-0" [formControlName]="i" (click)='onCheckBoxClick($event, i)'>  
                          <label for="checkbox1"><span></span></label>
                        </div>
                      </li>
                    </ul>
                  </div>        
                </div>
              </div>
          </div>
          <div class="form-group">
            <label class="text-uppercase mb-0 font-weight-600">Required resources from the brand</label>
            <input type="text" class="form-control pl-0" placeholder="Enter details of all the resources required*" formControlName="required_resources" 
              [ngClass]="{ 'is-invalid': submittedSubmitProposalForm && f.required_resources.errors }">
            <div *ngIf="submittedSubmitProposalForm && f.required_resources.errors" class="invalid-feedback">
                <div *ngIf="f.required_resources.errors.required">Required resources details is required</div>
            </div>
          </div>
          <button class="text-uppercase btn btn-warning pl-5 pr-5">Submit</button>
        </form>
      </div>
    </ng-template>
</section>