@import "../influencers";

.invitationDetails .currentInvitationTable .detailsBody .bigContent{
    padding: 0;
}

.msgList{
    li{
        .rightBox{
            width: 80%;
        }
    }
    .resive{
        flex-direction: row-reverse;
    }
}

/*--------------responsive-----------*/

@media screen and (max-width: 1199px){

.detailsBody{ flex-direction: column;}
.invitationDetails .currentInvitationTable .detailsBody .bigContent{ width: 100%;}
.invitationDetails .currentInvitationTable .detailsBody .sideContent{ width: 100%; padding: 20px 0 0; border: 0;}
    
}

@media screen and (max-width:479px){

    .invitationDetails{ padding-top: 30px;}
    .invitationDetails .currentInvitationTable{ padding: 40px 15px;}
    .invitationDetails .currentInvitationTable .header .txts .names{ flex-wrap: wrap;}
    .invitationDetails .currentInvitationTable .header .txts .names h3{ font-size: 23px;}
    .invitationDetails .currentInvitationTable .header .txts .names h4{ width: 100%; margin: 15px 0 0;}
    .invitationDetails .currentInvitationTable .detailsBody .boxes h4{ font-size: 18px;}
    .invitationDetails .currentInvitationTable .detailsBody .boxes.platform ul{ flex-direction: column;}
    .invitationDetails .currentInvitationTable .detailsBody .boxes.platform ul li{ margin: 0 0 10px; justify-content: inherit;}
}





