<section class="accountHolder">
  <section class="row">
    <section class="col bg-white mr-2 mb-2 p-5">
      <div class="row position-relative" [hidden]="showPersonalEditForm">
        <a class="editBtn border rounded-hulf p-1 pl-2 pr-2 position-absolute" (click)="editPersonalInfo()">
          <i class="fa fa-pencil text-gray" aria-hidden="true"></i>
        </a>
        <div class="col-3 text-center">
          <div class="avaterImg mb-4">
            <a href="javascript:void(0)">
              <img src="{{ picture }}" alt="{{ name }}" title="{{ name }}" />
            </a>
          </div>

          <h5 class="mb-0 text-primary">{{totalFollowers? totalFollowers : 'NA'}}</h5>
          <p class="mb-0 text-gray">followers</p>
          <p class="social-icon font-weight-500 text-primary"><i class="fa fa-facebook border-0 text-primary"
              aria-hidden="true"></i>Facebook</p>
          
          <a class="changePassword" (click)="changePasswordModal(changePassword)">Change password</a>
        </div>
        <div class="col-9">
          <h5>Personal Information</h5>
          <p class="mb-0 text-gray">Name</p>
          <p class="mb-4">{{ (personalInfo && personalInfo.firstName) ? ((personalInfo.firstName) | titlecase) : 'NA' }} {{ (personalInfo && personalInfo.lastName) ? ((personalInfo.lastName) | titlecase) : ''}}</p>

          <p class="mb-0 text-gray">Email</p>
          <p class="mb-4">{{ (personalInfo && personalInfo.email) ? personalInfo.email : 'NA' }}</p>

          <p class="mb-0 text-gray">Phone</p>
          <p class="mb-4">{{ (personalInfo && personalInfo.phoneNumber) ? personalInfo.phoneNumber : 'NA' }}</p>

          <div *ngIf="activePlatforms.length">
            <p class="mb-2 text-gray">Connected Social Media</p>
            <div class="d-flex align-items-center mb-4">
              <a class="social-icon mr-3" *ngFor="let activePlatform of activePlatforms">
                <i class="fa fa-{{ activePlatform.class[0] }} mr-2" aria-hidden="true"></i>{{ activePlatform.name[0] }}
              </a>
            </div>
          </div>
          <div *ngIf="inactivePlatforms.length">
            <p class="mb-2 text-gray">Add Social Media </p>
            <div class="d-flex align-items-center mb-4 dissable">
                <a class="social-icon mr-3" *ngFor="let inactivePlatform of inactivePlatforms" (click)="connectSocial(inactivePlatform.name)">
                  <i class="fa fa-{{ inactivePlatform.class_name }} mr-2"></i>{{ inactivePlatform.name }}
                </a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="text-gray mb-0">Category/Industry</p>
              <p>{{ (personalInfo && personalInfo.industry) ? personalInfo.industry : 'NA' }}</p>
            </div>
            <div class="col">
              <p class="text-gray mb-0">Comment Sentiment</p>
              <p>75%</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="text-gray mb-0">Payment Type</p>
              <p>{{ (personalInfo && personalInfo.paymentType) ? personalInfo.paymentType : 'NA' }}</p>
            </div>
            <div class="col" >
              <p class="text-gray mb-0" *ngIf="(this.showData===true)">Payment Email</p>
              <p *ngIf="(this.showData===true)">{{ (personalInfo && personalInfo.payoutMail) ? personalInfo.payoutMail : 'NA' }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row position-relative profileInfoBox" [hidden]="!showPersonalEditForm">
        <a class="editBtn border rounded-hulf p-1 pl-2 pr-2 position-absolute active" (click)="editPersonalInfo()">
          <i class="fa fa-pencil text-gray" aria-hidden="true"></i>
        </a>
        <form class="d-flex" [formGroup]="changePersonalInfoForm" #changePersonalInfo="ngForm" (ngSubmit)="savePersonalInfoFormAction(changePersonalInfoForm.value)">
          <div class="col-3 text-center">
            <div class="avaterImg profilePicWrap mb-4">
              <figure>
                  <div class="avatar-edit">
                      <input type='file' id="profilePicture" accept=".png, .jpg, .jpeg" formControlName="profilePicture"
                          (change)="changeListener($event, 'image')" />
                      <label for="profilePicture"></label>
                  </div>
                  <div class="avatar-preview">
                      <div [style.backgroundImage]="'url('+ picture +')'">
                      </div>
                  </div>
              </figure>
            </div>

            <h5 class="mb-0 text-primary">7.5k</h5>
            <p class="mb-0 text-gray">followers <br> on </p>
            <p class="social-icon font-weight-500 text-primary">
              <i class="fa fa-facebook border-0 text-primary" aria-hidden="true"></i>Facebook
            </p>
            <h6>Rank #2</h6>
            <a class="changePassword" (click)="changePasswordModal(changePassword)">Change password</a>
          </div>
          <div class="col">
            <h5>Personal Information</h5>
            <div class="form-group">
              <p class="mb-0 text-gray">Name</p>
              <div class="mb-4">
                  <input type="text" placeholder="Enter name" formControlName="name" class="form-control" 
                  [ngClass]="{ 'is-invalid': submittedPersonalInfoForm && fPersonalInfo.name.errors }">
                  <div *ngIf="submittedPersonalInfoForm && fPersonalInfo.name.errors" class="invalid-feedback">
                      <div *ngIf="fPersonalInfo.name.errors.required">Name is required</div>
                  </div>
                </div>
            </div>

            <div class="form-group">
              <p class="mb-0 text-gray">Email</p>
              <div class="mb-4">
                  <p>{{ personalEmail }}</p>
                  <input type="hidden" placeholder="Enter email" formControlName="email" class="form-control" 
                  [ngClass]="{ 'is-invalid': submittedPersonalInfoForm && fPersonalInfo.email.errors }">
                  <div *ngIf="submittedPersonalInfoForm && fPersonalInfo.email.errors" class="invalid-feedback">
                      <div *ngIf="fPersonalInfo.email.errors.required">Email is required</div>
                      <div *ngIf="changePersonalInfoForm.controls['email'].errors.pattern" >Email must be a valid email address</div>
                  </div>
              </div>
            </div>

            <div class="form-group">
              <p class="mb-0 text-gray">Phone</p>
              <div class="mb-4">
                  <input type="text" placeholder="Enter phone number" formControlName="phoneNumber" class="form-control" 
                  [ngClass]="{ 'is-invalid': submittedPersonalInfoForm && fPersonalInfo.phoneNumber.errors }">
                  <div *ngIf="submittedPersonalInfoForm && fPersonalInfo.phoneNumber.errors" class="invalid-feedback">
                      <div *ngIf="fPersonalInfo.phoneNumber.errors.required">Phone number is required</div>
                      <div *ngIf="changePersonalInfoForm.controls['phoneNumber'].errors.pattern" >Phone must be a valid phone number</div>
                  </div>
              </div>
            </div>

            <!-- <p class="mb-2 text-gray">Social Media</p>
            <div class="d-flex align-items-center mb-4">
              <a class="social-icon mr-3"><i class="fa fa-facebook mr-2" aria-hidden="true"></i>Facebook</a>
              <a class="social-icon mr-3"><i class="fa fa-twitter mr-2"></i>Twitter</a>
              <a class="social-icon mr-3"><i class="fa fa-youtube mr-2" aria-hidden="true"></i>Youtube</a>
            </div>
            <p class="mb-2 text-gray">Add Social Media </p>
            <div class="d-flex align-items-center mb-4 dissable">
              <a class="social-icon mr-3"><i class="fa fa-linkedin mr-2"></i>Linkedin</a>
              <a class="social-icon mr-3"><i class="fa fa-snapchat-ghost mr-2"></i>Snapchat</a>
              <a class="social-icon mr-3"><i class="fa fa-instagram mr-2" aria-hidden="true"></i>Instagram</a>
            </div> -->
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <p class="text-gray mb-0">Category/Industry</p>
                  <div>
                      <select  class="form-control" formControlName="industry"
                      [ngClass]="{ 'is-invalid': submittedPersonalInfoForm && fPersonalInfo.industry.errors }" tabindex="2">
                          <option [value]="">Choose Industry</option>
                          <option [value]="industryData.name" *ngFor="let industryData of allIndustries">{{ industryData.name | titlecase }}</option>
                      </select>
                      <div *ngIf="submittedPersonalInfoForm && fPersonalInfo.industry.errors" class="invalid-feedback">
                          <div *ngIf="fPersonalInfo.industry.errors.required">Industry is required</div>
                      </div>
                    </div>
                </div>
              </div>
              <div class="col">
                <p class="text-gray mb-0">Comment Sentiment</p>
                <p>75%</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <p class="text-gray mb-0">Payment Type</p>
                  <div>
                      <select  class="form-control" formControlName="paymentType"
                       (change)="showPaymentEmail($event.target.value)">
                       <option *ngFor="let opt of this.paymentTypeOption" [value]="opt.key" >{{opt.value}}</option>
                      </select>
                      
                    </div>
                </div>
              </div>
              <div class="col">
                <p class="text-gray mb-0" *ngIf="(this.showData===true)">Payment Email</p>
                <input type="text" placeholder="Payment Email" formControlName="payoutMail" class="form-control" 
                *ngIf="this.showData===true" [ngClass]="{ 'is-invalid': submittedPersonalInfoForm && fPersonalInfo.payoutMail.errors && fPersonalInfo.paymentType.value == 'Auto'  }" >
                  <div *ngIf="submittedPersonalInfoForm && fPersonalInfo.payoutMail.errors && fPersonalInfo.paymentType.value == 'Auto'" class="invalid-feedback">
                      <div *ngIf="fPersonalInfo.payoutMail.errors.required">Payment email is required</div>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                  <div class="form-group">
                      <button type="submit" class="btn btn-success">Save</button>&nbsp;&nbsp;
                      <button type="button" class="btn btn-default" (click)="editPersonalInfo()">Cancel</button>
                  </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>

    <section class="col bg-white mb-2 p-5">
      <div class="row position-relative" [hidden]="showDetailsEditForm">
        <a class="editBtn border rounded-hulf p-1 pl-2 pr-2 position-absolute" (click)="editDetailsInfo()">
          <i class="fa fa-pencil text-gray" aria-hidden="true"></i>
        </a>
        <div class="col">
          <h5>Other Information</h5>
          <p class="mb-0 text-gray">Country</p>
          <p class="mb-4">{{ (personalInfo && personalInfo.country) ? (personalInfo.country | titlecase) : 'NA' }}</p>

          <p class="mb-0 text-gray">Nationality</p>
          <p class="mb-4">{{ (personalInfo && personalInfo.nationality) ? (personalInfo.nationality | titlecase) : 'NA' }}</p>

          <p class="mb-1 text-gray">Description</p>
          <p class="mb-4" [innerHtml]="(personalInfo && personalInfo.description) ? (personalInfo.description | titlecase) : 'NA'"></p>

          <p class="mb-1 text-gray">I do perform/act characters</p>
          <p class="mb-4">{{ (personalInfo && personalInfo.isAgreeToPerform == '1') ? 'Yes' : 'No' }}</p>
        </div>
      </div>
      <div class="row position-relative" [hidden]="!showDetailsEditForm">
        <a class="editBtn border rounded-hulf p-1 pl-2 pr-2 position-absolute active" (click)="editDetailsInfo()">
          <i class="fa fa-pencil text-gray" aria-hidden="true"></i>
        </a>
        <div class="col">
            <form [formGroup]="changeDetailsInfoForm" #changeDetailsInfo="ngForm" (ngSubmit)="saveDetailsInfoFormAction(changeDetailsInfoForm.value)">
                <h5>Other Information</h5>
                <div class="form-group">
                    <p class="mb-0 text-gray">Country</p>
                    <div class="mb-4">
                        <select  class="form-control" formControlName="country"
                        [ngClass]="{ 'is-invalid': submittedDetailsInfoForm && fDetailsInfo.country.errors }" tabindex="6">
                            <option [value]="">Choose Country</option>
                            <option [value]="countryData.countryname" *ngFor="let countryData of allCountries">{{ countryData.countryname | titlecase }}</option>
                        </select>
                        <div *ngIf="submittedDetailsInfoForm && fDetailsInfo.country.errors" class="invalid-feedback">
                            <div *ngIf="fDetailsInfo.country.errors.required">Country is required</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                  <p class="mb-0 text-gray">Nationality</p>
                  <div class="mb-4">
                    <input type="text" placeholder="Enter nationality" formControlName="nationality" class="form-control" 
                      [ngClass]="{ 'is-invalid': submittedDetailsInfoForm && fDetailsInfo.nationality.errors }">
                      <div *ngIf="submittedDetailsInfoForm && fDetailsInfo.nationality.errors" class="invalid-feedback">
                          <div *ngIf="fDetailsInfo.nationality.errors.required">Name is required</div>
                      </div>
                  </div>
                </div>

                <p class="mb-1 text-gray">Description</p>
                <div class="mb-4">
                  <textarea placeholder="Enter description" formControlName="description" class="form-control" 
                    [ngClass]="{ 'is-invalid': submittedDetailsInfoForm && fDetailsInfo.description.errors }"></textarea>
                    <div *ngIf="submittedDetailsInfoForm && fDetailsInfo.description.errors" class="invalid-feedback">
                        <div *ngIf="fDetailsInfo.description.errors.required">Description is required</div>
                    </div>
                </div>

                <div class="custom-control custom-checkbox mt-2">
                  <input type="checkbox" class="custom-control-input" formControlName="isAgreeToPerform" id="customCheck1">
                  <label class="custom-control-label text-gray ml-1" for="customCheck1">I do perform/act characters</label>
                </div>
                <div class="row">
                  <div class="col-md-8 mt-3">
                      <div class="form-group">
                          <button type="submit" class="btn btn-success">Save</button>&nbsp;&nbsp;
                          <button type="button" class="btn btn-default" (click)="editDetailsInfo()">Cancel</button>
                      </div>
                  </div>
                  
                </div>
            </form>
        </div>
      </div>
    </section>
  </section>

  <section class="row">
    <section class="col bg-white mr-2 mb-2 p-5">
      <div class="row position-relative">
        <a class="editBtn border rounded-hulf p-1 pl-2 pr-2 position-absolute" (click)="editReadymadePriceData()"><i class="fa fa-pencil text-gray"
            aria-hidden="true"></i></a>
        <div class="col">
          <h5>Pricing of Ready – Made Content</h5>
          <div class="postBox" *ngIf="associatedPlatforms && associatedPlatforms.length">
            <form #readyMadePriceForm="ngForm" (ngSubmit)="saveReadymadePrice(readyMadePriceForm)">
              <div class="d-flex justify-content-between border-bottom mb-3 mt-4">
                <p class="mb-2">Post type</p>
                <p class="mb-2">Price</p>
              </div>
              <div class="d-flex justify-content-between" *ngFor="let platformPrice of associatedPlatforms">
                <p class="mb-2 text-gray">{{platformPrice.Platform.name}}</p>
                <p class="mb-2 text-primary" *ngIf="!editReadymadePrice">${{platformPrice.readymade_content_price?platformPrice.readymade_content_price:'NA'}}
                  </p>
                <p class="mb-2 text-primary" *ngIf="editReadymadePrice">$
                    <input type="number" *ngIf="readyMadeContentPrice" name ="{{platformPrice.id}}" placeholder='{{platformPrice.readymade_content_price?platformPrice.readymade_content_price:0}}' required [(ngModel)] ="readyMadeContentPrice[platformPrice.id]">
                  </p>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn-success">Save</button> &nbsp;&nbsp;
                    <button type="button" (click)="cancelReadymadeEdit()">Cancel</button>
                </div>
              </form>
          </div>
          <div class="postBox" *ngIf="!associatedPlatforms || !associatedPlatforms.length">No Data Found</div>
        </div>
      </div>
    </section>
    <section class="col bg-white mb-2 p-5">
      <div class="row position-relative">
        <a class="editBtn border rounded-hulf p-1 pl-2 pr-2 position-absolute" (click) ="editGeneratePriceData()"><i class="fa fa-pencil text-gray"
            aria-hidden="true"></i></a>
        <div class="col">
          <h5>Pricing of Influencer Generated Content</h5>
          <div class="postBox" *ngIf="associatedPlatforms && associatedPlatforms.length">
            <form #generateMadePriceForm="ngForm" (ngSubmit)="saveGeneratedPrice(generateMadePriceForm)">
            <div class="d-flex justify-content-between border-bottom mb-3 mt-4">
              <p class="mb-2">Post type</p>
              <p class="mb-2">Price</p>
            </div>
            <div class="d-flex justify-content-between" *ngFor="let platformPrice of associatedPlatforms">
              <p class="mb-2 text-gray">{{platformPrice.Platform.name}}</p>
              <p class="mb-2 text-primary" *ngIf="!editGeneratePrice">${{platformPrice.generate_content_price?platformPrice.generate_content_price:'NA'}}
              </p>
              <p class="mb-2 text-primary" *ngIf="editGeneratePrice">$
                <input type="number" *ngIf="generateContentPrice" name ="{{platformPrice.id}}" placeholder='{{platformPrice.generate_content_price?platformPrice.generate_content_price:0}}' [(ngModel)] ="generateContentPrice[platformPrice.id]" required ngModel>
              </p>
            </div>
            <div class="form-group">
                <button type="submit" class="btn-success">Save</button> &nbsp;&nbsp;
                <button type="button" (click)="cancelGenerateEdit()">Cancel</button>
            </div>
            
            </form>
          </div>
          <div class="postBox" *ngIf="!associatedPlatforms || !associatedPlatforms.length">No Data Found</div>
        </div>
      </div>
    </section>
  </section>

  <section class="row">
    <section class="col bg-white mb-2 p-5">
      <h5 class="mb-4">Account Details</h5>
      <div class="row position-relative">
        <div class="col">
          <div class="row">
            <div class="col-6 text-center pl-5 pr-5">
              <div class="graph mb-3">
                <canvas #doughnutCanvas baseChart height="150" [data]="doughnutChartData" [colors]="doughnutDataColors"
                  [labels]="doughnutChartLabels" [chartType]="doughnutChartType" [options]="doughnutChartOptions"
                  [plugins]="doughnutChartPlugins" [legend]="doughnutChartLegend">
                </canvas>
              </div>
              <p class="font-weight-500 border-bottom pb-3">Total Followers</p>
              <p class="social-icon font-weight-500 mb-0"><i class="fa fa-facebook border-0"
                  aria-hidden="true"></i><span class="text_blue">Facebook </span> <span> : 7.5k</span></p>

              <p class="social-icon font-weight-500 mb-0"><i class="fa fa-twitter border-0" aria-hidden="true"></i><span
                  class="text_sky">Twitter </span> <span> : 7.5k</span></p>

              <p class="social-icon font-weight-500 mb-0"><i class="fa fa-youtube border-0" aria-hidden="true"></i><span
                  class="text-danger">Youtube </span> <span> : 7.5k</span></p>

            </div>
            <div class="col-6 text-center pl-5 pr-5">
              <div class="graph mb-3">
                <canvas #doughnutCanvas1 baseChart height="150" [data]="doughnutChartData1"
                  [colors]="doughnutDataColors" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
                  [options]="doughnutChartOptions1" [plugins]="doughnutChartPlugins" [legend]="doughnutChartLegend">
                </canvas>
              </div>
              <p class="font-weight-500 border-bottom pb-3">Average Engagement Rate</p>
              <p class="social-icon font-weight-500 mb-0"><i class="fa fa-facebook border-0"
                  aria-hidden="true"></i><span class="text_blue">Facebook </span> <span> : 7.5k</span></p>

              <p class="social-icon font-weight-500 mb-0"><i class="fa fa-twitter border-0" aria-hidden="true"></i><span
                  class="text_sky">Twitter </span> <span> : 7.5k</span></p>

              <p class="social-icon font-weight-500 mb-0"><i class="fa fa-youtube border-0" aria-hidden="true"></i><span
                  class="text-danger">Youtube </span> <span> : 7.5k</span></p>
            </div>
          </div>
        </div>
        <div class="col">
          <p class="text-gray mb-2">Followers Country Distribution</p>
          <p class="mb-4">
            Iraq : <span class="mr-3 font-weight-500">1k,</span>
            UAE : <span class="mr-3 font-weight-500">677,</span>
            Jordon : <span class="mr-3 font-weight-500">122,</span>
            Qatar : <span class="mr-3 font-weight-500"></span>455
          </p>

          <p class="text-gray mb-2">Followers Age Distribution</p>
          <p class="mb-4">
            18 - 25 years : <span class="mr-3 font-weight-500">5.6k,</span>
            25 - 35 years : <span class="mr-3 font-weight-500">1.4k,</span>
            35 years above : <span class="mr-3 font-weight-500">0.5k,</span>
          </p>

          <p class="text-gray mb-2">Followers Gender Distribution</p>
          <p class="font-weight-60 mb-4">60% Male , 40% Female</p>

          <p class="text-gray mb-2">Keywords and hashtags Used</p>
          <p class="font-weight-60 mb-4">Maximus, Porttitor odio, Duis dignissim eros </p>
        </div>
      </div>
    </section>
  </section>

  <section class="row">
    <section class="col bg-white mr-2 mb-2 p-5">
      <div class="row position-relative">
        <div class="col">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="mb-4">Youtube progress</h5>
            <select class="custom">
              <option>Apr 2019</option>
              <option>May 2019</option>
              <option>Jun 2019</option>
            </select>
          </div>

          <div class="graph">
            <canvas baseChart height="100" [datasets]="lineChartData" [labels]="lineChartLabels"
              [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
              [chartType]="lineChartType" [plugins]="lineChartPlugins">
            </canvas>
          </div>
        </div>

      </div>
    </section>

    <section class="col bg-white mb-2 p-5">
      <div class="row position-relative">
        <div class="col">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="mb-4">Instagram progress</h5>
            <select class="custom">
              <option>Apr 2019</option>
              <option>May 2019</option>
              <option>Jun 2019</option>
            </select>
          </div>
          <div class="graph">
            <canvas baseChart height="100" [datasets]="lineChartData1" [labels]="lineChartLabels"
              [options]="lineChartOptions" [colors]="lineChartColors1" [legend]="lineChartLegend"
              [chartType]="lineChartType" [plugins]="lineChartPlugins">
            </canvas>
          </div>
        </div>
      </div>
    </section>
  </section>
</section>
<!-- Change Password Modal -->
<ng-template class="modal customModal" #changePassword>
    <form [formGroup]="changePasswordForm" #changePasswordInfo="ngForm" (ngSubmit)="saveChnagePasswordAction(changePasswordForm.value)">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Change Password </h4>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Old Password <span class="text-danger">*</span></label>
                        <div class="input-group mb-3">
                            <input type="password" #pwd0 placeholder="Old password" formControlName="oldPassword" class="form-control"
                            [ngClass]="{ 'is-invalid': submittedChangePasswordForm && fChangePassword.oldPassword.errors }" />
                            <div class="input-group-append" (click)="pwd0.type=pwd0.type=='text' ? 'password' : 'text'">
                                <span class="input-group-text">
                                    <i class="fa" [ngClass]="{'fa-eye':pwd0.type=='text', 'fa-eye-slash':pwd0.type=='password'}"></i>
                                </span>
                            </div>
                            <div *ngIf="submittedChangePasswordForm && fChangePassword.oldPassword.errors" class="invalid-feedback">
                                <div *ngIf="fChangePassword.oldPassword.errors.required">Old Password is required</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>New Password <span class="text-danger">*</span></label>
                        <div class="input-group mb-3">
                            <input type="password" #pwd1 placeholder="New password" formControlName="newPassword" class="form-control"
                            [ngClass]="{ 'is-invalid': submittedChangePasswordForm && fChangePassword.newPassword.errors }" />
                            <div class="input-group-append" (click)="pwd1.type=pwd1.type=='text' ? 'password' : 'text'">
                                <span class="input-group-text">
                                    <i class="fa" [ngClass]="{'fa-eye':pwd1.type=='text', 'fa-eye-slash':pwd1.type=='password'}"></i>
                                </span>
                            </div>
                            <div *ngIf="submittedChangePasswordForm && fChangePassword.newPassword.errors" class="invalid-feedback">
                                <div *ngIf="fChangePassword.newPassword.errors.required">Old Password is required</div>
                                <div *ngIf="changePasswordForm.controls['newPassword'].errors.pattern" >Password must be 8 to 20 characters long and should contain uppercase letters, lowercase letters, numbers, and special characters.</div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-12">
                    <div class="form-group">
                      <label>Confirm Password <span class="text-danger">*</span></label>
                      <div class="input-group mb-3">
                          <input type="password" #pwd2 placeholder="Confirm password" formControlName="confirmPassword" class="form-control" 
                          [ngClass]="{ 'is-invalid': submittedChangePasswordForm && fChangePassword.confirmPassword.errors }" />
                          <div class="input-group-append" (click)="pwd2.type=pwd2.type=='text' ? 'password' : 'text'">
                              <span class="input-group-text">
                                  <i class="fa" [ngClass]="{'fa-eye':pwd2.type=='text', 'fa-eye-slash':pwd2.type=='password'}"></i>
                              </span>
                          </div>
                          <div *ngIf="submittedChangePasswordForm && fChangePassword.confirmPassword.errors" class="invalid-feedback">
                              <div *ngIf="fChangePassword.confirmPassword.errors.required">Confirm Password is required</div>
                              <div *ngIf="fChangePassword.confirmPassword.errors.mustMatch">Passwords must match</div>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="submit" class="btn btn-success">Save</button>
            <button type="button" class="btn btn-danger" (click)="modalRef.hide()">Close</button>
        </div>
    </form>
</ng-template>