@import "../influencers";
@import "../../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../assets/styles/functions";
@import '../../../assets/styles/variables';

.accountHolder{
    .dissable{
        opacity: 0.6;
    }
    .avaterImg img{
        border-radius: $hlf;
        object-fit: contain;
    }
    .editBtn{
        right: -5px;
        top: -20px;
    }
    p{
        &.social-icon{
            display: flex;
            align-items: center;
            i{
                &.fa-facebook{
                    width: 30px;
                }
            }
        }
    }
    select.custom{
        background: transparent url("/assets/brand-owner/images/down-arrow.png") no-repeat center right 0;
        border: 0;
        border-bottom: solid 1px #d9d9d9;
        appearance: none;
        padding-bottom: 7px;
        color: #8c8c8c;
        font-size: 13px;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
        min-width: 100px;
    }
    .changePassword{
        display: inline-block;
        font-size: 8px;
        color: #c3c3c3;
        font-weight: 700;
        padding: 0 10px;
        text-transform: uppercase;
        border: 1px solid #c3c3c3;
        border-radius: 24px;
        font-family: 'Open Sans',sans-serif;
        text-decoration: none;
    }
    .changePassword:hover{
        color: #c3c3c3;
    }
}
.form-group {
    .input-group-append {
        .input-group-text {  
            border: 1px solid #ced4da;
            border-radius: 0 .25rem .25rem 0;
            background-color: transparent;
        } 
        :hover{
            cursor: pointer
        }
    }
}
.border{
    &.active{
        border: 1px solid #ed8c24 !important;
        i{
            color: #ed8c24;
        }
    }
}

.avaterImg{
    .avatar-preview{
        width: 85px;
        height: 85px;
        position: relative;
        div{
            width: 100%;
            height: 100%;
            position: absolute;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            border: 1px solid #ccc;
        }
    }
    .avatar-edit{
        position: relative;
        input[type="file"]{
            width: 20px;
            height: 20px;
            position: absolute;
            top: 25px;
            right: 0;
            z-index: 8;
            cursor: pointer;
            display: none;
        }
        label{
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            padding: 3px;
            margin-bottom: 0;
            background:#fff URL("assets/brand-owner/images/link-chain.png") no-repeat center;
            // background-size: 34px auto;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            position: absolute;
            right: 3px;
            top: 3px;
            z-index: 8;
            box-shadow: 0 2px 10px rgba(0,0,0,.2);
        }
    }
}

.profileInfoBox{
    .profilePicWrap{
        figure{
            position: relative;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                left: 0;
                top: 0;
            }
        }
    }
}