@import '../frontend';
.login_holder {
    .login_area form {
        .form-group {
           .input-group-append {
               .input-group-text {
                    border-width: 0 0 2px 0;
                } 
                :hover{
                    cursor: pointer
                }
           }
        }
    }
} 

.timer{
    background: #fff;
    color: #212529;
    font-size: 40px;
    display: block;
    margin: 0 auto;
    line-height: normal;
    text-align: center;
    border-radius: 5px;
    padding: 50px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    position: relative;
    span{
        font-size: 16px;
        font-weight: 300;
        color: #3086e7;
        margin-top: 35px;
    }
   
    .time2{
        display: inline-block;
        text-align: left;
        position: relative;
        width: 218px;
        &:before{
            content: "DAY";
            position: absolute;
            top: 56px;
            left: 0;
            font-size: 18px;
            font-weight: 600;
            color: #ed8c24;
        }
        &:after{
            content: "HR";
            position: absolute;
            top: 56px;
            left: 55px;
            font-size: 18px;
            font-weight: 600;
            color: #ed8c24;
        }
    }
    .time3{
        display: inline-block;
        text-align: left;
        position: relative;
        &:before{
            content: "MIN";
            position: absolute;
            top: 56px;
            left: 105px;
            font-size: 18px;
            font-weight: 600;
            color: #ed8c24;
        }
        &:after{
            content: "SEC";
            position: absolute;
            top: 56px;
            font-size: 18px;
            font-weight: 600;
            color: #ed8c24;
            left: 154px;
        }
    }
}


.comingSoon{
    //height: 1000px;
    .login_area{
        padding: 50px 0;
        h2{
            color: #007bff;
            font-size: 35px;
            margin: 0 auto;
        }
    }
}

