<section class="login_holder signup_holder comingSoon"><!--login_holder-->
  <div class="container">
      
     
      <!-- <div class="timer">
        
            <countdown-timer  [end]="endDate" ></countdown-timer> 
            
            
        
    
    <span class="d-block" >{{message}}</span>
  </div> -->
      <div class="login_area" ><!--login_area-->
        
            
              <h2>Coming Soon ...</h2>
            
        
      </div>
  </div>
</section><!--login_holder--> 
