<section class="campaign_details">
  <div class="title">
    <h2>ABCRX</h2>
    <p>Total No of Influencers : <span>{{totalInfluncer}}</span></p>
  </div>

  <div class="campaign_details_body">
    <ul class="mainList">
      <!-- Total Amount Invested -->
      <li>
        <div class="header">
          <div class="header-title">
            <h3>Total Amount Invested</h3>
          </div>
          <!-- <div class="header-select">
            <select>
              <option>Apr 2019</option>
              <option>May 2019</option>
              <option>Jun 2019</option>
            </select>
          </div> -->
        </div>
        <div class="chartBodySec">
          <div class="chartSec">
                <canvas #doughnutCanvas baseChart height="120" width="120" [data]="doughnutChartData"
                    [colors]="doughnutDataColors" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
                    [options]="doughnutChartOptions" [plugins]="doughnutChartPlugins"
                    [legend]="doughnutChartLegend">
                </canvas>
          </div>
          <div class="chartDescTxt">
            <p>% Of Amount Invested - <span class="textBlue">{{this.paid_pct}}</span></p>
            <p>% Pending - <span class="textOrange">{{this.pending_pct}}</span></p>
          </div>
        </div>

        <div class="scrollArea">
          <h4>Invested on</h4>
          <ul>
            <li *ngFor="let item of investerList">
              <div class="leftTxt">
                <figure><img src="{{item.img}}"/></figure>
                <div class="name">{{item.name}}</div>
                <div class="date">{{item.date | date:'dd MMM yyyy'}}</div>
              </div>
              <div class="amount">${{item.amount}}</div>
            </li>
          </ul>
        </div>
      </li>

      <!-- Followers Reached -->
      <li>
        <div class="header">
          <div class="header-title">
            <h3>Followers Reached</h3>
          </div>
          <div class="header-select">
            <select>
              <option>Apr 2019</option>
              <option>May 2019</option>
              <option>Jun 2019</option>
            </select>
          </div>
        </div>

        <div class="chartBodySec">
          <canvas baseChart width="400" height="200"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins">
          </canvas>
        </div>

        <div class="scrollArea followBg">
            <h4>List of the follows</h4>
            <ul>
              <li *ngFor="let item of followerList">
                <div class="leftTxt">
                  <figure><img src="assets/brand-owner/images/{{item.img}}" /></figure>
                  <div class="name">{{item.name}}</div>
                  <div class="date">{{item.date}}</div>
                </div>
                <div class="amount">{{item.amount}} Follows</div>
              </li>
            </ul>
          </div>
      </li>

      <!-- No Of Likes & Comments -->
      <li>
        <div class="header">
          <div class="header-title">
            <h3>No Of Likes & Comments</h3>
          </div>
          <div class="header-select">
            <select>
              <option>Apr 2019</option>
              <option>May 2019</option>
              <option>Jun 2019</option>
            </select>
          </div>
        </div>

        <div class="chartBodySec">
          <canvas baseChart width="400" height="200"
            [datasets]="lineChartData1"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors1"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins">
          </canvas>
        </div>

        <div class="scrollArea likeCommentSec">
            <h4>List of the likes & Comments</h4>
            <ul>
              <li *ngFor="let item of likeList">
                <div class="leftTxt">
                  <figure><img src="assets/brand-owner/images/{{item.img}}"/></figure>
                  <div class="name">{{item.name}}</div>
                  <div class="date">{{item.date}}</div>
                </div>
                <div class="likeComment">
                  <span>{{item.like}}<img src="assets/brand-owner/images/campaign-like.png"/></span>
                  <span>{{item.comment}}<img src="assets/brand-owner/images/campaign-comment.png" /></span>
                </div>
              </li>
            </ul>
          </div>
      </li>

      <!-- Platform Comparison -->
      <li>
        <div class="header">
          <div class="header-title">
            <h3>Platform Comparison</h3>
          </div>
          <div class="header-select">
            <select>
              <option>Apr 2019</option>
              <option>May 2019</option>
              <option>Jun 2019</option>
            </select>
          </div>
        </div>

        <div class="chartBodySec">
            <canvas baseChart 
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [colors]="barDataColors"
              [plugins]="barChartPlugins"
              [legend]="barChartLegend"
              [chartType]="barChartType">
            </canvas>
        </div>

        <div class="scrollArea soacialSec">
            <h4>Targeted Platform</h4>
            <ul>
              <li *ngFor="let item of soacialList">
                <div class="leftTxt">
                  <figure><img src="{{item.img}}" /></figure>
                  <div class="name">{{item.name}}</div>
                </div>
                <div class="social-icon"><i class="{{item.social?'fa fa-'+item.social:''}}" aria-hidden="true"></i></div>
              </li>
            </ul>
          </div>
      </li>

      <!-- ROI -->
      <li>
        <div class="header">
          <div class="header-title">
            <h3>ROI</h3>
          </div>
          <div class="header-select">
            <select>
              <option>Apr 2019</option>
              <option>May 2019</option>
              <option>Jun 2019</option>
            </select>
          </div>
        </div>

        <div class="chartBodySec">
            <div class="chartSec">
                <canvas #doughnutCanvas1 baseChart height="120" width="120" [data]="doughnutChartData1"
                    [colors]="doughnutDataColors" [labels]="doughnutChartLabels1" [chartType]="doughnutChartType"
                    [options]="doughnutChartOptions1" [plugins]="doughnutChartPlugins"
                    [legend]="doughnutChartLegend">
                </canvas>
            </div>
            <div class="chartDescTxt">
                <p>Amount Invested - <span class="textBlue">20</span></p>
                <p>Return - <span class="textOrange">80</span></p>
            </div>
        </div>

        <div class="scrollArea roiSec">
            <h4>Individual Return</h4>
            <ul>
              <li *ngFor="let item of investerList">
                <div class="leftTxt">
                  <figure><img src="assets/brand-owner/images/{{item.img}}" /></figure>
                  <div class="name">{{item.name}}</div>
                  <div class="date">{{item.date}}</div>
                </div>
                <div class="amount">${{item.amount}}</div>
              </li>
            </ul>
          </div>
      </li>

      <!-- Total media value -->
      <li>
        <div class="header">
          <div class="header-title">
            <h3>Total media value</h3>
          </div>
          <!-- <div class="header-select">
            <select>
              <option>Apr 2019</option>
              <option>May 2019</option>
              <option>Jun 2019</option>
            </select>
          </div> -->
        </div>

        <div class="chartBodySec">
            <div class="chartSec">
                <canvas #doughnutCanvas2 baseChart height="120" width="120" [data]="doughnutChartData2"
                    [colors]="doughnutDataColors" [labels]="doughnutChartLabels2" [chartType]="doughnutChartType"
                    [options]="doughnutChartOptions2" [plugins]="doughnutChartPlugins"
                    [legend]="doughnutChartLegend">
                </canvas>
            </div>
            <div class="chartDescTxt">
                <p>Amount Invested - <span class="textBlue">{{amountInvested}}</span></p>
                <p>Media Value - <span class="textOrange">{{campaign.total_amount_invested?campaign.total_amount_invested:''}}</span></p>
            </div>
        </div>

        <div class="scrollArea roiSec">
            <h4>Individual Media Value</h4>
            <ul>
              <li *ngFor="let item of investerList">
                <div class="leftTxt">
                  <figure><img src="assets/brand-owner/images/{{item.img}}" /></figure>
                  <div class="name">{{item.name}}</div>
                  <div class="date">{{item.date}}</div>
                </div>
                <div class="amount">${{item.amount}}</div>
              </li>
            </ul>
          </div>
      </li>
    </ul>
  </div>
</section>