@import "../influencers";


body.fixed-nav #wrapper .navbar-static-side,
body.fixed-nav #wrapper #page-wrapper {
  margin-top: 60px;
}
body.top-navigation.fixed-nav #wrapper #page-wrapper {
  margin-top: 0;
}

body.mini-navbar #page-wrapper {
    margin: 0 0 0 70px;
  }

  body.canvas-menu.mini-navbar #page-wrapper,
body.canvas-menu.mini-navbar .footer {
  margin: 0 0 0 0;
}

body.fixed-sidebar.mini-navbar #page-wrapper {
    margin: 0 0 0 0;
  }
  body.body-small.fixed-sidebar.mini-navbar #page-wrapper {
    margin: 0 0 0 220px;
  }

  .top-navigation #page-wrapper {
    margin-left: 0;
  }

  .top-navigation.mini-navbar #page-wrapper,
.top-navigation.body-small.fixed-sidebar.mini-navbar #page-wrapper,
.mini-navbar .top-navigation #page-wrapper,
.body-small.fixed-sidebar.mini-navbar .top-navigation #page-wrapper,
.canvas-menu #page-wrapper {
  margin: 0;
}
body.full-height-layout #wrapper,
body.full-height-layout #page-wrapper {
  height: 100%;
}
#page-wrapper {
  min-height: auto;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    position: relative !important;
  }
  @media (min-width: 768px) {
    #page-wrapper {
      position: inherit;
      margin: 0 0 0 240px;
      min-height: 2002px;
    }
  }

  body.rtls #page-wrapper {
    margin: 0 220px 0 0;
  }

  body.rtls.top-navigation #page-wrapper {
    margin: 0;
  }
  body.rtls.mini-navbar #page-wrapper {
    margin: 0 70px 0 0;
  }
  body.rtls.mini-navbar.fixed-sidebar #page-wrapper {
    margin: 0 0 0 0;
  }
  body.rtls.body-small.fixed-sidebar.mini-navbar #page-wrapper {
    margin: 0 220px 0 0;
  }

  body.rtls .top-navigation #page-wrapper,
body.rtls.mini-navbar .top-navigation #page-wrapper,
body.rtls.mini-navbar.top-navigation #page-wrapper {
  margin: 0;
}

.body-small.rtls #page-wrapper {
    position: inherit;
    margin: 0 0 0 0;
    min-height: 1000px;
  }
  .skin-1 #page-wrapper {
    background: #f4f6fa;
  }
  .skin-2 #page-wrapper {
    background: #f6f6f6;
    background: -webkit-radial-gradient(center, ellipse cover, #f6f6f6 20%, #d5d5d5 100%);
    background: -o-radial-gradient(center, ellipse cover, #f6f6f6 20%, #d5d5d5 100%);
    background: -ms-radial-gradient(center, ellipse cover, #f6f6f6 20%, #d5d5d5 100%);
    background: radial-gradient(ellipse at center, #f6f6f6 20%, #d5d5d5 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f6f6f6, endColorstr=#d5d5d5)";
  }

  .skin-3 #page-wrapper {
    background: #f4f6fa;
  }
  .md-skin .pace-done .navbar-static-side,
.md-skin .pace-done .nav-header,
.md-skin .pace-done li.active,
.md-skin .pace-done #page-wrapper,
.md-skin .pace-done .footer {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.md-skin.fixed-nav #wrapper.top-navigation #page-wrapper {
    margin-top: 0;
  }

  .md-skin.fixed-sidebar.mini-navbar #page-wrapper {
    margin: 0 0 0 0;
  }
  .md-skin.body-small.fixed-sidebar.mini-navbar #page-wrapper {
    margin: 0 0 0 0;
  }

  @media (min-width: 768px) {
    #page-wrapper {
      position: inherit;
      margin: 0 0 0 220px;
      min-height: 100vh;
      background: url("/assets/brand-owner/images/brand-dash-bg.jpg") no-repeat 0 0 #f3f2f2;
      background-size: 100% auto;
      padding: ($m10 * 4) ($m10 * 4);
    }
    .navbar-static-side {
      z-index: 2001;
      position: absolute;
      width: 220px;
    }
    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
      margin-left: auto;
    }
  }
  @media (max-width: 768px) {
    #page-wrapper {
      position: inherit;
      margin: 0 0 0 0;
      min-height: 1000px;
    }
    .body-small .navbar-static-side {
      display: none;
      z-index: 2001;
      position: absolute;
      width: 70px;
    }
    .body-small.mini-navbar .navbar-static-side {
      display: block;
    }
    .lock-word {
      display: none;
    }
    .navbar-form-custom {
      display: none;
    }
    .navbar-header {
      display: inline;
      float: left;
    }
    .sidebard-panel {
      z-index: 2;
      position: relative;
      width: auto;
      min-height: 100% !important;
    }
    .sidebar-content .wrapper {
      padding-right: 0;
      z-index: 1;
    }
    .fixed-sidebar.body-small .navbar-static-side {
      display: none;
      z-index: 2001;
      position: fixed;
      width: 220px;
    }
    .fixed-sidebar.body-small.mini-navbar .navbar-static-side {
      display: block;
    }
    .ibox-tools {
      float: none;
      text-align: right;
      display: block;
    }
    .navbar-static-side {
      display: none;
    }
    body:not(.mini-navbar) {
      -webkit-transition: background-color 500ms linear;
      -moz-transition: background-color 500ms linear;
      -o-transition: background-color 500ms linear;
      -ms-transition: background-color 500ms linear;
      transition: background-color 500ms linear;
      background-color: #f3f3f4;
    }
  }

  .adminBrand_holder{
      background: #40a8f2;
  }


 


