@import '../frontend';
.login_holder {
    .login_area form {
        .form-group {
           .input-group-append {
               .input-group-text {
                    border-width: 0 0 2px 0;
                } 
                :hover{
                    cursor: pointer
                }
           }
        }
    }
} 
a:focus {
    outline: #ccc solid 1px;
}
