<section class="login_holder signup_holder" *ngIf ="!validate"><!--login_holder-->
  <div class="container">
      <h2 [hidden]="isSignUpSuccess">Sign Up</h2>
      <div class="signup_choice" [hidden]="isSignUpSuccess"><!--signup_choice-->
        <div class="form-radio mr-5">
            <input id="radio1" type="radio" [(ngModel)]="userType" [value]="0" #brand (change)="isSignUpSuccess=false">
            <label for="radio1"><span><span></span></span>Brand</label>
        </div>

        <div class="form-radio">
            <input id="radio2" type="radio" [(ngModel)]="userType" [value]="1" #influencer (change)="isSignUpSuccess=false">
            <label for="radio2"><span><span></span></span>Influencer</label>
        </div>
            
      </div><!--signup_choice-->
      <div class="login_area" *ngIf="influencer.checked && !isSignUpSuccess"><!--login_area-->
          <div class="login_area_left"><!--login_area_left-->
              <form [formGroup]="influenceRegisterForm" (ngSubmit)="influenceSubmit()">
                  <div class="form-group">            
                      <input type="text" class="form-control" placeholder="Name" formControlName="name"
                      [ngClass]="{ 'is-invalid': submitted && i.name.errors }" tabindex="1">
                      <div *ngIf="submitted && i.name.errors" class="invalid-feedback">
                        <div *ngIf="i.name.errors.required">Name is required</div>
                    </div>
                  </div>
                  <div class="form-group">
                      <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email" formControlName="email"
                      [ngClass]="{ 'is-invalid': submitted && i.email.errors }" tabindex="2">
                      <div *ngIf="submitted && i.email.errors" class="invalid-feedback">
                        <div *ngIf="i.email.errors.required">Email is required</div>
                        <div *ngIf="influenceRegisterForm.controls['email'].errors.pattern" >Email must be a valid email address</div>
                        <!-- <div *ngIf="i.email.errors.email">Email must be a valid email address</div> -->
                    </div>
                  </div>
                  <div class="form-group">
                        <div class="input-group mb-3">
                            <input type="password" #pwd0 class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="password"
                            [ngClass]="{ 'is-invalid': submitted && i.password.errors }" tabindex="3">
                            <div class="input-group-append" (click)="pwd0.type=pwd0.type=='text' ? 'password' : 'text'">
                                <span class="input-group-text">
                                    <i class="fa" [ngClass]="{'fa-eye':pwd0.type=='text', 'fa-eye-slash':pwd0.type=='password'}"></i>
                                </span>
                            </div>
                            <div *ngIf="submitted && i.password.errors" class="invalid-feedback">
                                <div *ngIf="i.password.errors.required">Password is required</div>
                                <div *ngIf="influenceRegisterForm.controls['password'].errors.pattern" >Password must be 8 to 20 characters long and should contain uppercase letters, lowercase letters, numbers, and special characters.</div>
                                <!-- <div *ngIf="i.password.errors.minlength">Password must be at least 6 characters</div> -->
                            </div>
                        </div>
                  </div>
                  <div class="form-group">
                        <div class="input-group mb-3">
                            <input type="password" #pwd class="form-control" id="exampleInputPassword2" placeholder="Confirm Password" formControlName="confirmPassword"
                            [ngClass]="{ 'is-invalid': submitted && i.confirmPassword.errors }" tabindex="4">
                            <div class="input-group-append" (click)="pwd.type=pwd.type=='text' ? 'password' : 'text'">
                                <span class="input-group-text">
                                    <i class="fa" [ngClass]="{'fa-eye':pwd.type=='text', 'fa-eye-slash':pwd.type=='password'}"></i>
                                </span>
                            </div>
                            <div *ngIf="submitted && i.confirmPassword.errors" class="invalid-feedback">
                                <div *ngIf="i.confirmPassword.errors.required">Confirm Password is required</div>
                                <div *ngIf="i.confirmPassword.errors.mustMatch">Passwords must match</div>
                            </div>
                        </div>
                  </div>
                  <div class="form-check form-group">
                        <input id="influnaireAgreeCheckbox" type="checkbox" formControlName="influnaireAgree" value="1">
                        <label for="influnaireAgreeCheckbox"><span tabindex="5"></span>
                            I agree to influnaire.com <a href="javascript:;" tabindex="6" target="_blank" routerLink="/privacy-policy" routerLinkActive="active">privacy policy</a>
                        </label>
                    </div>
                  <div class="form_bottom">
                        <button type="submit" class="btn btn-primary" tabindex="8">Sign Up</button>
                        <span>
                            Already have an account? <a routerLink="/login-influencer" tabindex="7">Login</a> here.
                        </span>
                        <!-- <span>
                            Already have an account? <a href="javascript:;" tabindex="7">Login</a> here.
                        </span> -->
                  </div>
              </form>
              <div class="mt-5">
                <span>Or email us at <a href="mailto:register@influnaire.com" target="_top">register@influnaire.com</a> to create your account</span>
              </div>
          </div><!--login_area_left-->

          <div class="login_area_midd"><!--login_area_midd-->
              <span>Or</span>
          </div><!--login_area_midd-->

          <div class="login_area_right"><!--login_area_right-->
              <ul>
                  <li>
                    <!-- <a href="{{ apiUrl + '/auth/facebook' }}">
                        <i class="fa fa-facebook" aria-hidden="true"></i>Sign Up with Facebook
                    </a> -->
                    <a (click)="socialSignIn('facebook')" tabindex="9">
                        <i class="fa fa-facebook" aria-hidden="true"></i>Sign Up with Facebook
                    </a>
                  </li>

                  <li>
                    <!-- <a href="{{ apiUrl + '/auth/google' }}">
                        <i class="fa fa-google-plus" aria-hidden="true"></i>Sign Up with Google
                    </a> -->
                    <a (click)="socialSignIn('google')" tabindex="10">
                        <i class="fa fa-youtube-play" aria-hidden="true"></i>Sign Up with YouTube
                    </a>
                    <!-- <a href="javascript:;" (click)="socialSignIn('google')">
                        <i class="fa fa-google-plus" aria-hidden="true"></i>Sign Up with Google
                    </a> -->
                  </li>

                  <!-- <li>
                    <a href="{{ apiUrl + '/auth/youtube' }}">
                        <i class="fa fa-youtube-play" aria-hidden="true"></i>Sign Up with YouTube
                    </a>
                  </li> -->
              </ul>
          </div><!--login_area_right-->
      </div><!--login_area-->

      


      <div class="login_area brand_area" *ngIf="isSignUpSuccess"><!--login_area-->
        <div class="row">
            <div class="col-md-12">
                <span>
                    {{ successMessage }} <a routerLink="/login">Login</a> here. <a href="javascript:;" (click)="isSignUpSuccess=false">Back</a>
                </span>
                <!-- <span>
                    {{ successMessage }} <a href="javascript:;">Login</a> here. <a href="javascript:;" (click)="isSignUpSuccess=false">Back</a>
                </span> -->
            </div>
        </div>
      </div>
      <div class="login_area brand_area" *ngIf="brand.checked && !isSignUpSuccess"><!--login_area-->
        <form [formGroup]="brandRegForm" (ngSubmit)="brandSubmit()" autocomplete='off'>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input  class="form-control" type="text" placeholder="Company Name/Brand Name" formControlName="companyName"
                        [ngClass]="{ 'is-invalid': brandSubmitted && b.companyName.errors }" tabindex="1">
                        <div *ngIf="brandSubmitted && b.companyName.errors" class="invalid-feedback">
                            <div *ngIf="b.companyName.errors.required">Company Name/Brand Name is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <select  class="form-control" formControlName="countryName"
                        [ngClass]="{ 'is-invalid': brandSubmitted && b.countryName.errors }" tabindex="2">
                            <option value="">Choose Country</option>
                            <option value="{{ countryData.countryname | titlecase }}" *ngFor="let countryData of allCountries">{{ countryData.countryname | titlecase }}</option>
                        </select>
                        <div *ngIf="brandSubmitted && b.countryName.errors" class="invalid-feedback">
                            <div *ngIf="b.countryName.errors.required">Country Name is required</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <select  class="form-control" formControlName="industryName"
                        [ngClass]="{ 'is-invalid': brandSubmitted && b.industryName.errors }" tabindex="3">
                            <option value="">Choose Industry</option>
                            <option value="{{ industryData.name | titlecase }}" *ngFor="let industryData of allIndustries">{{ industryData.name | titlecase }}</option>
                        </select>
                        <div *ngIf="brandSubmitted && b.industryName.errors" class="invalid-feedback">
                            <div *ngIf="b.industryName.errors.required">Industry Name is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input  type="tel" placeholder="Phone Number" class="form-control" formControlName="phoneNumber"
                        [ngClass]="{ 'is-invalid': brandSubmitted && b.phoneNumber.errors }" tabindex="4">
                        <div *ngIf="brandSubmitted && b.phoneNumber.errors" class="invalid-feedback">
                            <div *ngIf="b.phoneNumber.errors.required">Phone Number is required</div>
                            <div *ngIf="brandRegForm.controls['phoneNumber'].errors.pattern" >Phone Number is not valid.</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <!-- <label>First Name</label> -->
                        <input  class="form-control" type="text" placeholder="First Name" formControlName="firstName"
                        [ngClass]="{ 'is-invalid': brandSubmitted && b.firstName.errors }" tabindex="5">
                        <div *ngIf="brandSubmitted && b.firstName.errors" class="invalid-feedback">
                            <div *ngIf="b.firstName.errors.required">First Name is required</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <!-- <label>Last Name</label> -->
                        <input  class="form-control" type="text" placeholder="Last Name" formControlName="lastName"
                        [ngClass]="{ 'is-invalid': brandSubmitted && b.lastName.errors }" tabindex="6">
                        <div *ngIf="brandSubmitted && b.lastName.errors" class="invalid-feedback">
                            <div *ngIf="b.lastName.errors.required">Last Name is required</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <!-- <label>Title</label> -->
                        <input  class="form-control" type="text" placeholder="Title" formControlName="title"
                        [ngClass]="{ 'is-invalid': brandSubmitted && b.title.errors }" tabindex="7">
                        <div *ngIf="brandSubmitted && b.title.errors" class="invalid-feedback">
                            <div *ngIf="b.title.errors.required">Title is required</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <!-- <label>Email</label> -->
                        <input class="form-control" type="email" placeholder="Email" formControlName="email" name="username"
                        [ngClass]="{ 'is-invalid': brandSubmitted && b.email.errors }" tabindex="8">
                        <div *ngIf="brandSubmitted && b.email.errors" class="invalid-feedback">
                            <div *ngIf="b.email.errors.required">Email is required</div>
                            <div *ngIf="brandRegForm.controls['email'].errors.pattern" >Email must be a valid email address</div>
                            <!-- <div *ngIf="b.email.errors.email">Email must be a valid email address</div> -->
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input  type="password" #pwd1 class="form-control" id="Password1" placeholder="Password" formControlName="password"
                            [ngClass]="{ 'is-invalid': brandSubmitted && b.password.errors }" tabindex="9">
                            <div class="input-group-append" (click)="pwd1.type=pwd1.type=='text' ? 'password' : 'text'">
                                <span class="input-group-text">
                                    <i class="fa" [ngClass]="{'fa-eye':pwd1.type=='text', 'fa-eye-slash':pwd1.type=='password'}">
                                    </i>
                                </span>
                            </div>
                            <div *ngIf="brandSubmitted && b.password.errors" class="invalid-feedback">
                                <div *ngIf="b.password.errors.required">Password is required</div>
                                <div *ngIf="brandRegForm.controls['password'].errors.pattern" >Password must be 8 to 20 characters long and should contain uppercase letters, lowercase letters, numbers, and special characters.</div>
                                <!-- <div *ngIf="b.password.errors.minlength">Password must be at least 6 characters</div> -->
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input  type="password" #pwd2 class="form-control" id="Password2" placeholder="Confirm Password" formControlName="confirmPassword"
                            [ngClass]="{ 'is-invalid': brandSubmitted && b.confirmPassword.errors }" tabindex="10">
                            <div class="input-group-append" (click)="pwd2.type=pwd2.type=='text' ? 'password' : 'text'">
                                <span class="input-group-text">
                                    <i class="fa" [ngClass]="{'fa-eye':pwd2.type=='text', 'fa-eye-slash':pwd2.type=='password'}"></i>
                                </span>
                            </div>
                            <div *ngIf="brandSubmitted && b.confirmPassword.errors" class="invalid-feedback">
                                <div *ngIf="b.confirmPassword.errors.required">Confirm Password is required</div>
                                <div *ngIf="b.confirmPassword.errors.mustMatch">Passwords must match</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="form-check">
                        <input id="checkbox1" type="checkbox" formControlName="brandAgree" value="1" class="form-control">
                        <label for="checkbox1"><span tabindex="11"></span>
                            I agree to influnaire.com <a href="javascript:;" tabindex="12" target="_blank" routerLink="/privacy-policy" routerLinkActive="active">privacy policy</a>
                        </label>
                    </div>
                    
                </div>

                <div class="col-md-7">
                    <div class="form_bottom">
                        <button type="submit" class="btn btn-primary" tabindex="14">Sign Up</button>
                        <span>
                            Already have an account? <a href="javascript:;" routerLink="/login" tabindex="13">Login</a> here.
                        </span>
                        <!-- <span>
                            Already have an account? <a href="javascript:;" tabindex="13">Login</a> here.
                        </span> -->
                    </div>
                    
                </div>
                
            </div>
            <div class="d-flex mt-4">
                <span>Or email us at <a href="mailto:register@influnaire.com" target="_top">register@influnaire.com</a> to create your account</span>
            </div>
        </form>
      </div><!--login_area-->
  </div>
</section><!--login_holder--> 
