<section class="campaign_holder">
  <!--campaign_holder-->
  <div class="title">
    <!--title-->
    <h2>Campaign Analytics</h2>
    <!-- <div class="d-flex align-items-center">
      <a>1-10 of 210</a>
      <i class="fa fa-ellipsis-v mx-4"></i>
      <button class="btn addCampBtn" [routerLink]="['../campaign-management', 0]">CREATE NEW CAMPAIGN</button>
    </div> -->
  </div>
  <!--title-->

  <div class="table_row">
    <div class="table-responsive">
      <!--table-responsive-->
      <table class="table">
        <thead>
          <tr>
            <th>Campaign name</th>
            <th>Influencers</th>
            <th>Platform</th>
            <th>Publish Date</th>
            <th>Reach/ impressions</th>
            <th>Budget</th>
            <th>Likes/Comments</th>
            <th>Engagement rate</th>
          </tr>
        </thead>
        <tbody *ngIf = "campaigns.length">
          <tr *ngFor="let campaign of campaigns | paginate: campaignConfig">
            <td routerLink="../campaign-details/{{ campaign.id }}"><strong>{{ campaign.campaign_name }}</strong></td>
            <td>
              <a *ngFor="let campaignAssign of campaign.CampaignAssigns">
                <figure *ngIf="campaignAssign.Influencer" (click)="influncerDetailModal(influencerDetailsModal, campaignAssign.influencer_id)">
                    <img *ngIf= "(allPaths | json) != '{}' && campaignAssign.Influencer.picture" src="{{allPaths.influencerImagePath+campaignAssign.Influencer.picture}}" alt="{{ (campaignAssign.Influencer.first_name)?campaignAssign.Influencer.first_name:'NA'}}">
                    <img *ngIf = "!((allPaths | json) != '{}' && campaignAssign.Influencer.picture)" src = "assets/influencers/images/no-user.jpg" alt="{{ (campaignAssign.Influencer.first_name)?campaignAssign.Influencer.first_name:'NA'}}" title="" />
                    <span>{{ (campaignAssign.Influencer)?campaignAssign.Influencer.first_name:'NA'}}</span>
                  </figure>
              </a>
            </td>
            <td> 
                <a class="social-icon" *ngFor = "let platform of campaign.CampaignPlatformMaps"><i class="fa fa-{{platform.Platform?platform.Platform.class_name:''}}" aria-hidden="true"></i></a>
            </td>
            <td>{{ campaign.post_date | date :  "dd MMM , y" }}</td>
            <td>{{ campaign.end_date | date :  "dd MMM , y" }}</td>
            <td>${{campaign.total_amount_invested}}</td>
            <td>
              <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 12k
              <i class="fa fa-comment-o" aria-hidden="true"></i> 3k
            </td>
            <td>100 %</td>
            <td>
              <a class="more">OnGoing <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf = "!campaigns.length">
          <tr><td colspan="8">No Data Found</td></tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="campaignPageChanged($event)" *ngIf = "campaigns.length"></pagination-controls>
    </div>
    <!--table-responsive-->
  </div>
  <!--campaign_bottom-->

  <!----------------------------------Influncer Detail Modal------------------->
  <ng-template class="modal fade faq_popup" #influencerDetailsModal>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    <div class="modal-body">
      <div  tabindex="-1" role="dialog" aria-labelledby="influencerDetailsModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered m-0" role="document" style="max-width: 100%;">
          <div class="modal-content" style="border: 0;">
              <div class="detailsBoxBig">
                  <div class="leftImg">
                      <img *ngIf = "influencerImagePath && influncerDetail.picture" src="{{ influencerImagePath+influncerDetail.picture }}" alt="">
                      <img *ngIf = "!influencerImagePath || !influncerDetail.picture" src="assets/influencers/images/no-user.jpg" alt="">
                    <div class="favourite"></div>
                  </div>
                  <div class="righttxts clearfix">
                    
                    <div class="textHeading">
                      <h2>{{influncerDetail.first_name || influncerDetail.last_name?influncerDetail.first_name+' '+influncerDetail.last_name:''}}</h2>
                      <h3 *ngIf = "influncerDetail.influencerPlatformMaps && influncerDetail.influencerPlatformMaps.length">{{getTotalFollowers(influncerDetail.influencerPlatformMaps)}} <span>followers</span></h3>
                      <h4>{{influncerDetail.country?influncerDetail.country+',':''}}{{influncerDetail.nationality?influncerDetail.nationality+',':''}}<span>Blogger</span></h4>
                    </div>
                    <div class="shortDesc">
                      <label>Short About Me</label>
                      <p>{{influncerDetail.description?influncerDetail.description:''}}</p>
                    </div>
                    <div class="socialMediatabs">
                        <ul class="nav nav-tabs" id="myTab" role="tablist" *ngIf = "influncerDetail.influencerPlatformMaps">
  
                            <li class="nav-item" *ngFor ="let platform of influncerDetail.influencerPlatformMaps">
                              <a class="nav-link active" id="facebook-tab" data-toggle="tab" href="#facebook" role="tab" aria-controls="facebook" aria-selected="true">
                                <span class="icon {{platform.Platform.name | lowercase}}Tab"></span>
                                <span class="name">{{platform.Platform.name}}</span>
                              </a>
                            </li>
                          </ul>
                          <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="facebook" role="tabpanel" aria-labelledby="home-tab">
                              <div class="row">
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <label>Likes Per Post</label>
                                    <p>3K</p>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <label>Comments Per Post</label>
                                    <p>4K</p>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <label>Impressions Per Post</label>
                                    <p>1.5K</p>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <label>Engagement Ratio</label>
                                    <p>1:1</p>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <label>Past Jobs Completed</label>
                                    <p>456</p>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <label>Followers Gender Distribution</label>
                                    <p>60% Male , 40% Female</p>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <label>Comment sentiment</label>
                                    <p>75%</p>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-10">
                                  <div class="form-group">
                                    <label>Followers Age Distribution</label>
                                    <ul>
                                      <li><span>18 - 25 years :</span>5.6K,</li>
                                      <li><span>25 - 35 years :</span>1.4K,</li>
                                      <li><span>35 years above :</span>0.5K</li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="col-md-10">
                                  <div class="form-group">
                                    <label>Followers Country Distribution</label>
                                    <ul>
                                      <li><span>Iraq :</span>1K,</li>
                                      <li><span>UAE :</span>677,</li>
                                      <li><span>Jordon :</span>122,</li>
                                      <li><span>Qatar :</span>455</li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="tab-pane fade" id="twitter" role="tabpanel" aria-labelledby="twitter-tab">.2</div>
                            <div class="tab-pane fade" id="youtube" role="tabpanel" aria-labelledby="youtube-tab">3.</div>
                            <div class="tab-pane fade" id="insta" role="tabpanel" aria-labelledby="insta-tab">4.</div>
                            <div class="tab-pane fade" id="snap" role="tabpanel" aria-labelledby="snap-tab">5.</div>
                          </div>
                    </div>
                  </div>
                </div>
                <div class="smallBoxWrap">
                <div class="smallBoxes">
                  <h2>Pricing of Ready – Made Content</h2>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Post type</th>
                          <th>Price</th>
                        </tr>
                      </thead>
                      <!-- <tbody *ngIf = "influncerDetail.influencerPlatformMaps && influncerDetail.influencerPlatformMaps.length">
                        
                        <tr *ngFor ="let platform of influncerDetail.influencerPlatformMaps">
                          <td>{{platform.Platform.name}}</td>
                          <td>${{platform.readymade_content_price}}</td>
                        </tr>
                      </tbody>
                      <tbody *ngIf = "!influncerDetail.influencerPlatformMaps">
                        <tr>
                          <td colspan="2">No data found</td>
                        </tr>
                      </tbody> -->
                    </table>
                  </div>
                </div>
              </div>         
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</section>
<!--campaign_holder-->