<section class="login_holder forget_holder signup_holder">
  <!--login_holder-->
  <div class="container">
    <h2 class="mb-3">Forgot Password</h2>
    <span class="small_heading">Please enter your email address below, and we will email you instructions for setting a new password for your account.</span>
    <div class="signup_choice">
        <div class="form-radio mr-5">
            <input id="radio1" type="radio" [(ngModel)]="userType" [value]="0" #brand (change)="isSubmitSuccess=false">
            <label for="radio1"><span><span></span></span>Brand</label>
        </div>

        <div class="form-radio">
            <input id="radio2" type="radio" [(ngModel)]="userType" [value]="1" #influencer (change)="isSubmitSuccess=false">
            <label for="radio2"><span><span></span></span>Influencer</label>
        </div>
    </div>
    <div class="login_area" *ngIf="brand.checked && !isSubmitSuccess">
      <!--login_area-->
      <form [formGroup]="forgotBrandOwnerForm" (ngSubmit)="forgotBrandOwnerSubmit()">
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" formControlName="email" 
            [ngClass]="{ 'is-invalid': forgotBrandOwnerSubmitted && b.email.errors }" >
            <div *ngIf="forgotBrandOwnerSubmitted && b.email.errors" class="invalid-feedback">
                <div *ngIf="b.email.errors.required">Email is required</div>
                <div *ngIf="forgotBrandOwnerForm.controls['email'].errors.pattern" >Email must be a valid email address</div>
            </div>
        </div>

        <div class="form_bottom">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="reset" class="cancel" routerLink="/login" routerLinkActive="active">Cancel</button>
        </div>
      </form>
    </div>
    <div class="login_area brand_area" *ngIf="isSubmitSuccess"><!--login_area-->
      <div class="row">
          <div class="col-md-12">
              <span>
                  {{ successMessage }} <a routerLink="/login" routerLinkActive="active">Login</a> here. <a href="javascript:;" (click)="isSubmitSuccess=false">Back</a>
              </span>
          </div>
      </div>
    </div>
    <div class="login_area" *ngIf="influencer.checked && !isSubmitSuccess">
      <!--login_area-->
      <form [formGroup]="forgotInfluencerForm" (ngSubmit)="forgotInfluencerSubmit()">
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" formControlName="email" 
            [ngClass]="{ 'is-invalid': forgotInfluencerSubmitted && i.email.errors }" >
            <div *ngIf="forgotInfluencerSubmitted && i.email.errors" class="invalid-feedback">
                <div *ngIf="i.email.errors.required">Email is required</div>
                <div *ngIf="forgotInfluencerForm.controls['email'].errors.pattern" >Email must be a valid email address</div>
            </div>
        </div>

        <div class="form_bottom">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="reset" class="cancel" routerLink="/login" [queryParams]="{ type: 'influencer' }" routerLinkActive="active">Cancel</button>
        </div>
      </form>
    </div>
    <!--login_area-->
  </div>
</section>
<!--login_holder-->