<section class="resource_holder"><!--resource_holder-->
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="title"><!--title-->
          <h2>A Guide to Get You More Closer</h2>
          <span>We're here to assist you and get you more familiar</span>
        </div><!--title-->
      
        <div class="resource_top"><!--resource_top-->
          <h3>eBook <a routerLink="/resources/ebook">view all</a></h3>
          <ul class="resource_box">
            <li>
              <figure><img src="assets/front_end/images/resource-pic1.jpg" alt=""></figure>
              <h4>Ultimate guide on Controlling the Interface</h4>
              <p>Nullam eu lectus purus. Pellentesque lobortis ullamcorper sapien.</p>
              <a>Download</a>
            </li>

            <li>
              <figure><img src="assets/front_end/images/resource-pic1.jpg" alt=""></figure>
              <h4>Quick look at the influencers history</h4>
              <p>Nullam eu lectus purus. Pellentesque lobortis ullamcorper sapien.</p>
              <a>Download</a>
            </li>

            <li>
              <figure><img src="assets/front_end/images/resource-pic1.jpg" alt=""></figure>
              <h4>Ultimate guide on Controlling the Interface</h4>
              <p>Nullam eu lectus purus. Pellentesque lobortis ullamcorper sapien.</p>
              <a>Download</a>
            </li>
          </ul>
        </div><!--resource_top-->

        <div class="resource_top resource_bottom"><!--resource_bottom-->
          <h3>Case Studies <a routerLink="/resources/case-studies">view all</a></h3>
          <ul class="resource_box">
            <li>
              <figure>
                <img src="assets/front_end/images/resource-pic1.jpg" alt="">
              </figure>
              <h4>Lorem ipsum dolor sit amet, consectetur</h4>
              <p>Nullam eu lectus purus. Pellentesque lobortis ullamcorper sapien.</p>
              <a>Download</a>
            </li>

            <li>
              <figure>
                <img src="assets/front_end/images/resource-pic1.jpg" alt="">
              </figure>
              <h4>Suspendisse interdum sem laoreet</h4>
              <p>Nullam eu lectus purus. Pellentesque lobortis ullamcorper sapien.</p>
              <a>Download</a>
            </li>

            <li>
              <figure>
                <img src="assets/front_end/images/resource-pic1.jpg" alt="">
              </figure>
              <h4>Ultimate guide on Controlling the Interface</h4>
              <p>Nullam eu lectus purus. Pellentesque lobortis ullamcorper sapien.</p>
              <a>Download</a>
            </li>

            <li>
              <figure>
                <img src="assets/front_end/images/resource-pic1.jpg" alt="">
              </figure>
              <h4>Lorem ipsum dolor sit amet, consectetur</h4>
              <p>Nullam eu lectus purus. Pellentesque lobortis ullamcorper sapien.</p>
              <a>Download</a>
            </li>

            <li>
              <figure>
                <img src="assets/front_end/images/resource-pic1.jpg" alt="">
              </figure>
              <h4>Suspendisse interdum sem laoreet</h4>
              <p>Nullam eu lectus purus. Pellentesque lobortis ullamcorper sapien.</p>
              <a>Download</a>
            </li>

            <li>
              <figure>
                <img src="assets/front_end/images/resource-pic1.jpg" alt="">
              </figure>
              <h4>Ultimate guide on Controlling the Interface</h4>
              <p>Nullam eu lectus purus. Pellentesque lobortis ullamcorper sapien.</p>
              <a>Download</a>
            </li>

          </ul>
        </div><!--resource_bottom-->
      </div>
    </div>
  </div>
</section><!--resource_holder-->
