
.campaign_holder{
    .title{
        margin-bottom: ($m10 * 4);
        display: $flx;
        align-items: $cntr;
        justify-content: space-between;
        h2{
            color: #3c3c3c;
            font-size: ($m5 * 6);
            font-weight: $smbld;
            margin: $zro;
            font-family: 'Open Sans', sans-serif;
        }
        a{
            font-size: 14px;
            color: #1e6dcf;
            font-weight: $smbld;
            font-family: 'Open Sans', sans-serif;
        }
        i.fa-ellipsis-v{
            font-size: ($m5 * 5);
        }
        .addCampBtn{
            background: #ed8c24;
            color: #fff;
            border-radius: 50px;
            padding: ($m10) ($m5*5);
        }
    }
    .campaign_bottom{
        text-align: $cntr;
        padding-top: ($m10 * 5);
        a{
            display: $inblk;
            text-transform: uppercase;
            color: $whte;
            border-radius: ($m12 * 3);
            font-size: 14px;
            background: #ed8c24;
            padding: $zro ($m5 * 6);
            line-height: ($m5 * 9);
            font-weight: $smbld;
            font-family: 'Open Sans', sans-serif;
        }
    }
    .table{
        tr{
            cursor: pointer;
        }
    }
}
