.campaign_details{
    .title{
        h2{
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 0;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
        }
        p{
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 0;
            margin-left: 30px;
            font-size: 16px;
            font-family: 'Open Sans', sans-serif;
            color: #3c3c3c;
            font-weight: 600;
            span{
                color: #1e6dcf;
            }
        }
    }
    .campaign_details_body{
        margin-top: 35px;
        ul.mainList{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            > li{
                background: #fff;
                padding: 25px;
                width: 32%;
                border-radius: 7px;
                margin-bottom: 1.75%;
                box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
                .header{
                    display: flex;
                    justify-content: space-between;
                    .header-title{
                        h3{
                            font-size: 16px;
                            font-weight: 700;
                            text-transform: uppercase;
                            color: #3a3a3a;
                            margin-bottom: 0;
                        }
                    }
                    .header-select{
                        select{
                            background: transparent url("/assets/brand-owner/images/down-arrow.png") no-repeat top 10px right 0;
                            border: 0;
                            border-bottom: solid 1px #d9d9d9;
                            appearance: none;
                            padding-bottom: 7px;
                            color: #8c8c8c;
                            font-size: 13px;
                            font-weight: 600;
                            font-family: 'Open Sans', sans-serif;
                            min-width: 100px;
                        }
                    }
                }
                .chartBodySec{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 200px;
                    .chartSec{
                        width: 145px;
                        height: 145px;
                    }
                    .chartDescTxt{
                        p{
                            color: #5a5a5a;
                            font-size: 14px;
                            font-weight: 600;
                            margin-bottom: 0;
                            line-height: 20px;
                            span{
                                &.textBlue{
                                    color: #40a8f2;
                                }
                                &.textOrange{
                                    color: #ef9a3e;
                                }
                            }
                        }
                    }
                }
                .scrollArea{
                    h4{
                        color: #3a3a3a;
                        font-size: 14px;
                        font-weight: 600;
                        font-family: 'Open Sans', sans-serif;
                        text-transform: uppercase;
                        margin-bottom: 18px;
                        margin-top: 0;
                    }
                    ul{
                        max-height: 300px;
                        overflow-y: auto;
                        li{
                            display: flex;
                            justify-content: space-between;
                            padding: 10px 18px;
                            background: #f2f2f2;
                            border-radius: 8px;
                            margin-top: 1px;
                            &:first-child{
                                margin-top: 0;
                            }
                            .leftTxt{
                                display: flex;
                                justify-content: space-between;
                                figure{
                                    width: 32px;
                                    height: 32px;
                                    overflow: hidden;
                                    border-radius: 50%;
                                    img{
                                        max-width: 100%;
                                    }
                                }
                                .name{
                                    font-size: 14px;
                                    font-weight: 600;
                                    color: #3a3a3a;
                                    line-height: 30px;
                                    margin-left: 11px;
                                }
                                .date{
                                    font-size: 14px;
                                    font-weight: 400;
                                    color: #74797f;
                                    line-height: 30px;
                                    margin-left: 15px;
                                }
                            }
                            .amount{
                                font-size: 14px;
                                font-weight: 600;
                                color: #2fa0f0;
                                float: right;
                                line-height: 30px;
                            }
                        }
                    }
                    &.followBg{
                        ul{
                            li{
                                background: #eaf5f3;
                                .amount{
                                    color: #0aac80;
                                }
                            }
                        }
                    }
                    &.likeCommentSec{
                        ul{
                            li{
                                background: #f8f2ec;
                                .likeComment{
                                    float: right;
                                    span{
                                        display: inline-block;
                                        vertical-align: middle;
                                        color: #e08119;
                                        font-weight: 600;
                                        margin-left: 12px;
                                        img{
                                            margin-left: 4px;
                                            vertical-align: middle;
                                        }
                                        &:first-child{
                                            margin-left: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &.soacialSec{
                        ul{
                            li{
                                background: #e9f3fc;
                                .socialPlatform{
                                    float: right;
                                }
                            }
                        }
                    }
                    &.roiSec{
                        ul{
                            li{
                                .amount{
                                    color: #ef9a3e;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



/*----------------responsive-----------------------*/

@media screen and (max-width:1199px){

    .campaign_details .campaign_details_body ul.mainList > li{ padding: 15px;}
    .campaign_details .campaign_details_body ul.mainList > li .header .header-title h3{ font-size: 14px;}
    .campaign_details .campaign_details_body ul.mainList > li .scrollArea ul li{ flex-wrap: wrap;}
    .campaign_details .campaign_details_body ul.mainList > li .scrollArea ul li .leftTxt{ width: 100%;}
    .campaign_details .campaign_details_body ul.mainList > li .scrollArea ul li .amount,
    .campaign_details .campaign_details_body ul.mainList > li .scrollArea.likeCommentSec ul li .likeComment,
    .campaign_details .campaign_details_body ul.mainList > li .scrollArea.soacialSec ul li .socialPlatform
    { display: flex; justify-content: flex-end; width: 100%; align-items: center;}
    

}

@media screen and (max-width:1024px){

    .campaign_details .campaign_details_body ul.mainList{ flex-direction: column;}
    .campaign_details .campaign_details_body ul.mainList > li{ width: 100%;}
    .campaign_details .campaign_details_body ul.mainList > li .chartBodySec{ height: auto;}
    .campaign_details .campaign_details_body ul.mainList > li .scrollArea ul li .leftTxt,
    .campaign_details .campaign_details_body ul.mainList > li .scrollArea ul li .amount,
    .campaign_details .campaign_details_body ul.mainList > li .scrollArea.likeCommentSec ul li .likeComment, 
    .campaign_details .campaign_details_body ul.mainList > li .scrollArea.soacialSec ul li .socialPlatform{ width: auto;}


}

@media screen and (max-width:479px){

.campaign_details{ padding-top: 30px;}
.campaign_details .title h2{ display: block;}
.campaign_details .title p{ display: block; margin-left: 0;}
.campaign_details .title p{ font-size: 14px;}
.campaign_details .scrollArea{ margin-top: 20px;}
.campaign_details .campaign_details_body ul.mainList > li .scrollArea ul li .leftTxt .date,
.campaign_details .campaign_details_body ul.mainList > li .scrollArea ul li .leftTxt .name,
.campaign_details .campaign_details_body ul.mainList > li .scrollArea ul li .amount{ font-size: 12px;}
    
}











