
.campManage_holder{
  .title{
    display: $flx;
    align-items: $cntr;
    margin-bottom: ($m12 * 3);
    justify-content: space-between;
    h2{
      color: #3c3c3c;
      font-size: ($m10 * 3);
      line-height: ($m12 * 2);
      margin: $zro;
      font-weight: $smbld;
      font-family: 'Open Sans', sans-serif;
    }
    a{
      display: $inblk;
      color: #1e6dcf;
      font-size: 14px;
      font-weight: $smbld;
      font-family: 'Open Sans', sans-serif;
    }
    a.btn{
      color: $whte;
      text-transform: uppercase;
      background: #ed8c24;
      padding: $zro ($m10 * 3);
      line-height: ($m5 * 9);
      border-radius: ($m12 * 3);
      margin-left: ($m12 * 3);
    }
  }
.camManage_step{
  margin-bottom: ($m10 * 5);
  ul{
    display: $flx;
    
    
    li{
      width: 25%;
      padding: $m10 ($m5 * 5);
      border-right: 1px solid #ccc; 
      text-transform: uppercase;
      border-radius: ($m12 * 3);
      background: $whte;
      box-shadow: 0 2px 2px rgba(0,0,0,0.2);
      span{
        display: $blk;
        color: #7c7c7c;
        font-size: 11px;
        line-height: $m10;
        margin-bottom: $m5;
        font-weight: $smbld;
        font-family: 'Open Sans', sans-serif;
      }
      strong{
        display: $blk;
        color: #3c3c3c;
        font-size: 14px;
        line-height: $m12;
        font-weight: $smbld;
        font-family: 'Open Sans', sans-serif;
      }
    }
    li.active{
      
        background: #ED8C24;
        span{
          color: #fff;
        }
        strong{
          color: #fff;
        }
      
    }
    li:first-child{
      position: $rltv;
      padding-left: ($m5 * 11);
      
    }
    li:first-child:before{
      content: "";
      position: $absl;
      left: -23px;
      top: -4px;
      width: 57px;
      height: 57px;
      background: url("/assets/brand-owner/images/campen-step1.png");
    }
    li:last-child{
      position: $rltv;
      padding-left: ($m5 * 11);
    }
    li:last-child:before{
      content: "";
      position: $absl;
      right: -23px;
      top: -4px;
      width: 57px;
      height: 57px;
      background: url("/assets/brand-owner/images/campen-step2.png");
    }
  }
}
  .camp_step1{
    background: $whte;
    padding: ($m5 * 11);
    form{
      display: $flx;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .form-group{
      width: 30%;
      margin-bottom: ($m5 * 6);
      label{
        text-transform: uppercase;
        color: #363535;
        font-size: 14px;
        font-weight: $smbld;
        margin-bottom: $m10;
        padding: $zro;
        font-family: 'Open Sans', sans-serif;
        i{
          font-size: 16px;
        }
      }
      .form-control{
        border: $zro;
        border-bottom: 1px solid #ccc;
        color: #909090;
        font-size: 14px;
        font-weight: $nrml;
        border-radius: $zro;
        font-family: 'Open Sans', sans-serif;
      }
      .input-group-text{
        border: $zro;
        border-bottom: 1px solid #ccc;
      }
      .form-radio{
        
        input[type=checkbox]:not(old) + label > span,
        input[type=radio   ]:not(old) + label > span{
            display          : $inblk;
            width            : ($m5 * 3);
            height           : ($m5 * 3);
            margin           : 0.25em 0.5em 0.25em 0.25em;
            border           : 2px solid #c7c7c7;
            border-radius    : $hlf;
            background       : transparent;
            vertical-align   : bottom;
        }
        input[type=radio]:not(old):checked +  label > span > span{
            display          : $blk;
            width            : ($m10);
            height           : ($m10);
            margin           : 0.0em;
            border-color     : transparent;
            border-radius    : $hlf;
            background       : #ed8c24;
        }
        input[type=checkbox]:not(old) + label,
        input[type=radio   ]:not(old) + label{
            margin-left  : 0;
            color: #909090;
            font-size: 14px;
            font-weight: $nrml;
            text-transform: capitalize;
            font-family: 'Open Sans', sans-serif;
        }
      }
    }
    .form-group.w-100{
      display: $flx;
      flex-wrap: wrap;
      label{
        width: $full;
      }
      .form-radio{
        margin-right: ($m5 * 5);
      }
    }
    .form-group:first-child{
      width: 65%;
    }
    .btn_area{
      text-align: $cntr;
      .btn{
        text-transform: uppercase;
        color: $whte;
        font-size: 14px;
        font-weight: $smbld;
        border-radius: ($m12 * 2);
        font-family: 'Open Sans', sans-serif;
      }
      
    }
  }
  .camp_step2{
    h3{
      color: #3c3c3c;
      font-size: ($m10 * 2);
      line-height: ($m5 * 3);
      font-weight: $smbld;
      margin-bottom: ($m5 * 7);
      font-family: 'Open Sans', sans-serif;
    }
    ul{
      display: $flx;
      margin-bottom: ($m5 * 6);
      justify-content: space-between;
      li{
        width: 32%;
        input[type=checkbox]:not(old) + label > span,
        input[type=radio   ]:not(old) + label > span{
            display          : $inblk;
            width            : ($m5 * 3);
            height           : ($m5 * 3);
            margin           : 0.25em 0.5em 0.25em 0.25em;
            border           : 2px solid #c7c7c7;
            border-radius    : $hlf;
            background       : transparent;
            vertical-align   : bottom;
        }
        input[type=radio]:not(old):checked +  label > span > span{
            display          : $blk;
            width            : ($m5 * 3);
            height           : ($m5 * 3);
            margin           : -2px;
            border           : 2px solid $whte;
            border-radius    : $hlf;
            background       : #03beda;
        }
        input[type=radio]:not(old):checked +  label{
          background: #03beda;
          strong{
            color: $whte;
          }
          p{
            color: $whte;
          }
          .check_text{
            display: $blk;
          }
        }
        input[type=checkbox]:not(old) + label,
        input[type=radio   ]:not(old) + label{
            width: $full;
            background: $whte;
            padding: ($m10 * 3);
            margin-left  : 0;
            margin-bottom: $zro;
            color: #909090;
            font-size: 14px;
            font-weight: $nrml;
            min-height: ($m10 * 19);
            text-transform: capitalize;
            font-family: 'Open Sans', sans-serif;
            box-shadow: 0 2px 2px rgba(0,0,0,0.2);
            strong{
              color: #363535;
              font-size: 16px;
              font-weight: $smbld;
              font-family: 'Open Sans', sans-serif;
            }
            p{
              color: #909090;
              font-size: 14px;
              font-weight: $nrml;
              margin: $m5 $zro $zro;
              padding-left: ($m5 * 5);
              font-family: 'Open Sans', sans-serif;
            }
        }
        input[type="checkbox"]:not(old),
        input[type="radio"]:not(old){
          position: $absl;
        }
      }
    }
    .form-check{
      padding-left: $zro;
      input[type=checkbox]:not(old) + label > span,
      input[type=radio   ]:not(old) + label > span{
          display          : $inblk;
          width            : ($m5 * 3);
          height           : ($m5 * 3);
          margin           : $zro $m10 $zro $zro;
          border           : 1px solid ccc;
          border-radius    : $zro;
          background       : transparent;
          vertical-align   : bottom;
          background       : $whte;
      }
      input[type=checkbox]:not(old):checked + label > span:before{
          content     : '✓';
          display     : $bld;
          width       : ($m5 * 3);
          color       : #ed8c24;
          font-size   : $m12;
          line-height : ($m5 * 3);
          text-align  : $cntr;
          text-shadow : inherit;
          font-weight : bold;
      }
    }
    .btn_area{
      text-align: $cntr;
      .btn{
        text-transform: uppercase;
        border-radius: ($m12 * 3);
        margin: $zro $m5;
        font-size: 14px;
        font-weight: $smbld;
        color: #c7c7c7;
        background: $whte;  
        border: 2px solid #eee;
        font-family: 'Open Sans', sans-serif;
      }
      .btn-primary{
        background: #40a8f2;
        color: $whte;
        border-color: #40a8f2;
      }
    }
    .check_text{
      display: $nne;
      padding-top: ($m5 * 5);
      span{
        display: $blk;
        text-transform: uppercase;
        font-size: 14px;
        color: $whte;
        font-weight: $smbld;
        margin-bottom: $m10;
        font-family: 'Open Sans', sans-serif;
      }
      .col-auto{
        padding: $zro;
        .input-group{
          border-bottom: 1px solid $whte;
          .form-control{
            background: transparent;
            border: $zro;
            color: $whte;
          }
          .input-group-prepend{
            background: transparent;
            border: transparent;
          }
          .input-group-text{
            background-color: transparent;
            border-color: transparent;
            color: $whte;
          }
        }
      }
    }
  }
  .camp_step3{
    h3{
      color: #3c3c3c;
      font-size: ($m10 * 2);
      font-weight: $smbld;
      margin: $zro $zro ($m5 * 7);
      font-family: 'Open Sans', sans-serif;
    }

    .custom-file{
      
      .custom-file-input{
        position: absolute;
        left: 0;
        top: 29px;
      }
      .custom-file-label{
        position: relative;
      }
    }
    .form-group.w-50:nth-child(even){
      border-right: 30px solid #fff;
    }
    .custom-file-input:lang(en) ~ .custom-file-label::after{
      content: "";
      border: $zro;
      background: url("/assets/brand-owner/images/attacement-img.png") no-repeat 0 0;
    }
    .btn_area{
      .btn{
        background: $whte;
        color: #c7c7c7;
        margin: $zro 2px;
        border: 2px solid #c7c7c7;
      }
      .btn-primary{
        background: #40a8f2;
        border-color: #40a8f2;
        color: $whte;
      }
    }
  }
  .camp_step4, .camp_step5{
    background: $whte;
    padding: ($m10 * 7);
    text-align: $cntr;
    h3{
      color: #3c3c3c;
      font-size: ($m5 * 6);
      line-height: ($m12 * 2);
      font-weight: $smbld;
      margin: $zro $zro ($m5 * 6);
      font-family: 'Open Sans', sans-serif;
    }
    a{
      display: $inblk;
      background: #ed8c24;
      color: $whte;
      padding: $zro ($m12 * 3);
      line-height: ($m5 * 9);
      border-radius: ($m12 * 3);
    }
  }
  .camp_step5{
    .list{
      li img{
        width: 80px;
        height: 80px;
        object-fit: cover;
      }
    }
    .btn{
      border-radius: ($m12 * 3);
    }
    .btn-blue{
      color: #03beda;
      border: 2px solid #03beda;
      background: transparent;
    }
  }
} 

.platFormList{
  .btn-link.dropdown-toggle{
    width: 100%;
    background: transparent;
    border-bottom: 1px solid #ccc;
    text-align: left;
    position: relative;
    color: #3c3c3c;
    outline: none!important;
    &:after{
      position: absolute;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
    }
  }
  .w-100.dropdown-menu{
    max-width: 300px;
    li{
      font-size: 16px;
      input{
        position: absolute;
        left: 0;
        width: 100%;
        height: 28px;
      }
      label span{
        width: 18px;
        height: 18px;
        border-radius: 0;
        &::before{
          line-height: 18px;
          width: 18px;
        }
      }
      i{
        font-size: 20px;
        width: 28px;
      }
    }
  }
}


.msg_popup{
  
  ul{
      li{
          flex-direction: column-reverse;
          background: red;
      }
  }
}



/*-------------responsive-------------------*/

@media screen and (max-width:767px){

.campaign_holder{ padding-top: 30px; }
.campaign_holder .title h2{ font-size: 25px;}
}

@media screen and (max-width:479px){

.campaign_holder{ padding-top: 60px; }


}






