.comparePage{
    .compare_items{
        display: flex;     
        .item_row{
            &.item-border{
                border: 1px solid #eaeaea;
                width: 20%;
                .row_list{ 
                    li{
                        border-bottom: 1px solid #eaeaea;
                        text-align: center;
                    }
                }
            }
            .row_list{ 
                li{
                    line-height: 40px;
                    height: 40px;
                    text-align: right;
                    .text_midd_right{
                        a{
                            text-align: $cntr;
                            i{
                                width: 28px;
                                height: 28px;
                                line-height: 26px;
                                margin: 0 1px;
                                border-radius: 50%;
                                color: #1e6dcf;
                                border: 2px solid #1e6dcf;
                            }
                        }
                        a i.fa-twitter{
                            color: #40caf2;
                            border-color: #40caf2;
                        }
                        a:last-child i{
                            color: #f25940;
                            border-color: #f25940;
                        }
                    }
                    &.image{
                        height: 250px;
                        img{
                            object-fit: cover;
                            height: 250px;
                        }
                    } 
                    &.name{
                        height: 60px;
                        line-height: 60px;
                        h6{
                            line-height: 60px;   
                        }
                    }
                    .addCampBtn{
                        background: #ed8c24;
                        color: #fff;
                        border-radius: 50px;
                        padding: ($m10) ($m5*5);
                        &.added{
                            background: #21c7de;
                        }
                    }
                }  
            }
        }

    }
}
.btn-download{
    background: transparent;
    border: 2px solid #f25940;
    border-radius: 50px;
}
.camCount{
    display: flex;
    justify-content: flex-end;
    background: #21c7de;
    position: fixed;
    right: 40px;
    bottom: 0;
    cursor: pointer;
    .wrapBox{         
        padding: ($m5*3);
        color: #fff;
        position: relative;
        .fa{
            transform: rotate(-50deg);
            font-size: 22px;
            position: absolute;
            top: -3px;
            left: 0;
            &.fa-angle-down{
                top: 0px;
                left: 3px;
            }
        }
    }
    .campaignBox{
        color: #fff;
        -webkit-transition:margin-right 0.3s linear;
        -moz-transition: margin-right 0.3s linear;
        -o-transition: margin-right 0.3s linear;
        transition: margin-right 0.3s linear;
        width: 0;
        height: 0;
        padding: 0;
        overflow: hidden;
        &.activeSlide{
            width: auto;
            height: auto;
            padding: ($m5*3);
        }
        .imgList{
            max-height: 160px;  
            max-width: 150px;
            display: flex;
            flex-wrap: wrap;
            overflow-y: auto;
            overflow-x: hidden;
            li{
                width: 46%;
                margin: 2%;
                .imgList img {
                    object-fit: cover;
                    height: 90px;
                }
            }
        }
        .btn.rounded{
            background: transparent;
            border:2px solid #fff;
            border-radius: 50px!important;
            color: #fff;
        }
    }
}
.bg{
    &_grey{
        background :#f3f3f3;
    }
}


/*-------------responsive---------------*/

@media screen and (max-width:1199px){
    .comparePage .compare_items .item_row .row_list li{line-height: normal; }
    .comparePage .compare_items{ overflow:auto;}
}












