.border-bottom.cstm {
    border-bottom: 1px solid #e7eaec !important;
    background: #f2f2f2;
    height: ($m10 * 6 + 6);
  }
  
  .navbar{
    width: $full;
    position: fixed;
    z-index: 9;
    left: $zro;
    top: $zro;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    .navbar-header{
      a{
        img{
          max-height: 40px;
        }
      }
      a.btn{
        display: $nne;
      }
    }
    .navbar-right{
      li{
        display: $flx;
        margin-left: ($m5 * 5);
        margin-right: $zro;
        a{
          display: $flx;
          padding: $zro;
          align-items: $cntr;
          i{
            font-size: ($m12 * 2);
          }
        }
        figure{
          width: ($m10 * 3);
          height: ($m10 * 3);
          border:  2px solid #3086e7;
          border-radius: $hlf;
          position: $rltv;
          img{
            width: $full;
            height: $full;
            border-radius: $hlf;
            position: $absl;
            left: $zro;
            top: $zro;
          } 
        }
        span{
          display: $blk;
          color: #444444;
          font-size: 16px;
          margin-right: $m10;
          font-weight: $nrml;
        }
      }
    }
  }