
.help_holder{
  .title{
    display: $flx;
    align-items: $cntr;
    margin-bottom: ($m5 * 3);
    justify-content: space-between;
    h2{
      margin: $zro;
      color: #3c3c3c;
      font-size: ($m5 * 6);
      font-weight: $smbld;
      font-family: 'Open Sans', sans-serif;
    }
    a{
      display: $inblk;
      color: $whte;
      text-transform: uppercase;
      font-size: 14px;
      padding: $zro ($m5 * 8);
      font-weight: $smbld;
      border-radius: ($m12 * 3);
      background: #40a8f2;
      line-height: ($m5 * 9);
      margin-left: $m10;
      font-family: 'Open Sans', sans-serif;
    }
    a:first-child{
      background: #ed8c24;
    }
  }
  .search_area{
    margin-bottom: ($m12 * 3);
    label{
      text-transform: uppercase;
      color: #363535;
      font-size: 14px;
      font-weight: $smbld;
      font-family: 'Open Sans', sans-serif;
    }
    .input-group{
      border-bottom: 1px solid #ccc;
      .input-group-prepend{
        background: transparent;
        border: $zro;
        outline: $zro;
        i{
          color: #909090;
        }
      }
      .form-control{
        background: transparent;
        border: $zro;
        outline: $zro;
        color: #909090;
        font-size: 14px;
        font-weight: $nrml;
        font-family: 'Open Sans', sans-serif;
      }
    }
  }
  .help_accorian{
    display: $inblk;
    width: $full;
      .accordionItem{
        display: $inblk;
        width: $full;
        margin-bottom: $m10;
        box-sizing: border-box;
        font-family:'Open-sans',Arial,sans-serif;
        
      }
      .open.accordionItem{
        box-shadow: 0 2px 2px rgba(0,0,0,0.2);
      }
      .accordionItemHeading{
        cursor:pointer;
        margin:$zro;
        padding: ($m5 * 5);
        background:$whte;
        color:#353535;
        width: $full;
        -webkit-border-radius: $m5;
        -moz-border-radius: $m5;
        border-radius: $m5;
        box-sizing: border-box;
        font-size: ($m5 * 3);
        font-weight: $nrml;
        position: $rltv;
        padding-left: ($m10 * 5);
        font-family:'Open-sans',Arial,sans-serif;
    }
    .accordionItemHeading span,
    .accordionItemContent span{
      display: $inblk;
      margin-right: ($m10 * 2);
      font-size: 16px;
      color: #ed8c24;
      font-weight: $nrml;
      font-family:'Open-sans',Arial,sans-serif;
      position: $absl;
      left: ($m10 * 2 - 1);
    }
    
    .accordionItemContent span{
      // display: $inblk;
      color: #40a8f2;
      position: inherit;
    }
      .close .accordionItemContent{
        height:0px;
        transition:height 1s ease-out;
        -webkit-transform: scaleY(0);
        -o-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform: scaleY(0);
        display:block; 
    }
        .open .accordionItemContent{
          padding: 20px;
      background-color: #f4f4f4;
      // border: 1px solid #ddd;
      width: 100%;
      margin: 0px 0px 10px 0px;
      display:$flx;
      -webkit-transform: scaleY(1);
      -o-transform: scaleY(1);
      -ms-transform: scaleY(1);
      transform: scaleY(1);
      -webkit-transform-origin: top;
      -o-transform-origin: top;
      -ms-transform-origin: top;
      transform-origin: top;

    -webkit-transition: -webkit-transform 0.4s ease-out;
    -o-transition: -o-transform 0.4s ease;
    -ms-transition: -ms-transform 0.4s ease;
    transition: transform 0.4s ease;
          box-sizing: border-box;
    }
      .open .accordionItemHeading{
        margin:$zro;
        -webkit-border-top-left-radius: $m5;
        -webkit-border-top-right-radius: $m5;
        -moz-border-radius-topleft: $m5;
        -moz-border-radius-topright: $m5;
        border-top-left-radius: $m5;
        border-top-right-radius: $m5;
        -webkit-border-bottom-right-radius: $zro;
        -webkit-border-bottom-left-radius: $zro;
        -moz-border-radius-bottomright: $zro;
        -moz-border-radius-bottomleft: $zro;
        border-bottom-right-radius: $zro;
        border-bottom-left-radius: $zro;
        // background-color: #bdc3c7;
        // color: #7f8c8d;
    }
    .close{
      opacity: 1;
    }
    .close .accordionItemHeading{
      box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    }
  }
}



/*-------------responsive-------------------*/


@media screen and (max-width:767px){

.help_holder{ padding-top: 30px; }
.help_holder .title h2{ font-size: 25px;}

}

@media screen and (max-width:575px){

.help_holder .title h2{ margin-bottom: 20px;}
.help_holder .title{ flex-direction: column;}
.help_accorian .accordionWrapper .accordionItem{ width: 100% !important;}

}

@media screen and (max-width:479px){

.help_holder{ padding-top: 60px; }
.help_holder .title button,
.help_holder .title a{ font-size: 12px; width: 100%; text-align: center; margin: 0; }
.help_holder .title button{ margin-bottom: 10px; margin-left: 0 !important; }

}


