
.infl_search{
    h2{
        color: #3c3c3c;
        font-size: ($m10 * 3);
        font-weight: $smbld;
        margin: $zro $zro ($m5 * 6);
        font-family: 'Open Sans', sans-serif;
    }
    .search_area{
        ul{
            display: $flx;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: $cntr;
            li{
                width: 24%;
                .form-group{
                    border-bottom: 1px solid #666;
                    label{
                        font-size: 14px;
                        color: #363535;
                        text-transform: uppercase;
                        font-weight: $smbld;
                        margin-bottom: $m10;
                        font-family: 'Open Sans', sans-serif;
                    }
                    .form-control{
                        background: transparent;
                        border: $zro;
                        outline: $zro;
                        color: #909090;
                        font-size: 14px;
                        font-weight: $nrml;
                        font-family: 'Open Sans', sans-serif;
                    }
                    .input-group-prepend{
                        background: transparent;
                        .input-group-text{
                            border: $zro;
                        }
                    }
                }
                button{
                    background: #ed8c24;
                    color: $whte;
                    text-transform: uppercase;
                    border-radius: ($m12 * 2);
                    line-height: ($m5 * 9);
                    padding: $zro ($m10 * 3);
                }
            }
            li:first-child{
                width: ($full - 20);
            }
            li.spacer{
                width: $full;
                height: ($m10 * 5);
            }
        }
    }
    .infl_search_bottom{
        padding-top: ($m10 * 5);
        ul{
            display: $flx;
            justify-content: space-between;
            flex-wrap: wrap;
            li{
                display: $flx;
                width: ($hlf - 1);
                background: $whte;
                margin-bottom: ($m12 * 2);
                box-shadow: 0 2px 2px rgba(0,0,0,0.2);
                figure{
                    width: $hlf;
                    position: $rltv;
                    img{
                        width: 224px;
                        height: 224px;
                    }
                    .dd{
                        position: $absl;
                        top: $zro;
                        z-index: 0;
                        b{
                            background: #40a8f2;
                            padding: $m12;
                            text-align: $cntr;
                            display: $blk;
                            strong{
                                display: $blk;
                                font-size: 17px;
                                color: #fff;
                                font-weight: $bld;
                                line-height: normal;
                                font-family: 'Open Sans', sans-serif;
                            }
                            span{
                                display: $blk;
                                font-size: 13px;
                                color: $whte;
                                line-height: normal;
                                font-weight: $nrml;
                                font-family: 'Open Sans', sans-serif;
                            }
                        }
                    }
                }
                .text{
                    width: $hlf;
                    position: $rltv;
                    padding: $zro $zro $zro ($m10 * 4);
                    .save{
                        display: $blk;
                        text-align: $rht;
                        color: #ef9a3e;
                        font-size: 14px;
                        font-weight: $bld;
                        padding-right: ($m5 * 3);
                        padding-top: $m10;
                        font-family: 'Open Sans', sans-serif;
                    }
                    .text_heading{
                        margin-bottom: ($m5 * 5);
                        h3{
                            color: #3c3c3c;
                            font-size: ($m12 * 2);
                            margin: $zro $zro $m5;
                            font-weight: $smbld;
                            font-family: 'Open Sans', sans-serif;
                        }
                        span,
                        strong{
                            color: #3c3c3c;
                            font-size: ($m5 * 3);
                            font-weight: $smbld;
                            font-family: 'Open Sans', sans-serif;
                        }
                        strong{
                            color: #40a8f2;
                        }
                    }
                    .text_midd{
                        display: $flx;
                        justify-content: space-around;
                        span{
                            display: $blk;
                            color: #939393;
                            font-size: 16px;
                            font-weight: $nrml;
                            margin-bottom: $m10;
                            line-height: normal;
                            font-family: 'Open Sans', sans-serif;
                        }
                        .text_midd_left{
                            strong{
                                font-size: 16px;
                                color: #373737;
                                font-weight: $smbld;
                                font-family: 'Open Sans', sans-serif;
                            }
                        }
                        .text_midd_right{
                            a{
                                text-align: $cntr;
                                i{
                                    width: 30px;
                                    height: 30px;
                                    line-height: 28px;
                                    margin: 0 1px;
                                    border-radius: 50%;
                                    color: #1e6dcf;
                                    border: 2px solid #1e6dcf;
                                }
                            }
                            a i.fa-twitter{
                                color: #40caf2;
                                border-color: #40caf2;
                            }
                            a:last-child i{
                                color: #f25940;
                                border-color: #f25940;
                            }
                        }
                        
                    }
                    .text_midd_last{
                        position: $absl;
                        bottom: $zro;
                        right: $zro;
                        display: $flx;
                        a{
                            display: $blk;
                            border: 1px solid #ccc;
                            line-height: ($m10 * 4);
                            padding: $zro $m12;
                            text-transform: uppercase;
                            font-size: 13px;
                            color: #3c3c3c;
                            font-weight: $bld;
                            font-family: 'Open Sans', sans-serif;
                        }
                        a:last-child{
                            color: $whte;
                            background: #ed8c24;
                            border-color: #ed8c24;
                        }
                    }
                }
            }
        }
    }
    .camCount{
        display: flex;
        justify-content: flex-end;
        background: #21c7de;
        position: fixed;
        right: 40px;
        bottom: 0;
        cursor: pointer;
        .wrapBox{         
            padding: ($m5*3);
            color: #fff;
            position: relative;
            .fa{
                transform: rotate(-50deg);
                font-size: 22px;
                position: absolute;
                top: -3px;
                left: 0;
                &.fa-angle-down{
                    top: 0px;
                    left: 3px;
                }
            }
        }
        .campaignBox{
            color: #fff;
            -webkit-transition:margin-right 0.3s linear;
            -moz-transition: margin-right 0.3s linear;
            -o-transition: margin-right 0.3s linear;
            transition: margin-right 0.3s linear;
            width: 0;
            height: 0;
            padding: 0;
            &.activeSlide{
                width: auto;
                height: auto;
                padding: ($m5*3);
            }
            .imgList{
                max-height: 160px;  
                max-width: 150px;
                display: flex;
                flex-wrap: wrap;
                overflow-y: auto;
                overflow-x: hidden;
                li{
                    width: 46%;
                    margin: 2%;
                    position: relative;
                    .imgList img {
                        object-fit: cover;
                        height: 90px;
                    }
                    i{
                        position: absolute;
                        top: 0;
                        right: 0;
                        font-size: 15px;
                    }
                    img{
                        width: 100%;
                        height: 55px;
                        object-fit: cover;
                    }
                }
            }
            .btn.rounded{
                background: transparent;
                border:2px solid #fff;
                border-radius: 50px!important;
                color: #fff;
            }
        }
    }
    .compareSlide{
        color: #fff;
        position: fixed;
        right: 0;
        top: 150px;
        display: flex;
        .compareToggle{
            width: 48px;
            max-height: 270px;
            text-align: center;
            cursor: pointer;
            background: #aa0062;
            padding: ($m10*3) $m5;
            i.fa{
                font-size: 22px;
                margin-bottom: $m5*2;
            }
            p.transform{
                white-space: pre;
                transform-origin: center;
                -webkit-transform-origin: center;
                letter-spacing: 0.2px;
                transform: translate(0px, 150px) rotate(-90deg);
                -webkit-transform: translate(0px, 150px) rotate(-90deg);
            }
        }
        .compareBox{
            max-width: 220px;
            margin-right: -225px;
            min-height: 270px;
            background: #aa0062;
            padding: ($m10*3) $m10;
            -webkit-transition:margin-right 0.3s linear;
            -moz-transition: margin-right 0.3s linear;
            -o-transition: margin-right 0.3s linear;
            transition: margin-right 0.3s linear;
        }
        .imgList{
            max-height: 280px;  
            display: flex;
            flex-wrap: wrap;
            overflow: auto;
            li{
                width: 46%;
                margin: 2%;
                img {
                    object-fit: cover;
                    height: 55px;
                }
            }
        }
        .btn.rounded{
            background: transparent;
            border:2px solid #fff;
            border-radius: 50px!important;
            color: #fff;
        }
        
    }
}


select{
    appearance: none;
     -moz-appearance: none;
     -webkit-appearance: none;
     background: url("/assets/brand-owner/images/down-arrow.png") no-repeat center right 0 !important;
     padding-right: 20px;
}


.customModal{
    .modal-dialog{
        max-width: 100%;
        margin: 0;
    }
}


/*-------------responsive-------------------*/

@media screen and (max-width:1370px){
    .infl_search .infl_search_bottom ul li .text .text_midd_last a{ font-size: 12px;}
    .detailsBoxBig .righttxts .textHeading h2,
    .detailsBoxBig .righttxts .textHeading h3{ font-size: 40px !important; }
    .detailsBoxBig .righttxts .textHeading h4{ font-size: 20px !important;}
    .detailsBoxBig .righttxts .shortDesc label{ font-size: 18px !important;}


}

@media screen and (max-width:1299px){
    .infl_search .infl_search_bottom ul li .text .text_midd_last a{ font-size: 11px;}
    .infl_search .infl_search_bottom ul li .text .text_heading h3{ font-size: 20px; }
    .detailsBoxBig .righttxts .shortDesc p{ font-size: 14px !important;}
}

@media screen and (max-width:1199px){

.infl_search .infl_search_bottom ul li{ flex-direction: column; }
.infl_search .infl_search_bottom ul li figure{ width: 100%; text-align: center; }
.infl_search .infl_search_bottom ul li .text{ width: 100%; padding: 0 15px; }
.infl_search .infl_search_bottom ul li .text .text_midd_last{ position: inherit; justify-content: space-between; margin-bottom: 15px; }
.infl_search .infl_search_bottom ul li .text .text_midd{ justify-content: space-between; border-top: 1px solid #eee; border-bottom: 1px solid #eee; padding: 10px 0; margin: 10px 0; }
.smallBoxWrap .smallBoxes{ width: 100% !important;}


}

@media screen and (max-width:991px){

    .detailsBoxBig{ flex-direction: column;}
    .detailsBoxBig .leftImg{ width: 100% !important;}
    .detailsBoxBig .righttxts{ width: 100% !important; padding-left: 0 !important;}
    .detailsBoxBig .righttxts .textHeading h2, 
    .detailsBoxBig .righttxts .textHeading h3{ font-size: 36px !important;}
    .detailsBoxBig .righttxts .btnHolder .btnSave{ font-size: 18px;}


}

@media screen and (max-width:767px){

.adminBrand_holder{ background: #eee !important;} 
.infl_search{ padding-top: 30px; }
.infl_search h2{ font-size: 25px; }
.infl_search .search_area ul li button{ font-size: 14px; }
.infl_search .camCount .campaignBox .btn.rounded{ font-size: 14px; }
.infl_search .search_area ul li{ width: 32%; }
.infl_search .infl_search_bottom ul li .text .text_heading{ margin-bottom: 10px; }
.infl_search .compareSlide{ top: 68px; }
.infl_search .infl_search_bottom ul li{ width: 100%;}


}


@media screen and (max-width:479px){

.infl_search .search_area ul li:first-child,
.infl_search .search_area ul li{ width: 100%; }
.infl_search .compareSlide{ top: 120px; }
.smallBoxWrap .smallBoxes{ padding: 20px !important;}
.detailsBoxBig .righttxts .textHeading h2, 
.detailsBoxBig .righttxts .textHeading h3{ font-size: 28px !important}


}






