
.message_holder{
  .title{
    h2{
      color: #3c3c3c;
      font-size: ($m5 * 6);
      font-weight: $smbld;
      margin: $zro $zro ($m5 * 8);
      font-family: 'Open Sans', sans-serif;
    }
  }
  .table_row{
    table{
      td{
        a{
          strong{
            margin-left: $m10;
          }
          figure{
            span{
              background: #ed8c24 !important;
            }
            span:before{
              color: #ed8c24 !important;
            }
          }
        }
      }
      td:nth-child(2) a{
        display: $flx;
        align-items: $cntr;
      }
      th:nth-child(2),
      td:nth-child(2){
        width: $full;
        text-align: $lft !important;
      }
    }
  }
}

.influencers_message{
  .table_row{
    table{
      th:nth-child(2),
      td:nth-child(2){
        width: ($full - 30);
      }
    }
  }
}

.messageDetails{
  .messagePan{
    form{
      .txtarea{
        textarea{
          border: 0;
          border-bottom: 1px solid #d9d9d9;
          padding-bottom: 7px;
          padding-left: 0;
          color: #8c8c8c;
          font-size: 13px;
          font-weight: 600;
          font-family: 'Open Sans',sans-serif;
          margin-bottom: 30px;
          background: transparent;
        }
      }
      .fileUpload{
        position: relative;
        .file{
          width: 26px;
          height: 37px;
          opacity: 0;
          position: relative;
          z-index: 2;
          cursor: pointer;
        }
        .fileUploadImg{
          position: absolute;
          left: 152px;
          top: 0;
          font-size: 30px;
        }
      }
      .submitBtn{
        background: #ed8c24;
        color: #fff;
        border: 1px solid #ed8c24;
        padding: 15px 45px;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        border-radius: 30px;
        position: relative;
        cursor: pointer;
      }
    }
  }
}


.modal-xlg{
  width: 90%;
  max-width: none;
}


/*-------------responsive-------------------*/

@media screen and (max-width:767px){

.message_holder{ padding-top: 30px; }
.message_holder .title h2{ font-size: 25px;}

}

@media screen and (max-width:479px){

.message_holder{ padding-top: 60px; }

}







