

.nav > li > a {
    color: #a7b1c2;
    font-weight: 600;
    padding: 14px 20px 14px 25px;
  }
  .nav.navbar-right > li > a {
    color: #999c9e;
  }
  .nav > li.active > a {
    color: #ffffff;
    background-color: #293846;
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus {
    background-color: #293846;
    color: white;
  }
  .nav .open > a,
  .nav .open > a:hover,
  .nav .open > a:focus {
    background: #fff;
  }
  .nav.navbar-top-links > li > a:hover,
  .nav.navbar-top-links > li > a:focus {
    background-color: transparent;
  }
  .nav > li > a i {
    margin-right: 6px;
  }
  .navbar {
    border: 0;
  }
  .navbar-default {
    background-color: transparent;
    border-color: #2f4050;
  }
  .navbar-top-links li {
    display: inline-block;
  }
  .navbar-top-links li:last-child {
    margin-right: 40px;
  }
  .body-small .navbar-top-links li:last-child {
    margin-right: 0;
  }
  .navbar-top-links li a {
    padding: 20px 10px;
    min-height: 50px;
  }
  .dropdown-menu {
    border: medium none;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
    display: none;
    float: left;
    font-size: 12px;
    left: 0;
    list-style: none outside none;
    padding: 0;
    position: absolute;
    text-shadow: none;
    top: 100%;
    z-index: 1000;
  }
  .dropdown-menu > li > a {
    border-radius: 3px;
    color: inherit;
    line-height: 25px;
    margin: 4px;
    text-align: left;
    font-weight: normal;
  }
  .dropdown-menu > .active > a,
  .dropdown-menu > .active > a:focus,
  .dropdown-menu > .active > a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #1ab394;
    outline: 0;
  }
  .dropdown-menu > li > a.font-bold {
    font-weight: 600;
  }
  .navbar-top-links .dropdown-menu li {
    display: block;
  }
  .navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
  }
  .navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
  }
  .navbar-top-links .dropdown-menu li a div {
    white-space: normal;
  }
  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
  }
  .navbar-top-links .dropdown-messages {
    margin-left: 5px;
  }
  .navbar-top-links .dropdown-tasks {
    margin-left: -59px;
  }
  .navbar-top-links .dropdown-alerts {
    margin-left: -123px;
  }
  .navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
  }
  .dropdown-messages,
  .dropdown-alerts {
    padding: 10px 10px 10px 10px;
  }
  .dropdown-messages li a,
  .dropdown-alerts li a {
    font-size: 12px;
  }
  .dropdown-messages li em,
  .dropdown-alerts li em {
    font-size: 10px;
  }
  .nav.navbar-top-links .dropdown-alerts a {
    font-size: 12px;
  }
  .nav-header {
    padding: 33px 25px;
    background-color: #2f4050;
    //background-image: url("patterns/header-profile.png");
  }
  .pace-done .nav-header {
    transition: all 0.4s;
  }
  .nav > li.active {
    border-left: 4px solid #19aa8d;
    background: #293846;
  }
  .nav.nav-second-level > li.active {
    border: none;
  }
  .nav.nav-second-level.collapse[style] {
    height: auto !important;
  }
  .nav-header a {
    color: #DFE4ED;
  }
  .nav-header .text-muted {
    color: #8095a8;
  }
  .minimalize-styl-2 {
    padding: 4px 12px;
    margin: 14px 5px 5px 20px;
    font-size: 14px;
    float: left;
  }
  .navbar-form-custom {
    float: left;
    height: 50px;
    padding: 0;
    width: 200px;
    display: block;
  }
  .navbar-form-custom .form-group {
    margin-bottom: 0;
  }
  .nav.navbar-top-links a {
    font-size: 14px;
  }
  .navbar-form-custom .form-control {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    font-size: 14px;
    height: 60px;
    margin: 0;
    z-index: 2000;
  }
  .count-info .label {
    line-height: 12px;
    padding: 2px 5px;
    position: absolute;
    right: 6px;
    top: 12px;
  }
  .arrow {
    float: right;
  }
  .fa.arrow:before {
    content: "\f104";
  }
  .active > a > .fa.arrow:before {
    content: "\f107";
  }
  .nav-second-level li,
  .nav-third-level li {
    border-bottom: none !important;
  }
  .nav-second-level li a {
    padding: 7px 10px 7px 10px;
    padding-left: 52px;
  }
  .nav-third-level li a {
    padding-left: 62px;
  }
  .nav-second-level li:last-child {
    margin-bottom: 10px;
  }
  body:not(.fixed-sidebar):not(.canvas-menu).mini-navbar .nav li:hover > .nav-second-level,
  .mini-navbar .nav li:focus > .nav-second-level {
    display: block;
    border-radius: 0 2px 2px 0;
    min-width: 140px;
    height: auto;
  }
  body.mini-navbar .navbar-default .nav > li > .nav-second-level li a {
    font-size: 12px;
    border-radius: 3px;
  }
  .fixed-nav .slimScrollDiv #side-menu {
    padding-bottom: 60px;
  }
  .mini-navbar .nav-second-level li a {
    padding: 10px 10px 10px 15px;
  }
  .mini-navbar .nav .nav-second-level {
    position: absolute;
    left: 70px;
    top: 0;
    background-color: #2f4050;
    padding: 10px 10px 10px 10px;
    font-size: 12px;
  }
  .canvas-menu.mini-navbar .nav-second-level {
    background: #293846;
  }
  .mini-navbar li.active .nav-second-level {
    left: 65px;
  }
  .navbar-default .special_link a {
    background: #1ab394;
    color: white;
  }
  .navbar-default .special_link a:hover {
    background: #17987e !important;
    color: white;
  }
  .navbar-default .special_link a span.label {
    background: #fff;
    color: #1ab394;
  }
  .navbar-default .landing_link a {
    background: #1cc09f;
    color: white;
  }
  .navbar-default .landing_link a:hover {
    background: #1ab394 !important;
    color: white;
  }
  .navbar-default .landing_link a span.label {
    background: #fff;
    color: #1cc09f;
  }
  .logo-element {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: white;
    display: none;
    padding: 18px 0;
  }
  .pace-done .navbar-static-side,
  .pace-done .nav-header,
  .pace-done li.active,
  .pace-done #page-wrapper,
  .pace-done .footer {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
  .navbar-fixed-top {
    background: #fff;
    transition-duration: 0.4s;
    border-bottom: 1px solid #e7eaec !important;
    z-index: 2030;
  }
  .navbar-fixed-top,
  .navbar-static-top {
    background: #f3f3f4;
  }
  .fixed-nav #wrapper {
    margin-top: 0;
  }
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none;
    border-color: #dddddd #dddddd rgba(0, 0, 0, 0);
    border-bottom: #f3f3f4;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #555555;
    cursor: default;
  }
  .nav.nav-tabs li {
    background: none;
    border: none;
  }


  .navbar-default{
    position: $absl;
    width: ($m10 * 22);
    height: &full;
    background: #40a8f2;
    z-index: $zro;
    padding: ($m5 * 9) $zro;
    // text-align: $cntr;
    .nav{
      display: $blk;
      li{
        a{
          display: $blk;
          padding: $zro;
          // line-height: ($m5 * 15);
          line-height: normal;
          color: #eee;
          font-size: ($m10 * 3);
          padding: ($m10 * 2) ($m10 * 2) ($m10 * 2) ($m10 * 7);
          text-decoration: $nne;
          .nav-label{
            display: $blk;
            font-size: 14px;
            color: $whte;
            font-weight: $smbld;
            text-transform: uppercase;
            font-family: 'Open Sans', sans-serif;
          }
        }
        a:hover{
          background-color: #339ce6;
        }
      }
      li:first-child{
        a{
          background-image: url("/assets/brand-owner/images/dash-icon2.png");
          background-repeat: no-repeat;
          background-position: 14px $cntr;
        }
      }
      li:first-child:hover{
        a{
          background-image: url("/assets/brand-owner/images/dash-icon1.png");
        }
      }
      li:nth-child(2){
        a{
          background-image: url("/assets/brand-owner/images/serach-infu.png");
          background-repeat: no-repeat;
          background-position: 14px $cntr;
        }
      }
      li:nth-child(2):hover{
        a{
          background-image: url("/assets/brand-owner/images/serach-infu2.png");
        }
      }
      li:nth-child(3){
        a{
          background-image: url("/assets/brand-owner/images/sidebar-icon3.png");
          background-repeat: no-repeat;
          background-position: 14px $cntr;
        }
      }
      li:nth-child(3):hover{
        a{
          background-image: url("/assets/brand-owner/images/sidebar-icon3-hover.png");
        }
      }
      li:nth-child(4){
        a{
          background-image: url("/assets/brand-owner/images/sidebar-icon5.png");
          background-repeat: no-repeat;
          background-position: 14px $cntr;
        }
      }
      li:nth-child(4):hover{
        a{
          background-image: url("/assets/brand-owner/images/sidebar-icon5-hover.png");
        }
      }
      li:nth-child(5){
        a{
          background-image: url("/assets/brand-owner/images/sidebar-icon4.png");
          background-repeat: no-repeat;
          background-position: 14px $cntr;
        }
      }
      li:nth-child(5):hover{
        a{
          background-image: url("/assets/brand-owner/images/sidebar-icon4-hover.png");
        }
      }
      li:nth-child(6){
        a{
          background-image: url("/assets/brand-owner/images/sidebar-icon6.png");
          background-repeat: no-repeat;
          background-position: 14px $cntr;
        }
      }
      li:nth-child(6):hover{
        a{
          background-image: url("/assets/brand-owner/images/sidebar-icon6-hover.png");
        }
      }
      li:nth-child(7){
        a{
          background-image: url("/assets/brand-owner/images/sidebar-icon7.png");
          background-repeat: no-repeat;
          background-position: 14px $cntr;
        }
      }
      li:nth-child(7):hover{
        a{
          background-image: url("/assets/brand-owner/images/sidebar-icon7-hover.png");
        }
      }
      li:nth-child(8){
        a{
          background-image: url("/assets/brand-owner/images/sidebar-icon8.png");
          background-repeat: no-repeat;
          background-position: 14px $cntr;
        }
      }
      li:nth-child(8):hover{
        a{
          background-image: url("/assets/brand-owner/images/sidebar-icon8-hover.png");
        }
      }
    }
  }




  
  