<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <a [routerLink]="['../influencers']" ><span class="nav-label">Dashboard</span></a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['./invitations']"> <span class="nav-label">Invitations</span></a>
            </li>
            <!-- <li>
                <a [routerLink]="['./opportunities']">
                    <span class="nav-label">Opportunities</span>
                </a>
            </li> -->
            <li routerLinkActive="active">
                <a [routerLink]="['./jobs']">
                    <span class="nav-label">Jobs</span>
                </a>
            </li>
            <li routerLinkActive="active">
              <a [routerLink]="['./messages']">
                  <span class="nav-label">Messages</span> 
              </a>
          </li>
          <li routerLinkActive="active">
              <a [routerLink]="['./help']">
                  <span class="nav-label">HELP CENTER</span>
              </a>
          </li>
          <li>
              <a routerLink="/influencers/logout">
                  <span class="nav-label">Log Out</span>
              </a>
          </li>
          
        </ul>
    </div>
  </nav>