@import "../brand-owner";

.messageDetails{
    position: relative;
    .leftChats{
        padding-right: 0px;
        .bg-blue{
            background: #40a8f2;
        }
        .text-blue{
            color: #40a8f2;
        }
        .messagePan{
            .msgList{
                li{
                    &.send{
                        justify-content: space-between;
                        .rightBox {
                            max-width: 80%;
                            width: 80%;
                        }
                    }
                    &.resive{
                        .rightBox {
                            max-width: 60%;
                            width: 60%;
                        }
                    }
                    .leftBox{
                        img{
                            width: 75px;
                            height: 75px;
                            display: inline-block;
                            vertical-align: middle;
                        }
                        .desc{
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
    .rightChatsThreads{
        width: 360px;
        position: fixed;
        padding-top: 67px;
        top: 0;
        right: 0;
        height: 100%;
        z-index: 8;
        background: #fff;
        -webkit-box-shadow: -3px 0px 3px 0px rgba(186,182,186,0.48);
        -moz-box-shadow: -3px 0px 3px 0px rgba(186,182,186,0.48);
        box-shadow: -3px 0px 3px 0px rgba(186,182,186,0.48);
        .topSearch{
            height: 68px;
            .form-control{
                background: #fff url("../../../assets/influencers/images/search.png") no-repeat left 40px top 20px;
                padding: 28px 28px 28px 76px;
                border-radius: 0;
                border: 0;
                border-bottom: solid 1px #e9e9e9;
                &:focus{
                    box-shadow: none;
                }
            }
        }
        .threads{
            height: 100%;
            ul{
                height: 90%;
                min-height: 90%;
                overflow: auto;
                li{
                    display: flex;
                    align-content: center;
                    padding: 15px 40px;
                    cursor: pointer;
                    &:first-child{
                        margin-top: 0;
                    }
                    &:hover{
                        background: #f2f2f2;
                    }
                    figure{
                        width:77px;
                        height: 77px;
                        position: relative;
                        .status{
                            display: block;
                            width: 15px;
                            height: 15px;
                            border-radius: 50%;
                            position: absolute;
                            top: 0;
                            right: -7px;
                            &.online{
                                background: #47b118;
                            }
                            &.idle{
                                background: #e8d21c;
                            }
                        }
                    }
                    .chatDesc{
                        padding-left: 22px;
                        flex-grow: 2;
                        h3{
                            color: #3c3c3c;
                            font-family: 'Open Sans', sans-serif;
                            font-size: 18px;
                            font-weight: 600;
                            margin-bottom: 10px;
                            margin-top: 10px;
                            position: relative;
                            .number{
                                position: absolute;
                                top: 0;
                                right: 0;
                                background: #58bce8;
                                display: inline-block;
                                color: #fff;
                                font-size: 11px;
                                font-weight: 900;
                                border-radius: 25px;
                                padding: 5px 7px;
                            }
                        }
                        h4{
                            color: #878787;
                            font-family: 'Open Sans', sans-serif;
                            font-size: 15px;
                            font-weight: 600;
                            margin-bottom: 0;
                        }
                    }
                    &.offline{
                        figure{
                            img{
                                -webkit-filter: grayscale(100%);
                                filter: grayscale(100%);
                            }
                        }
                        .chatDesc{
                            h3{
                                color: #9c9c9c;
                            }
                            h4{
                                color: #c5c5c5;
                            }
                        }
                    }
                    &.active{
                        background: #f2f2f2;
                    }
                }
            }
        }
    }
}
