<section class="messageDetails">
  <div class="leftChats">
    <section class="messagePan">
      <section class="p-4">
        <ul class="msgList" *ngIf = "influncerMessages.length">
          <li *ngFor ="let influncerMessage of influncerMessages" [ngClass] = "influncerMessage.message_from == 'Influencer'?'send d-flex align-items-center mb-4':'resive justify-content-end p-0 d-flex align-items-center mb-4'">
            
            <div class="leftBox" *ngIf = "influncerMessage.message_from == 'Influencer'">
              <img *ngIf ="influncerMessage.Influencer.picture" src="{{influencerImagePath + influncerMessage.Influencer.picture}}" alt="" title="" />
              <img *ngIf ="!influncerMessage.Influencer.picture" src="assets/influencers/images/no-user.jpg" alt="" title="" />
              <div class="ml-3 mr-3 desc">
                  <p class="mb-0 text-blue">{{ influncerMessage.created_at | date :  "MMM dd, y H:mm"}}</p>
                  <p class="mb-0 font-weight-400"> {{influncerMessage.Influencer.first_name + ' ' + influncerMessage.Influencer.last_name}}</p>
              </div>

            </div>
            <div class="rightBox bg-white  p-3 ml-4 shadow-1 rounded" *ngIf = "influncerMessage.message_from == 'Influencer'">
              <p class="mb-0"> {{influncerMessage.message}}</p>
              <p *ngIf = "influncerMessage.file">
                <a href= "{{filePath+influncerMessage.file}}"  target="_blank">
                    <img  class="mb-2" src="assets/influencers/images/icon-pdf.png" *ngIf= "pdfFile.includes(influncerMessage.file.split('.').pop())"/>
                    <img class="mb-2" src="assets/influencers/images/icon-doc.png" *ngIf= "docFile.includes(influncerMessage.file.split('.').pop())"/>
                    <img class="mb-2" src="assets/influencers/images/icon-img.png" *ngIf= "imageFile.includes(influncerMessage.file.split('.').pop())"/>
                {{influncerMessage.file}}
                </a>
              </p>
            </div>

            <div class="leftBox" *ngIf = "influncerMessage.message_from == 'BrandOwner'">
                <div class="ml-3 mr-3 desc">
                    <p class="mb-0 text-blue">{{ influncerMessage.created_at | date :  "MMM dd, y H:mm"}}</p>
                    <p class="mb-0 font-weight-400"> {{influncerMessage.BrandOwner.fname + ' ' + influncerMessage.BrandOwner.lname}}</p>
                </div>
  
              </div>
              <div class="rightBox bg-blue text-white p-3 ml-4 shadow-1 rounded" *ngIf = "influncerMessage.message_from == 'BrandOwner'">
                <p class="mb-0"> {{influncerMessage.message}}</p>
                <p *ngIf = "influncerMessage.file">
                  <a href= "{{filePath+influncerMessage.file}}"  target="_blank">
                      <img  class="mb-2" src="assets/influencers/images/icon-pdf.png" *ngIf= "pdfFile.includes(influncerMessage.file.split('.').pop())"/>
                      <img class="mb-2" src="assets/influencers/images/icon-doc.png" *ngIf= "docFile.includes(influncerMessage.file.split('.').pop())"/>
                      <img class="mb-2" src="assets/influencers/images/icon-img.png" *ngIf= "imageFile.includes(influncerMessage.file.split('.').pop())"/>
                  {{influncerMessage.file}}
                  </a>
                </p>
              </div>
          </li>

        </ul>
        <div class="msgList" *ngIf = "!influncerMessages.length">
          <h3 class="text-danger">No message found</h3>
        </div>
        <form [formGroup] = "messageForm" #messageFormData="ngForm" (ngSubmit)="save_message()" *ngIf = "allowStatus.indexOf(status)!=-1">
          <div class="boxes txtarea">
            <textarea class="form-control" placeholder="Enter message" formControlName="message"></textarea>
            <small *ngIf="(msubmitted && m.message.errors)" class="text-danger">Please Enter Message</small>
            
          </div>

          <div class="fileUpload">
              <input type="submit" class="submitBtn mr-4" value="Send"/>
            <input type="file" class="file" placeholder="select File" formControlName="files"  #fileInput />
            <div class="fileUploadImg" *ngIf = "allowStatus.indexOf(status)!=-1">
                <i class="fa fa-paperclip" aria-hidden="true"></i>
            </div>
            
          </div>

          
        </form>
      </section>
  </section>
  </div>
</section>
