<section class="infl_search infl_saved">
  <!--infl_search-->
  <div class="infl_search_bottom pt-0">
    <!--infl_search_bottom-->
    <h2>Saved Influencers</h2>
    <ul *ngIf = "influncers.length">
      <li *ngFor="let influncer of influncers; let i = index">
        <figure (click)="influncerDetailModal(influencerDetailsModal, influncer.id)">
          <img *ngIf = "influencerImagePath && influncer.picture" src="{{ influencerImagePath+influncer.picture }}" alt="">
          <img *ngIf = "!influencerImagePath || !influncer.picture" src="assets/influencers/images/no-user.jpg" alt="">
          <div class="dd" *ngIf ="influncer.influencerPlatformMaps && influncer.influencerPlatformMaps.length">
            <b>
              <strong>{{getTotalFollowers(influncer.influencerPlatformMaps)}}</strong>
              <span>followers</span>
            </b>
          </div>
        </figure>
        <div class="text">
          <strong class="save text-danger" style="cursor: pointer;" (click)="removeSavedModal(confirmRemovedSaved, influncer.id, influncer.first_name, influncer.last_name)">Remove</strong>
          <div class="text_heading">
            <h3>{{ influncer.first_name+' '+influncer.last_name }}</h3>
            <span>{{ influncer.country?influncer.country+', ':''}}</span>
            <strong>Blogger</strong>
          </div>
          <div class="text_midd">
            <div class="text_midd_left">
              <span>Nationality</span>
              <strong>{{ influncer.nationality ? influncer.nationality:'NA'}}</strong>
            </div>
            <div class="text_midd_right" *ngIf ="influncer.influencer_platform_maps && influncer.influencer_platform_maps.length">
              <span>Platform</span>
              <a *ngFor ="let influncerPlatform of influncer.influencer_platform_maps"><i  class="fa {{influncerPlatform && influncerPlatform.platform_id >0 && distPlatform[influncerPlatform.platform_id] ?'fa-'+distPlatform[influncerPlatform.platform_id].class_name :''}}" aria-hidden="true"></i></a>
              
            </div>
            <div class="text_midd_right" *ngIf ="!influncer.influencer_platform_maps || !influncer.influencer_platform_maps.length">
              <span>Platform</span>
              <strong >NA</strong>
              
            </div>

          </div>
          <div class="text_midd_last" >
            <a (click)="addCampaign(influncer.id.toString(), influencerImagePath && influncer.picture?influencerImagePath+influncer.picture:'assets/influencers/images/no-user.jpg', influncer.first_name, influncer.last_name)" *ngIf = "addedinfluncer.lastIndexOf(influncer.id.toString())== -1"><i class="fa fa-plus" aria-hidden="true"></i> add to
              campaign</a>
              <a *ngIf = "addedinfluncer.lastIndexOf(influncer.id.toString()) >= 0" (click) ="removeCampaignSelectedInfluncer(influncer.id)"><i class="fa fa-check" aria-hidden="true"></i> added</a>
              <a *ngIf = "addToCompare.lastIndexOf(influncer.id.toString()) == -1" (click)="addCompare(influncer.id.toString(), influncer.first_name, influncer.last_name, influencerImagePath && influncer.picture?influencerImagePath+influncer.picture:'assets/influencers/images/no-user.jpg')"><i class="fa fa-plus" aria-hidden="true"></i> Compare</a>
              <a *ngIf = "addToCompare.lastIndexOf(influncer.id.toString()) >= 0" (click)="removeCompare(influncer.id)"><i class="fa fa-check" aria-hidden="true"></i></a>
             <!-- <a (click)="addCampaign(influncer.id)" *ngIf="!item.campaign"><i class="fa fa-plus" aria-hidden="true"></i> add to
              campaign</a> -->
           <!-- <a *ngIf="item.campaign"><i class="fa fa-check" aria-hidden="true"></i> added</a>
            <a (click)="addCompare(i)" *ngIf="!item.added"><i class="fa fa-plus" aria-hidden="true"></i> Compare</a>
            <a *ngIf="item.added"><i class="fa fa-check" aria-hidden="true"></i></a> -->
          </div>
        </div>
      </li>
    </ul>
    <ul *ngIf = "!influncers.length"> No Influncer Saved</ul>
  </div>
  <!--infl_search_bottom-->

  <!-- no of campaign -->
  <section class="camCount">
    <div class="wrapBox" (click)="openCampaign()">
      <i class="fa fa-angle-up" *ngIf="!expandCampaign"></i>
      <i class="fa fa-angle-down" *ngIf="expandCampaign"></i>
      <p class="text-uppercase mb-0">campaign</p>
      <p class="mb-0"><span>{{totalCampaign}}</span> added</p>
    </div>
    <div class="campaignBox" #expanFixd>
      <ul class="imgList">
        <ng-container *ngFor="let item of influncersImage">
          <li >
            <img src="{{item.img}}" />
            <i class="fa fa-remove text-danger" (click) = "removeCampaignSelectedInfluncer(item.id)"></i>
            <p>{{item.first_name}}</p>
          </li>
        </ng-container>
      </ul>
      <div class="text-center">
          <button class="btn rounded mt-3 pl-4 pr-4" *ngIf="totalCampaign > 0 && step ==1" [routerLink]="['../campaign-management', 1]">START CAMPAIGN</button>
          <button class="btn rounded mt-3 pl-4 pr-4" *ngIf="totalCampaign > 0 && step ==3" [routerLink]="['../campaign-management', 4]">NEXT</button>
      </div>
    </div>
  </section>
  <!-- no of campaign end -->
  <!-- compare slide -->
  <section class="compareSlide">
    <div class="compareToggle" (click)="toggleSlide()">
      <i *ngIf="!expandMode" class="fa fa-angle-left"></i>
      <i *ngIf="expandMode" class="fa fa-angle-right"></i>
      <p class="mb-0 transform text-uppercase"><span>({{addToCompare.length}})</span> Compare Influencers</p>
    </div>
    <div class="compareBox pl-3 pr-3" #expanDiv>
      <ul class="imgList">
        <li *ngFor="let item of addToCompare; let i = index"><img src="{{addToCompareImage[i]}}" /></li>
      </ul>
      <!-- <button class="btn rounded mt-3 pl-4 pr-4" *ngIf="totalCompare > 0" [routerLink]="['../compare',compareArr.length]">Compare</button> -->
      <button class="btn rounded mt-3 pl-4 pr-4" *ngIf="addToCompareImage.length" [routerLink]="['../compare',3]">Compare</button>
      <p class="mb-0 mt-3">Compare up to 4 Influencers</p>
    </div>
  </section>
  <!-- compare slide end -->

</section>
<!--infl_search-->
<!-- compare slide end -->
<ng-template class="modal fade faq_popup" #influencerDetailsModal>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    <div class="modal-body">
      <div  tabindex="-1" role="dialog" aria-labelledby="influencerDetailsModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered m-0" role="document" style="max-width: 100%;">
          <div class="modal-content" style="border: 0;">
              <div class="detailsBoxBig">
                  <div class="leftImg">
                      <img *ngIf = "influencerImagePath && influncerDetail.picture" src="{{ influencerImagePath+influncerDetail.picture }}" alt="">
                      <img *ngIf = "!influencerImagePath || !influncerDetail.picture" src="assets/influencers/images/no-user.jpg" alt="">
                    <div class="favourite"></div>
                  </div>
                  <div class="righttxts clearfix">
                    
                    <div class="textHeading">
                      <h2>{{influncerDetail.first_name || influncerDetail.last_name?influncerDetail.first_name+' '+influncerDetail.last_name:''}}</h2>
                      <h3 *ngIf = "influncerDetail.influencerPlatformMaps && influncerDetail.influencerPlatformMaps.length">{{getTotalFollowers(influncerDetail.influencerPlatformMaps)}} <span>followers</span></h3>
                      <h4>{{influncerDetail.country?influncerDetail.country+',':''}}{{influncerDetail.nationality?influncerDetail.nationality+',':''}}<span>Blogger</span></h4>
                    </div>
                    <div class="shortDesc">
                      <label>Short About Me</label>
                      <p>{{influncerDetail.description?influncerDetail.description:''}}</p>
                    </div>
                    <div class="socialMediatabs">
                      <ul class="nav nav-tabs" id="myTab" role="tablist" *ngIf = "influncerDetail.influencerPlatformMaps">

                          <li class="nav-item" *ngFor ="let platform of influncerDetail.influencerPlatformMaps; let i=index">
                            <a class="nav-link" [ngClass]="i== 0 ? 'active' : ''" id="{{platform.Platform.name}}-tab" data-toggle="tab" href="#{{platform.Platform.name}}" role="tab" aria-controls="facebook" aria-selected="true">
                              <span class="icon {{platform.Platform.name | lowercase}}Tab"></span>
                              <span class="name">{{platform.Platform.name}}</span>
                            </a>
                          </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                          <div *ngFor ="let platform of influncerDetail.influencerPlatformMaps" class="tab-pane fade show active" id="{{platform.Platform.name}}" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label>Likes Per Post</label>
                                  <p>{{platform.total_like}}</p>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label>Comments Per Post</label>
                                  <p>{{platform.total_comments}}</p>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label>Impressions Per Post</label>
                                  <p>{{platform.imptession_ratio}}</p>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label>Engagement Ratio</label>
                                  <p>{{platform.engagement_ratio}}</p>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label>Past Jobs Completed</label>
                                  <p>0</p>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label>Followers Gender Distribution</label>
                                  <p>60% Male , 40% Female</p>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label>Comment sentiment</label>
                                  <p>75%</p>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-10">
                                <div class="form-group">
                                  <label>Followers Age Distribution</label>
                                  <ul>
                                    <li><span>18 - 25 years :</span>5.6K,</li>
                                    <li><span>25 - 35 years :</span>1.4K,</li>
                                    <li><span>35 years above :</span>0.5K</li>
                                  </ul>
                                </div>
                              </div>
                              <div class="col-md-10">
                                <div class="form-group">
                                  <label>Followers Country Distribution</label>
                                  <ul>
                                    <li><span>Iraq :</span>1K,</li>
                                    <li><span>UAE :</span>677,</li>
                                    <li><span>Jordon :</span>122,</li>
                                    <li><span>Qatar :</span>455</li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                          
                        </div>
                  </div>
                  </div>
                </div>
                <div class="smallBoxWrap">
                <div class="smallBoxes">
                  <h2>Pricing of Ready – Made Content</h2>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Post type</th>
                          <th>Price</th>
                        </tr>
                      </thead>
                      <!-- <tbody *ngIf = "influncerDetail.influencerPlatformMaps && influncerDetail.influencerPlatformMaps.length">
                        
                        <tr *ngFor ="let platform of influncerDetail.influencerPlatformMaps">
                          <td>{{platform.Platform.name}}</td>
                          <td>${{platform.readymade_content_price}}</td>
                        </tr>
                      </tbody>
                      <tbody *ngIf = "!influncerDetail.influencerPlatformMaps">
                        <tr>
                          <td colspan="2">No data found</td>
                        </tr>
                      </tbody> -->
                    </table>
                  </div>
                </div>
              </div>
         
          </div>
        </div>
      </div>
    </div>
  </ng-template>

<!-- Change Password Modal -->
<ng-template class="modal" #confirmRemovedSaved>
  <div class="modal-header">
    <p>Do you want to remove {{removeName}} from saved list?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="removeSaved()">Yes</button>
    <button type="button" class="btn btn-danger" (click)="modalRef.hide()">No</button>
  </div>
</ng-template>