
<section class="dashboard_holder">
    <div class="date_filter"><!--date_filter-->
        <!-- <select class="form-control">
            <option>Jan</option>
            <option>Feb</option>
        </select>   -->
        <input type="text" class="form-control calendarIcon flatPickDate" value="" placeholder="Post Date"
            mwlFlatpickr [disableMobile]= "'true'" [(ngModel)]="campaignDate"
                [dateFormat]="'M Y'" [allowInput]="false" [mode]="'single'" (ngModelChange)="updateCampaignGraph()">
    </div>
    
    <!--date_filter-->

    <div class="deahboard_top"><!--deahboard_top-->
        <ul>
            <li >
                <div class="widget_top">
                    <strong>Total Ongoing Jobs</strong>
                    <span></span>
                </div>
                <div class="widget_midd chatArea">
                    <div class="chartBodySec">
                        <div class="chartSec">
                            <canvas #doughnutCanvas baseChart height="135" width= "305" [data]="campaignStatusData" [colors]="doughnutDataColors"
                            [labels]="doughnutChartLabels" [chartType]="doughnutChartType" [options]="doughnutChartOptions"
                            [plugins]="doughnutChartPlugins" [legend]="doughnutChartLegend">
                            </canvas>
                        </div>
                        <!-- <div class="chartDescTxt ml-3">
                            <p>In progress</p>
                            <p>Content submitted for approval</p>
                            <p>Content approved</p>
                            <p>Paid</p>
                        </div> -->
                    </div>
                </div>
                <div class="widget_bottom">
                    <a routerLink="/influencers/jobs" routerLinkActive="active">
                        <i aria-hidden="true" class="fa fa-long-arrow-right"></i>
                    </a>
                </div>
            </li>
            <li >
                <div class="widget_top">
                    <strong>TOTAL PAST JOBS</strong>
                    <span></span>
                </div>
                <div class="widget_midd chatArea">
                    <div class="chartBodySec">
                        <div class="chartSec">
                            <canvas #doughnutCanvas1 baseChart height="135" width= "250" [data]="jobStatusData" [colors]="doughnutDataColors1"
                            [labels]="doughnutChartLabels1" [chartType]="doughnutChartType1" [options]="doughnutChartOptions1"
                            [plugins]="doughnutChartPlugins1" [legend]="doughnutChartLegend1">
                            </canvas>
                        </div>
                        <!-- <div class="chartDescTxt ml-3">
                            <p>Draft</p>
                            <p>In progress</p>
                            <p>Published</p>
                        </div> -->
                    </div>
                </div>
                <div class="widget_bottom">
                    <a routerLink="/influencers/jobs" routerLinkActive="active">
                        <i aria-hidden="true" class="fa fa-long-arrow-right"></i>
                    </a>
                </div>
            </li>
            <li >
                <div class="widget_top">
                    <strong>REVENUE STATUS</strong>
                    <span></span>
                </div>
                <div class="widget_midd chatArea">
                    <div class="chartBodySec">
                        <div class="chartSec">
                            <canvas #doughnutCanvas2 baseChart height="135" width= "305" [data]="paymentData" [colors]="doughnutDataColors2"
                            [labels]="doughnutChartLabels2" [chartType]="doughnutChartType2" [options]="doughnutChartOptions2"
                            [plugins]="doughnutChartPlugins2" [legend]="doughnutChartLegend2">
                            </canvas>           
                        </div>
                        <!-- <div class="chartDescTxt ml-3">
                            <p>Pending to collect</p>
                            <p>Collected</p>
                        </div> -->
                    </div>
                </div>
                <div class="widget_bottom">
                    <a routerLink="/influencers/jobs" routerLinkActive="active">
                        <i aria-hidden="true" class="fa fa-long-arrow-right"></i>
                    </a>
                </div>
            </li>
        </ul>
    </div><!--deahboard_top-->

    <div class="dashboard_row"><!--dashboard_row-->
        
        <div class="title"><!--title-->
            <h3>On-Going Campaigns</h3>
            <ul>
                <li>
                    <div class="col-auto">
                        <label class="sr-only" for="inlineFormInputGroup">Campaign Name</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></div>
                            </div>
                            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Campaign Name" [(ngModel)]="CampaignNameSearch">
                        </div>
                    </div>
                </li>
                <li>
                    <select class="form-control" [(ngModel)]="filterPlatformOnGoingCampaign" (change)="updateOnGoingCampaign()">
                        <option value="">Select Platform</option>
                        <option [hidden]="!allPlatform" value="{{ allPlatform && allPlatform.id ? allPlatform.id : '' }}" *ngFor="let allPlatform of allPlatforms">{{ allPlatform && allPlatform.name ? (allPlatform.name | titlecase) : '' }}</option>
                    </select>
                </li>
                <li>
                    <!-- <select class="form-control">
                        <option>Month</option>
                        <option>progress</option>
                    </select> -->
                    <input type="text" class="form-control calendarIcon flatPickDate" placeholder="Post Date"
                                mwlFlatpickr [disableMobile]= "'true'" [(ngModel)]="onGoingCampaignDate"
                                 [dateFormat]="'M Y'" [allowInput]="false" [mode]="'single'" (ngModelChange)="updateOnGoingCampaign()">
                </li>
            </ul>
        </div><!--title-->
        
        <div class="table_row">
        <div class="table-responsive"><!--table-responsive-->
            <table class="table">
                <thead> 
                    <tr>
                        <th>Campaign</th>
                        <th>Brand</th>
                        <th>Service Required</th>
                        <th>Platform</th>
                        <th>Post date</th>
                        <th>Completion date</th>
                        <th>Progress</th>
                        <th>Revenue</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody *ngIf = "ongoingJobs.length"> 
                    <tr *ngFor="let jobDetails of ongoingJobs | search_multi : 'Campaign.campaign_name':CampaignNameSearch">
                        <td>{{jobDetails.Campaign.campaign_name}}</td>
                        <td><strong>{{(jobDetails.Campaign.Brand)?jobDetails.Campaign.Brand.brand_name:'NA'}}</strong></td>
                        <td>
                            <p class="mb-0">{{jobDetails.Campaign.service_required_content}}</p> 
                        </td>
                        <td *ngIf="jobDetails.Campaign.CampaignPlatformMaps">
                            <a class="social-icon" *ngFor="let platformAssign of jobDetails.Campaign.CampaignPlatformMaps"><i class="fa fa-{{allPlatforms[platformAssign.platform_id]?allPlatforms[platformAssign.platform_id].class_name:''}}" aria-hidden="true"></i></a>
                        </td>
                        <td *ngIf="!jobDetails.Campaign.CampaignPlatformMaps">NA</td>
                        <td>{{ jobDetails.Campaign.start_date ? (jobDetails.Campaign.start_date | dateTimeFormat: jobDetails.Campaign.start_date: 'date-month-year') : 'NA' }}</td>
                        <td>{{ jobDetails.Campaign.tentative_launch_date ? (jobDetails.Campaign.tentative_launch_date | dateTimeFormat: jobDetails.Campaign.tentative_launch_date: 'date-month-year') : 'NA' }}</td>
                        <td>60%</td>
                        <td>${{ jobDetails.Campaign.total_amount_invested}}</td>
                        <td>
                            <a class="more"><i class="fa fa-check" aria-hidden="true"></i> In Progress</a>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf = "!ongoingJobs.length">
                    <tr>
                        <td colspan="9">No data available</td>
                    </tr>
                </tbody>
            </table>
        </div><!--table-responsive-->
    </div>
               
    </div><!--dashboard_row-->

    <div class="dashboard_row mb-0"><!--dashboard_row-->
        
        <div class="title"><!--title-->
            <h3>Published Campaigns</h3>
            <ul>
                <li>
                    <div class="col-auto">
                        <label class="sr-only" for="inlineFormInputGroup">Campaign Name</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></div>
                            </div>
                            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Campaign Name" [(ngModel)]="PastCampaignNameSearch">
                        </div>
                    </div>
                </li>
                <li>
                    <select class="form-control" [(ngModel)]="filterPlatformPastCampaign" (change)="updatePastCampaign()">
                        <option value="">Select Platform</option>
                        <option [hidden]="!allPlatform" value="{{ allPlatform && allPlatform.id ? allPlatform.id : '' }}" *ngFor="let allPlatform of allPlatforms">{{ allPlatform && allPlatform.name ? (allPlatform.name | titlecase) : '' }}</option>
                    </select>
                </li>
                <li>
                    <!-- <select class="form-control">
                        <option>Month</option>
                        <option>progress</option>
                    </select> -->
                    <input type="text" class="form-control calendarIcon flatPickDate" value="" placeholder="Post Date"
                                mwlFlatpickr [disableMobile]= "'true'" [(ngModel)]="pastCampaignDate"
                                 [dateFormat]="'M Y'" [allowInput]="false" [mode]="'single'" (ngModelChange)="updatePastCampaign()">
                </li>
            </ul>
        </div><!--title-->
        
        <div class="table_row">
        <div class="table-responsive"><!--table-responsive-->
            <table class="table mb-0">
                <thead> 
                    <tr>
                        <th>Campaign</th>
                        <th>Brand</th>
                        <th>Service Required</th>
                        <th>Platform</th>
                        <th>Post date</th>
                        <th>Completion date</th>
                        <th>Progress</th>
                        <th>Revenue</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody *ngIf = "pastJobs.length">
                    <tr *ngFor="let jobDetails of pastJobs | search_multi : 'Campaign.campaign_name':PastCampaignNameSearch">
                        <td>{{jobDetails.Campaign.campaign_name}}</td>
                        <td><strong>{{jobDetails.Campaign.BrandOwner.fname+' '+jobDetails.Campaign.BrandOwner.lname}}</strong></td>
                        <td>
                            <p class="mb-0">{{jobDetails.Campaign.service_required_content}}</p> 
                        </td>
                        
                        <td *ngIf="jobDetails.Campaign.CampaignPlatformMaps">
                            <a class="social-icon" *ngFor="let platformAssign of jobDetails.Campaign.CampaignPlatformMaps"><i class="fa fa-{{allPlatforms[platformAssign.platform_id]?allPlatforms[platformAssign.platform_id].class_name:''}}" aria-hidden="true"></i></a>
                        </td>
                        <td *ngIf="!jobDetails.Campaign.CampaignPlatformMaps">NA</td>
                        <td>{{ jobDetails.Campaign.start_date ? (jobDetails.Campaign.start_date | dateTimeFormat: jobDetails.Campaign.start_date: 'date-month-year') : 'NA' }}</td>
                        <td>{{ jobDetails.Campaign.tentative_launch_date ? (jobDetails.Campaign.tentative_launch_date | dateTimeFormat: jobDetails.Campaign.tentative_launch_date: 'date-month-year') : 'NA' }}</td>
                        <td>60%</td>
                        <td>${{ jobDetails.Campaign.total_amount_invested}}</td>
                        <td>
                            <a class="more"><i class="fa fa-check" aria-hidden="true"></i> In Progress</a>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf = "!pastJobs.length">
                    <tr>
                        <td colspan="9">No data available</td>
                    </tr>
                </tbody>
            </table>
        </div><!--table-responsive-->
    </div>
               
    </div><!--dashboard_row-->
 

</section>
