@import "../influencers";

.chatArea{
    .chartBodySec{
        display: flex;
        p{
            margin: 0;
        }
    }
}
.dashboard_holder{
    .date_filter{
        .flatPickDate {
            width: 200px;
            background: transparent;
            border: 0;
            border-bottom: 1px solid #ccc;
            border-radius: 0;
        }
    } 
    .dashboard_row{
        .title{
            ul{
                li{
                    .flatPickDate {
                        background: transparent;
                        border: 0;
                        border-radius: inherit;
                        width: 200px;
                    }
                }
            }
        }
    } 
} 

