@import '../frontend';
.signup_holder{
    form{
        .form_bottom {
            flex-direction: row;
        }
    } 
} 
.login_holder {
    .login_area form {
        .form-group {
           .input-group-append {
               .input-group-text {
                    border-width: 0 0 2px 0;
                } 
                :hover{
                    cursor: pointer
                }
           }
        }
    }
} 
