<section class="login_holder forget_holder signup_holder">
  <!--login_holder-->
  <div class="container">
    <h2 class="mb-3">reset Password</h2>
    <span class="small_heading">Please enter your email address below, and we will email you instructions for setting a new password for your account.</span>
    <!-- <div class="signup_choice">
        <div class="form-radio mr-5">
            <input id="radio1" type="radio" [(ngModel)]="userType" [value]="0" #brand (change)="isSubmitSuccess=false">
            <label for="radio1"><span><span></span></span>Brand</label>
        </div>

        <div class="form-radio">
            <input id="radio2" type="radio" [(ngModel)]="userType" [value]="1" #influencer (change)="isSubmitSuccess=false">
            <label for="radio2"><span><span></span></span>Influencer</label>
        </div>
            
    </div> -->
    <div class="login_area" *ngIf="!userType && !isSubmitSuccess">
      <!--login_area-->
      <form [formGroup]="resetBrandOwnerForm" (ngSubmit)="resetBrandOwnerSubmit()">
        <input type="hidden" formControlName="email" />
        <input type="hidden" formControlName="token" />
        <div class="form-group">
          <div class="input-group mb-3">
            <input type="password" #pwd00 class="form-control" placeholder="New Password" formControlName="newPassword"
            [ngClass]="{ 'is-invalid': resetBrandOwnerSubmitted && b.newPassword.errors }">
            <div class="input-group-append" (click)="pwd00.type=pwd00.type=='text' ? 'password' : 'text'">
              <span class="input-group-text">
                  <i class="fa" [ngClass]="{'fa-eye':pwd00.type=='text', 'fa-eye-slash':pwd00.type=='password'}"></i>
              </span>
            </div>
            <div *ngIf="resetBrandOwnerSubmitted && b.newPassword.errors" class="invalid-feedback">
              <div *ngIf="b.newPassword.errors.required">Password is required</div>
              <div *ngIf="resetBrandOwnerForm.controls['newPassword'].errors.pattern" >Password must be 8 to 20 characters long and should contain uppercase letters, lowercase letters, numbers, and special characters.</div>
            </div>
          </div>
        </div>
        <div class="form-group">
            <div class="input-group mb-3">
              <input type="password" #pwd0 class="form-control" placeholder="Retype Password" formControlName="confirmPassword"
              [ngClass]="{ 'is-invalid': resetBrandOwnerSubmitted && b.confirmPassword.errors }">
              <div class="input-group-append" (click)="pwd0.type=pwd0.type=='text' ? 'password' : 'text'">
                  <span class="input-group-text">
                      <i class="fa" [ngClass]="{'fa-eye':pwd0.type=='text', 'fa-eye-slash':pwd0.type=='password'}"></i>
                  </span>
              </div>
              <div *ngIf="resetBrandOwnerSubmitted && b.confirmPassword.errors" class="invalid-feedback">
                  <div *ngIf="b.confirmPassword.errors.required">Password is required</div>
              </div>
            </div>
        </div>

        <div class="form_bottom">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="reset" class="cancel" routerLink="/login" routerLinkActive="active">Cancel</button>
        </div>
      </form>
    </div>
    <div class="login_area brand_area" *ngIf="isSubmitSuccess"><!--login_area-->
      <div class="row">
          <div class="col-md-12">
              <span>
                  {{ successMessage }} <a routerLink="/login" routerLinkActive="active">Login</a> here. <a href="javascript:;" (click)="isSubmitSuccess=false">Back</a>
              </span>
          </div>
      </div>
    </div>
    <div class="login_area" *ngIf="userType && !isSubmitSuccess">
      <!--login_area-->
      <form [formGroup]="resetInfluencerForm" (ngSubmit)="resetInfluencerSubmit()">
        <input type="hidden" formControlName="email" />
        <input type="hidden" formControlName="token" />
        <div class="form-group">
          <div class="input-group mb-3">
            <input type="password" #pwd11 class="form-control" placeholder="New Password" formControlName="newPassword"
            [ngClass]="{ 'is-invalid': resetInfluencerSubmitted && i.newPassword.errors }">
            <div class="input-group-append" (click)="pwd11.type=pwd1.type=='text' ? 'password' : 'text'">
              <span class="input-group-text">
                  <i class="fa" [ngClass]="{'fa-eye':pwd11.type=='text', 'fa-eye-slash':pwd11.type=='password'}"></i>
              </span>
            </div>
            <div *ngIf="resetInfluencerSubmitted && i.newPassword.errors" class="invalid-feedback">
              <div *ngIf="i.newPassword.errors.required">Password is required</div>
              <div *ngIf="resetInfluencerForm.controls['newPassword'].errors.pattern" >Password must be 8 to 20 characters long and should contain uppercase letters, lowercase letters, numbers, and special characters.</div>
            </div>
          </div>
        </div>
        <div class="form-group">
            <div class="input-group mb-3">
              <input type="password" #pwd1 class="form-control" placeholder="Retype Password" formControlName="confirmPassword"
              [ngClass]="{ 'is-invalid': resetInfluencerSubmitted && i.confirmPassword.errors }">
              <div class="input-group-append" (click)="pwd1.type=pwd1.type=='text' ? 'password' : 'text'">
                  <span class="input-group-text">
                      <i class="fa" [ngClass]="{'fa-eye':pwd1.type=='text', 'fa-eye-slash':pwd1.type=='password'}"></i>
                  </span>
              </div>
              <div *ngIf="resetInfluencerSubmitted && i.confirmPassword.errors" class="invalid-feedback">
                  <div *ngIf="i.confirmPassword.errors.required">Confirm Password is required</div>
                  <div *ngIf="i.confirmPassword.errors.mustMatch">Passwords must match</div>
              </div>
            </div>
        </div>

        <div class="form_bottom">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="reset" class="cancel" routerLink="/login" routerLinkActive="active">Cancel</button>
        </div>
      </form>
    </div>
    <!--login_area-->
  </div>
</section>
<!--login_holder-->