
.dashboard_holder{
    .date_filter{
        margin-bottom: ($m10 * 3);
        display: $flx;
        justify-content: flex-end;
        select{
            width: ($m10 * 20);
            background: transparent;
            border: $zro;
            border-bottom: 1px solid #ccc;
            border-radius: $zro;
        }
    }
    .deahboard_top{
        margin-bottom: ($m10 * 9);
        ul{
            display: $flx;
            justify-content: space-between;
            li{
                width: 32%;
                background: $whte;
                padding: ($m5 * 4) $m10;
                border-radius: ($m5 * 3);
                box-shadow: 0 2px 2px rgba(0,0,0,0.2);
                .widget_top{
                    display: $flx;
                    margin-bottom: ($m5 * 7);
                    justify-content: space-between;
                    strong{
                        display: $blk;
                        text-transform: uppercase;
                        color: #3a3a3a;
                        font-size: ($m5 * 3);
                        font-weight: $smbld;
                        line-height: $m12;
                        font-family: 'Open Sans', sans-serif;
                    }
                    span{
                        display: $blk;
                        color: #8c8c8c;
                        font-size: 13px;
                        line-height: $m10;
                        font-weight: $nrml;
                        font-family: 'Open Sans', sans-serif;
                    }
                }
                .widget_midd{
                    display: $flx;
                    margin-bottom: $m5;
                    align-items: $cntr;
                    justify-content: space-between;
                    b{
                        width: ($hlf + 6);
                        span{
                            display: $blk;
                            color: #5a5a5a;
                            font-size: 13px;
                            line-height: $m12;
                            font-weight: $nrml;
                            margin-bottom: $m10;
                            position: $rltv;
                            padding-left: ($m10 * 2);
                            font-family: 'Open Sans', sans-serif;
                        }
                        :before{
                            content: "";
                            width: ($m10 - 1);
                            height: ($m10 - 1);
                            border-radius: $hlf;
                            background: #40a8f2;
                            position: $absl;
                            left: $zro;
                        }
                        span:nth-child(2):before{
                            background: #ed8c24;
                        }
                        span:nth-child(3):before{
                            background: #dfdfdf;
                        }
                        span:nth-child(4):before{
                            background: #ffe676;
                        }
                        span:nth-child(5):before{
                            background: #00cd87;
                        }
                    }
                }
                .widget_bottom{
                    text-align: $rht;
                    a{
                        display: $inblk;
                        width: ($m10 * 5);
                        height: ($m10 * 5);
                        line-height: ($m10 * 5);
                        border-radius: $hlf;
                        color: #3086e7;
                        font-size: ($m12 * 2);
                        text-align: $cntr;
                        border: 1px solid #3086e7;
                    }
                }
            }
        }
    }
    .dashboard_row{
        margin-bottom: ($m10 * 4);
        .title{
            display: $flx;
            justify-content: space-between;
            align-items: $cntr;
            margin-bottom: ($m10 * 3);
            h3{
                color: #3c3c3c;
                font-size: ($m12 * 2);
                font-weight: $smbld;
                margin: $zro;
                font-family: 'Open Sans', sans-serif;
            }
            ul{
                display: $flx;
                li{
                    margin-left: ($m10 * 2);
                    border-bottom: 1px solid #666;
                    .form-control{
                        background: transparent;
                        border: $zro;
                        border-radius: inherit;
                    }
                    .input-group-prepend{
                        background: transparent;
                    }
                    .input-group-text{
                        padding: $zro $m5;
                        border: $zro;
                    }
                }
            }
        }
        
    }
}
 



