
.help_holder{
    .title{
        button{
            display: inline-block;
            color: #fff;
            text-transform: uppercase;
            font-size: 14px;
            padding: 0 40px;
            font-weight: 600;
            border-radius: 36px;
            background: #ed8c24;
            line-height: 45px;
            margin-left: 10px;
            border: $zro;
            font-family: 'Open Sans', sans-serif;
        }
    }
}

.faq_popup{
    .modal-body{
        padding-bottom: $zro;
        .form-group{
            .form-control{
                border-radius: $zro;
                border: $zro;
                font-weight: $nrml;
                font-size: 16px;
                color: #2d2d2d;
                border-bottom: 1px solid #eee;
                font-family: 'Open Sans', sans-serif;
            }
        }
    }
    .modal-footer{
        border: $zro;
        justify-content: $cntr;
        button{
            text-transform: uppercase;
            font-size: 13px;
            font-weight: $bld;
            border: $zro;
            padding: $zro ($m12 * 2);
            height: ($m5 * 8);
            font-family: 'Open Sans', sans-serif;
        }
        .btn-primary{
            background: #40a8f2;
        }
        .btn-secondary{
            background: #ed8c24;
        }
    }
}


.help_accorian{
    .accordionWrapper{
        display: flex !important;
        flex-wrap: wrap;
        justify-content: space-between;
        .accordionItem{
            width: 48%;
        }
        
        .card-header{
            background: white;
            padding: 25px 25px 25px 50px;
            .headingQ{
                display: inline-block;
                margin-right: 20px;
                font-size: 16px;
                color: #ed8c24;
                font-weight: 400;
                font-family: Open-sans,Arial,sans-serif;
                position: absolute;
                left: 19px;
            }
        }
        .card-body{
            padding: 20px;
            span.headingA{
                color: #40a8f2;
                display: inline-block;
                margin-right: 20px;
                font-size: 16px;
                font-weight: 400;
                font-family: Open-sans,Arial,sans-serif;
            }
            p{
                margin: 0;
                font-size: .875rem;
                span{
                    color: #333;
                    margin: 0;
                }
            }
        }
        .accordionItemContent{
            display: flex;
        }
    } 
}













