
.job_holder{
    .title{
        display: $flx;
        margin-bottom: ($m5 * 8);
        justify-content: space-between;
        h2{
            margin: $zro;
            color: #3c3c3c;
            font-size: ($m5 * 6);
            font-weight: $smbld;
            font-family: 'Open Sans', sans-serif;
        }
        .custom-select{
            width: ($m10 * 20);
            background: transparent;
            border: $zro;
            border-radius: $zro;
            border-bottom: 1px solid #ccc;
        }
    }
}
