
.navbar-default{
    .nav{
        li{

        }
        li:nth-child(2) a{
            background-image: url("/assets/influencers/images/invitation1.png");
            background-repeat: no-repeat;
            background-position: 14px center;
        }
        li:nth-child(2) a:hover{
            background-image: url("/assets/influencers/images/invitation1-hover.png");
        }
        li:nth-child(3) a{
            background-image: url("/assets/influencers/images/opppercunity1.png");
            background-repeat: no-repeat;
            background-position: 14px center;
        }
        li:nth-child(3) a:hover{
            background-image: url("/assets/influencers/images/opppercunity1-hover.png");
        }
        li:nth-child(4) a{
            background-image: url("/assets/influencers/images/jobs1.png");
            background-repeat: no-repeat;
            background-position: 14px center;
        }
        li:nth-child(4) a:hover{
            background-image: url("/assets/influencers/images/jobs1-hover.png");
        }
    }
} 


