 p{
	line-height: 24px;
}

.policy_holder{
    margin-top: 75px;
    padding: 0 0 90px;
	background: #eee;
	p{
        line-height: 24px;
    }
    .title{
        text-align: center;
        padding: 50px 0;
        h2{
            color: #3c3c3c;
            font-size: 48px;
            line-height: 40px;
            font-weight: 600;
            text-align: center;
            margin: 0 0 10px;
            text-transform: capitalize;
            font-family: 'Open Sans', sans-serif;
        }
        span{
            display: block;
            font-size: 25px;
            color: #3c3c3c;
            font-weight: 400;
            font-family: 'Open Sans', sans-serif;
        }
    }
   
}
.loading {
	position: fixed;
	z-index: 999;
	height: 2em;
	width: 2em;
	overflow: show;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	&:before {
		content: '';
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: radial-gradient(rgba(20, 20, 20,1), rgba(0, 0, 0, 1));
		background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
	}
	&:not(:required) {
		font: 0/0 a;
		color: transparent;
		text-shadow: none;
		background-color: transparent;
		border: 0;
	}
}