@import "../brand-owner";


.modal-xlg{
    width: 90%;
    max-width: none;
}

.detailsBoxBig{
    display: flex;
    justify-content: space-between;
    .leftImg{
        position: relative;
        width: 50%;
        img{
            width: 100%;
        }
        .favourite{
            position: absolute;
            top: 30px;
            right: 50px;
            width: 37px;
            height: 36px;
            background: url("../../../assets/brand-owner/images/favourite.png") no-repeat;
            cursor: pointer;
        }
    }
    .righttxts{
        width: 50%;
        padding-left: 55px;
        .btnHolder{
            display: block;
            text-align: right;
            .btnSave{
                font-size: 30px;
                font-weight: 600;
                line-height: 22px;
                color: #ed8c24;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
        .textHeading{
            margin-top: 20px;
            h2{
                color: #3c3c3c;
                font-size: 53px;
                font-weight: 600;
                display: inline-block;
                vertical-align: top;
                padding-right: 25px;
                border-right: solid 1px #dddddd;
            }
            h3{
                color: #3086e7;
                font-size: 53px;
                font-weight: bold;
                display: inline-block;
                vertical-align: top;
                padding-left: 25px;
                span{
                    color: #3c3c3c;
                    font-size: 15px;
                    font-weight: 400;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
            h4{
                color: #3c3c3c;
                font-size: 24px;
                font-weight: 400;
                span{
                    color: #3086e7;
                    margin-left: 5px;
                    display: inline-block;
                }
            }
        }
        .shortDesc{
            margin-top: 30px;
            label{
                color: #939393;
                font-size: 18px;
            }
            p{
                color: #373737;
                font-size: 16px;
            }
        }
        .socialMediatabs{
            ul{
                li{
                    a{
                        text-decoration: none;
                        span{
                            display: inline-block;
                            vertical-align: middle;
                            &.icon{
                                margin-right: 5px;
                                width: 18px;
                                height: 18px;
                                &.facebookTab{
                                    background: url("../../../assets/brand-owner/images/tab-fb.png") no-repeat center center;
                                }
                                &.twitterTab{
                                    background: url("../../../assets/brand-owner/images/tab-twitr.png") no-repeat center center;
                                }
                                &.youtubeTab{
                                    background: url("../../../assets/brand-owner/images/tab-utube.png") no-repeat center center;
                                }
                                &.instaTab{
                                    background: url("../../../assets/brand-owner/images/tab-insta.png") no-repeat center center;
                                }
                                &.snapTab{
                                    background: url("../../../assets/brand-owner/images/tab-snap.png") no-repeat center center;
                                }
                            }
                            &.name{
                                color: #949494;
                                font-size: 16px;
                                line-height: 16px;
                            }
                        }
                        &.active{
                            border: solid 1px transparent;
                            border-bottom: solid 1px #171717;
                            span{
                                &.icon{
                                    &.facebookTab{
                                        background: url("../../../assets/brand-owner/images/tab-fb-active.png") no-repeat center center;
                                    }
                                    &.twitterTab{
                                        background: url("../../../assets/brand-owner/images/tab-twitr-active.png") no-repeat center center;
                                    }
                                    &.youtubeTab{
                                        background: url("../../../assets/brand-owner/images/tab-utube-active.png") no-repeat center center;
                                    }
                                    &.instaTab{
                                        background: url("../../../assets/brand-owner/images/tab-insta-active.png") no-repeat center center;
                                    }
                                    &.snapTab{
                                        background: url("../../../assets/brand-owner/images/tab-snap-active.png") no-repeat center center;
                                    }
                                }
                                &.name{
                                    color: #3a3939;
                                    font-size: 16px;
                                    line-height: 16px;
                                    text-decoration: none;
                                }
                            }
                        }
                        &:focus, &:hover{
                            border: solid 1px transparent;
                            border-bottom: solid 1px #171717;
                            span{
                                &.name{
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
            .tab-content{
                .form-group{
                    label{
                        font-size: 16px;
                        font-weight: 400;
                        color: #939393;
                        padding-top: 0;
                        margin-bottom: 5px;
                    }
                    p{
                        color: #373737;
                        font-size: 16px;
                    }
                    ul{
                        display: flex;
                        justify-content: space-between;
                        li{
                            color: #373737;
                            font-size: 16px;
                            span{
                                color: #3c3c3c;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.smallBoxWrap{
    display: flex;
    margin-top: 20px;
    .smallBoxes{
        width: 50%;
        padding: 50px;
        border: solid 1px #ddd;
        h2{
            color: #3c3c3c;
            font-size: 24px;
            font-weight: 600;
        }
        .table{
            tr{
                th{
                    color: #3c3c3c;
                    font-size:16px;
                }
                td{
                    font-size: 16px;
                    &:last-child{

                    }
                }
            }
        }
    }
}
