<section class="bloglist_holder"><!--bloglist_holder-->
  <div class="bloglist_banner"><!--bloglist_banner-->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Latest Blog</h2>

          <owl-carousel [options]="mySlideOptions" [carouselClasses]="['owl-theme', 'sliding']">
            <div class="item" *ngFor="let blogText of mySlideOptions3;let i = index">
              <ul>
                <li>
                    <span>{{blogText[0]}} <i class="fa fa-clock-o" aria-hidden="true"></i> {{blogText[1]}}</span>
                    <h3>{{blogText[2]}}</h3>
                    <p>{{blogText[3]}}</p>
                    <a routerLink="/blog-details"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </li>
              </ul>
            </div>
          </owl-carousel>
        </div>
      </div>
    </div>
    
  </div><!--bloglist_banner-->

  <div class="bloglist_bottom"><!--bloglist_bottom-->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Featured</h2>
          <ul>
            <li *ngFor="let featureText of blogFeature">
              <figure>
                <img src="{{featureText[0]}}" alt="">
              </figure>
              <div class="blog_text">
                <span>{{featureText[1]}},  <i class="fa fa-clock-o" aria-hidden="true"></i> {{featureText[2]}}</span>
                <h3>{{featureText[3]}}</h3>
                <p>{{featureText[4]}}</p>
                <a routerLink="/blog-details"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
              </div>
            </li>

          </ul>
          <div class="more">
              <a>Show More</a>
          </div>
        </div>
      </div>
    </div>
  </div><!--bloglist_bottom-->

  <div class="blog_newsletter"><!--blog_newsletter-->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Subscribe To Our Newsletter</h2>
          <form>
            <input type="text" placeholder="Your Email Address">
            <button>Subscribe</button>
          </form>
        </div>
      </div>
    </div>
    <div class="text-center mt-5">
      <a routerLink="/signup" class="btn signUpBtn">Sign up for free</a>
    </div>
  </div><!--blog_newsletter-->
</section><!--bloglist_holder-->
