<section class="job_holder">
  <!--job_holder-->
  <div class="title">
    <!--title-->
    <h2>Jobs</h2>
    <div>
      <a class="mr-4 text_blue" *ngIf="activeTab == 'ngb-tab-0'">Showing {{ ongoingJobs.length }}{{ ongoingJobs.length > 1 ? ' records' : ' record' }}</a>
      <a class="mr-4 text_blue" *ngIf="activeTab == 'ngb-tab-1'">Showing {{ pastJobs.length }}{{ ongoingJobs.length > 1 ? ' records' : ' record' }}</a>
      <!-- <select class="custom-select form-control">
        <option selected>Jan</option>
        <option>Feb</option>
      </select> -->
    </div>
  </div>
  <!--title-->

  <ngb-tabset [activeId]="activeTab" (tabChange)="tabChange($event)">
    <ngb-tab>
      <ng-template ngbTabTitle>Ongoing Jobs</ng-template>
      <ng-template ngbTabContent class="px-0">
        <div class="table_row">
          <!--table_row-->
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Campaign</th>
                  <th class="text-left">Brand Owner’s Name</th>
                  <th>CONTENT DUE DATE</th>
                  <th>LAUNCH DATE</th>
                  <th>COMPANY</th>
                  <th>JOB STATUS</th>
                </tr>
              </thead>

              <tbody *ngIf="ongoingJobs.length">
                <tr *ngFor="let jobDetails of ongoingJobs | paginate: ongoingJobsPaginationConfig; let i=index">
                  <td>{{ jobDetails.Campaign.campaign_name ? jobDetails.Campaign.campaign_name : 'NA' }}</td>
                  <td class="text-left"><a routerLink="/influencers/job-details/{{(jobDetails.campaign_id)?jobDetails.campaign_id:''}}"><strong>{{ (jobDetails.Campaign.BrandOwner.fname + ' ' + jobDetails.Campaign.BrandOwner.lname)  | titlecase }}</strong></a></td>
                  <td>{{ jobDetails.expiry_date ? (jobDetails.expiry_date | dateTimeFormat: jobDetails.expiry_date: 'date-month-year') : 'NA' }}</td>
                  <td>{{ jobDetails.expiry_date ? (jobDetails.expiry_date | dateTimeFormat: jobDetails.expiry_date: 'date-month-year') : 'NA' }}</td>
                  <td>{{ jobDetails.Campaign.BrandOwner.company_name | titlecase }}</td>
                  <td>
                    <button class="text-info btn-link btn" *ngIf="jobDetails.Campaign.status=='PUBLISHED'">Published</button>
                    <button class="text-info btn-link btn" *ngIf="jobDetails.Campaign.status=='IN_PROGRESS'">In progress</button>
                    <button class="text-info btn-link btn" *ngIf="jobDetails.Campaign.status=='IN_PROGRESS' && jobDetails.status=='CONFIRM'">Proposal Accepted</button>
                    <button class="text-info btn-link btn" *ngIf="jobDetails.Campaign.status=='IN_PROGRESS' && jobDetails.status=='CONTENT_SUBMITTED'">Content Submitted</button>
                    <button class="text-success btn-link btn" *ngIf="jobDetails.Campaign.status=='IN_PROGRESS' && jobDetails.status=='CONTENT_APPROVED'">Content Approved</button>
                    <button class="text-warning btn-link btn" *ngIf="jobDetails.status=='PAID'">Paid</button>
                    <button class="text-warning btn-link btn" *ngIf="jobDetails.status=='CONFIRM'" routerLink ="{{'../message-detail/'+jobDetails.campaign_id+'/'+jobDetails.influencer_id+'/'+jobDetails.Campaign.brand_owner_id}}">Submit Content</button>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="!ongoingJobs.length">
                <tr><td colspan="6">No data found!</td></tr>
              </tbody>
            </table>
            <pagination-controls class="pull-right" (pageChange)="ongoingJobChangePage($event, 'ongoing')" *ngIf="ongoingJobs.length > 1"></pagination-controls>
          </div>
        </div>
        <!--table_row-->
      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle>Past Jobs</ng-template>
      <ng-template ngbTabContent class="px-0">
        <div class="table_row">
          <!--table_row-->
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Campaign</th>
                  <th class="text-left">Brand Owner’s Name</th>
                  <th>CONTENT DUE DATE</th>
                  <th>LAUNCH DATE</th>
                  <th>COMPANY</th>
                  <th>JOB STATUS</th>
                </tr>
              </thead>

              <tbody *ngIf="pastJobs.length">
                  <tr *ngFor="let jobDetails of pastJobs | paginate: pastJobsPaginationConfig; let i=index">
                    <td>{{ jobDetails.Campaign.campaign_name ? jobDetails.Campaign.campaign_name : 'NA' }}</td>
                    <td class="text-left"><a routerLink="/job-details"><strong>{{ (jobDetails.Campaign.BrandOwner.fname + ' ' + jobDetails.Campaign.BrandOwner.lname)  | titlecase }}</strong></a></td>
                    <td>{{ jobDetails.expiry_date ? (jobDetails.expiry_date | dateTimeFormat: jobDetails.expiry_date: 'date-month-year') : 'NA' }}</td>
                    <td>{{ jobDetails.expiry_date ? (jobDetails.expiry_date | dateTimeFormat: jobDetails.expiry_date: 'date-month-year') : 'NA' }}</td>
                    <td>{{ jobDetails.Campaign.BrandOwner.company_name | titlecase }}</td>
                    <td>
                      <a class="text-success btn-link btn">
                        <i _ngcontent-c5="" _ngcontent-c6="" aria-hidden="true" class="fa fa-check"></i> Paid 
                      </a>
                    </td>
                  </tr>
              </tbody>
              <tbody *ngIf="!pastJobs.length">
                <tr><td colspan="6">No data found!</td></tr>
              </tbody>
            </table>
            <pagination-controls (pageChange)="ongoingJobChangePage($event, 'ongoing')" *ngIf="pastJobs.length > 1"></pagination-controls>
          </div>
        </div>
        <!--table_row-->
      </ng-template>
    </ngb-tab>
  </ngb-tabset>


</section>
<!--job_holder-->