<section class="pricing_holder">
  <div class="container">
    <div class="row">
      <div class="col-12" [innerHtml]="cmaLang.description">
        <!--pricing_area-->
      </div>
    </div>
  </div>
  <div id="page-loading" *ngIf ="loading">
    <div class="loading"></div>
    <div class="content">
      <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
  </div>
</div>
</section>