@import "../brand-owner";

.help_accorian{
    .accordionWrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .accordionItem{
            width: 48%;
        }
    }
}