<section class="help_holder"><!--help_holder-->
  <div class="title"><!--title-->
    <h2>Popular Topics</h2>
    <div class="title_right">
      <button type="button" class="btn btn-primary" data-toggle="modal" (click)="changeTalkToUsModal(talkToUs)">
        talk to us
      </button>
      <a>visit the help community</a>
    </div>
  </div><!--title-->

  <div class="search_area">
    <div class="col-auto">
      <label>Search By</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fa fa-search"></i></div>
        </div>
        <input type="text" class="form-control" placeholder="Topic" [(ngModel)]="searchText">
      </div>
    </div>
  </div>

  <div class="help_accorian">
    <div class="row">
      <div class="col-md-12">
        <accordion [isAnimated]="true" class="accordionWrapper">
          <div *ngFor="let dataI of allQuestionAnswer" class="accordionItem">
            <accordion-group *ngFor="let data of dataI.question_answer | search:'question':searchText;">
                <span accordion-heading>
                  <span class="headingQ">Q</span> {{ data.question | titlecase }}
                </span>  
                <div class="accordionItemContent"> 
                  <span class="headingA">A</span>
                  <p [innerHtml]="data.answer | titlecase"></p>
                </div>
            </accordion-group>
          </div>
        </accordion>
      </div>
    </div>
  </div>
</section>
<!--help_holder-->

<!-- Change Password Modal -->
<ng-template class="modal" #talkToUs>
    <form [formGroup]="talkToUsForm" #talkToUsInfo="ngForm" (ngSubmit)="saveTalkToUsAction(talkToUsForm.value)">
        <!-- Modal body -->
        <div class="modal-body">
            <div class="form-group">
              <input type="hidden" formControlName="type" />
              <input type="text" class="form-control" placeholder="Enter Name*" formControlName="name" 
              [ngClass]="{ 'is-invalid': submittedTalkToUsInfoForm && fTalkToUsInfo.name.errors }">
              <div *ngIf="submittedTalkToUsInfoForm && fTalkToUsInfo.name.errors" class="invalid-feedback">
                  <div *ngIf="fTalkToUsInfo.name.errors.required">Name is required</div>
              </div>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Enter Email Address*" formControlName="email"
              [ngClass]="{ 'is-invalid': submittedTalkToUsInfoForm && fTalkToUsInfo.email.errors }">
              <div *ngIf="submittedTalkToUsInfoForm && fTalkToUsInfo.email.errors" class="invalid-feedback">
                  <div *ngIf="fTalkToUsInfo.email.errors.required">Email is required</div>
                  <div *ngIf="talkToUsForm.controls['email'].errors.pattern" >Email must be a valid email address</div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Enter Subject*" formControlName="subject" 
              [ngClass]="{ 'is-invalid': submittedTalkToUsInfoForm && fTalkToUsInfo.subject.errors }">
              <div *ngIf="submittedTalkToUsInfoForm && fTalkToUsInfo.subject.errors" class="invalid-feedback">
                  <div *ngIf="fTalkToUsInfo.subject.errors.required">Subject is required</div>
              </div>
            </div>
            <div class="form-group">
              <textarea cols="5" class="form-control" placeholder="Enter Message" formControlName="message" 
              [ngClass]="{ 'is-invalid': submittedTalkToUsInfoForm && fTalkToUsInfo.message.errors }"></textarea>
              <div *ngIf="submittedTalkToUsInfoForm && fTalkToUsInfo.message.errors" class="invalid-feedback">
                <div *ngIf="fTalkToUsInfo.message.errors.required">Message is required</div>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" data-dismiss="modal">
            Submit
          </button>
          <button type="button" class="btn btn-danger" (click)="modalRef.hide()">Close</button>
        </div>
    </form>
  </ng-template>
  
