
.modal-xlg{
    max-width: 90% !important;
}



.pricing_holder{
    margin-top: 75px;
    padding-bottom: 150px;
    background: #eee;
    text-align: center;
    background: url(/assets/front_end/images/priceing-bg.jpg) #eee no-repeat center 0;
    background-size: 100%;
   .title{
       margin: 0 0 85px;
       padding: 45px 0; 
       h2{
            color: #3c3c3c;
            font-size: 80px;
            font-style: italic;
            font-weight: 700;
            font-family: 'Arsenal', sans-serif;
           margin: 0;
       }
       span{
           display: block;
            font-size: 25px;
            color: #3c3c3c;
            font-weight: 400;
            font-family: 'Open Sans', sans-serif;
       }
   }
   .pricing_area{
       padding: 0;
       margin: 0;
       display: flex;
       li{ 
           list-style: none;
           width: 30%;
           background: #fff;
           text-align: center;
           padding: 30px 15px;
           flex-direction: column;
           justify-content: space-between;
           display: flex;
           .heading{
               margin: 0 0 20px;
               h3{
                   font-size: 20px;
                   color: #333;
                   font-weight: 600;
                    margin: 0 0 15px;
               }
               span{
                   display: block;
                   color: #ccc;
                   font-size: 16px;
               }
           }
           .hegilated{
               display: flex;
               justify-content: center;
               margin: 0 0 20px;
               .box{
                   padding: 15px;
                   background: #dbecfe;
                   strong{
                       color: #333;
                       font-size: 32px;
                   }
                   span{
                       display: block;
                       text-transform: uppercase;
                       font-size: 12px;
                   }
               }
               .box:first-child{
                   background: #ecf4ff;
               }
           }
           .text_sec{
               p{
                   font-size: 12px;
                   font-weight: 400;
                    margin: 0 0 30px;
               }
               strong{
                   display: block;
                   color: #3087e8;
                   font-style: italic;
                   font-size: 16px;
                   margin: 0 0 13px;
               }
           }
           .btn_area{
               a{
                   display: inline-block;
                   line-height: 45px;
                   border: 1px solid #d8d8d8;
                   border-radius: 30px;
                   padding: 0 20px;
                   letter-spacing: 3px;
                   font-weight: bold;
                   text-transform: uppercase;
                   cursor: pointer;
               }
           }
       }
       li:nth-child(2){
           margin-top: -45px;
           margin-bottom: -45px;
           background: #2f86e7;
           border-radius: 5px;
           .heading{
               h3{
                   color: #fff;
               }
               span{
                   color: #fff;
               }
           }
           .hegilated{
               .box{
                background: transparent;
                border: 1px solid #fff;
                border-radius: 4px;
                strong,
                span{
                    color: #fff;
                }
               }
           }
           .text_sec{
               p{
                   color: #fff;
               }
           }
           .btn_area{
               a{
                   background: #ed8c25;
                   border-color: #ed8c25;
                   color: #fff;
               }
           }
       }
   }
}


/*------------responsive-----------------*/

@media screen and (max-width:1199px){
    .pricing_holder .title h2{ font-size: 60px;}
    .pricing_holder .title span{ font-size: 22px;}
}

@media screen and (max-width:991px){
    .pricing_holder .title h2{ font-size: 50px;}
    .pricing_holder .title span{ font-size: 20px;}
}

@media screen and (max-width:767px){
    .container{ max-width: 100%;}
    .pricing_holder .title h2{ font-size: 40px;}
    .pricing_holder .title span{ font-size: 17px;}
    .pricing_holder .pricing_area li{ width: 33.333%;}
}

@media screen and (max-width: 479px){
    .pricing_holder .title h2{ font-size: 30px;}
    .pricing_holder .title span{ font-size: 17px;}
    .pricing_holder .pricing_area{ flex-direction: column;}
    .pricing_holder .pricing_area li{ width: 100%; margin: 0 0 25px;}
    .pricing_holder .pricing_area li:nth-child(2){ margin: 0 0 25px;}
    .pricing_holder .title{ margin: 0;}
}





/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import './assets/styles/variables';
@import "../node_modules/compass-mixins/lib/compass";
@import "../node_modules/compass-mixins/lib/animate";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/mdi/scss/materialdesignicons";
@import "../node_modules/font-awesome/scss/font-awesome";
@import "./assets/styles/fonts";
@import "./assets/styles/functions";
@import "./assets/styles/mixins/background";
@import "./assets/styles/mixins/animation";
@import "./assets/styles/mixins/badges";
@import "./assets/styles/mixins/breadcrumbs";
@import "./assets/styles/mixins/pagination";
@import "./assets/styles/mixins/buttons";
@import "./assets/styles/mixins/misc";
@import "./assets/styles/mixins/color-functions";
@import "./assets/styles/mixins/cards";
@import "./assets/styles/mixins/tooltips";
@import "./assets/styles/mixins/popovers";
@import "./assets/styles/mixins/blockqoute";
@import "./assets/styles/accordions";
@import "./assets/styles/breadcrumbs";
@import "./assets/styles/forms";
@import "./assets/styles/icons";
@import "./assets/styles/tables";
@import "./assets/styles/buttons";
@import "./assets/styles/badges";
@import "./assets/styles/cards";
@import "./assets/styles/typography";
@import "./assets/styles/preview";
@import "./assets/styles/lists";
@import "./assets/styles/bootstrap-progress";
@import "./assets/styles/bootstrap-alerts";
@import "./assets/styles/tabs";
@import "./assets/styles/dropdowns";
@import "./assets/styles/pagination";
@import "./assets/styles/popovers";
@import "./assets/styles/modals";
@import "./assets/styles/nav";
@import "./assets/styles/reset";
@import "./assets/styles/rating";
@import "./assets/styles/layouts";
@import "./assets/styles/tooltips";
@import "./assets/styles/responsive";
@import "./assets/styles/misc";
@import "./assets/styles/utilities";
@import "./assets/styles/demo";

@import './assets/front_end/styles/variables';
@import './assets/front_end/styles/owl';
@import "./assets/influencers/styles/help";
/* You can add global styles to this file, and also import other style files */

.contact_holder{
    margin-top: 75px;
    padding: 80px 0;
    font-size: 15px;
    color: #3c3c3c;
    h2{
        font-size: 48px;
    }
    ._ctbox{
        border-radius: 10px;
        box-shadow: 0 .1rem 0.5rem rgba(0,0,0,.15)!important;
        ._ctChild{
            padding: 0 ;
            flex: 1;
            padding: 30px;
        }
    }
    ._ctmap{
        margin-bottom: 100px;
        i.fa-map-marker{
            font-size: 52px;
        }
    }
}


