@media (max-width: 991px) {
  .navbar {
    .navbar-brand-wrapper {
      .brand-logo {
        display: none;
      }
      .brand-logo-mini {
        display: inline-block;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;

    &.row-offcanvas-right {
      right: 0;

      /deep/ .sidebar-offcanvas {
        right: -100%; // 12 columns
      }

      &.active {
        right: calc(50% + 30px); // 6 columns

        /deep/ .sidebar-offcanvas {
          right: calc(-50% - 15px); // 6 columns
        }
      }
    }

    &.row-offcanvas-left {
      left: 0;

      /deep/ .sidebar-offcanvas {
        left: -100%; // 12 columns
      }

      &.active {
        left: 50%; // 6 columns

        /deep/ .sidebar-offcanvas {
          left: -50%; // 6 columns
        }
      }
    }

    /deep/ .sidebar-offcanvas {
      position: absolute;
      top: 0;
      width: calc( 50% + 30px); // 6 columns
    }
  }
}



/*-------------responsive-------------------*/

@media screen and (max-width:1366px){

.menagement_dtls .progressList li{ padding-right: 20px !important;}



}

@media screen and (max-width:1199px){

.menagement_dtls h5{ font-size: 1rem !important; }
.menagement_dtls .progressList li div.box p{ font-size: 12px !important;}
.menagement_dtls .progressList li div.box{ margin-left: 8px !important}
.menagement_dtls .progressList li{ padding-right: 8px !important; }

.dashboard_holder .dashboard_top .col-md-4{ max-width: 100% !important; flex:0 0 100%; margin: 0 0 10px; }
.dashboard_holder .dashboard_row .title{ flex-wrap: wrap;}
.dashboard_holder .dashboard_row .title h3{ margin: 0 0 20px !important; }
.dashboard_holder .dashboard_row .title ul{ justify-content: space-between; width: 100%;}
.dashboard_holder .dashboard_row .title ul li{ width: 32%; }

.dashboard_holder .deahboard_top ul{ flex-direction: column; }
.dashboard_holder .deahboard_top ul li{ width: 100% !important; margin: 0 0 10px; }

.campManage_holder .camManage_step ul li strong{ font-size: 11px !important;}
.campManage_holder .camManage_step ul li:first-child,
.campManage_holder .camManage_step ul li:last-child{ padding-left: 30px !important;}
.campManage_holder .camManage_step ul li:first-child:before{ left: -32px !important;}

.campManage_holder .camp_step2 ul li input[type=checkbox][_ngcontent-lwq-c4]:not(old) + label, 
.campManage_holder .camp_step2 ul li input[type=radio]:not(old) + label{ padding: 30px 15px !important;}
.campManage_holder .camp_step2 ul li input[type=checkbox]:not(old) + label p, 
.campManage_holder .camp_step2 ul li input[type=radio]:not(old) + label p{ font-size: 13px !important;}
.campManage_holder .camp_step2 .check_text{ padding-top: 15px !important;}


}

@media screen and (max-width:991px){

.adminBrand_holder #page-wrapper{ padding: 40px 15px !important;}
.menagement_dtls .tabList li.bg-white{ flex-direction: column;}
.menagement_dtls .tabList li.bg-white:after{ top: 0; }
.dashboard_holder .dashboard_row .title h3{ font-size: 20px !important;}

.navbar .navbar-header a.btn{ display: block !important; margin: 4px 20px 0 0;}
.navbar .navbar-header a.btn i{ margin-right: 0; color: #fff; }
.is-open .navbar-default{ z-index: 2 !important;}
.navbar-default{ z-index: 0 !important; /*height: 100%;*/ }

.campManage_holder .camManage_step ul{ justify-content: space-around;}
.campManage_holder .camManage_step ul li{ width: 24%;}
.campManage_holder .camManage_step ul li:first-child:before,
.campManage_holder .camManage_step ul li:last-child:before
{ width: 40px !important; height: 40px !important; top: 3px !important; left: -15px !important; background-size: cover !important;}
.campManage_holder .camManage_step ul li:last-child:before{ left: inherit !important; right: -15px !important;}



}

@media screen and (max-width:767px){

.menagement_dtls .row.p-4{ flex-direction: column; }
.menagement_dtls .row.p-4 .col-7,
.menagement_dtls .row.p-4 .col-5{ max-width: 100% !important; border-right: 0 !important; }
.menagement_dtls .progressList li{ padding-right: 1px !important; }
.menagement_dtls .progressList li div.box{ margin-left: 0px !important; }

#page-wrapper{ background: #eee;}

.campManage_holder{ padding-top: 30px;}
.campManage_holder .camManage_step ul{ flex-wrap: wrap;}
.campManage_holder .camManage_step ul li{ width: 46% !important; margin-bottom: 10px;}
.campManage_holder .camp_step1{ padding: 30px 15px !important;}
.campManage_holder .title h2,
.campManage_holder .camp_step4 h3, 
.campManage_holder .camp_step5 h3{ font-size: 25px !important;}

.campManage_holder .camp_step2 ul{ flex-wrap: wrap;}
.campManage_holder .camp_step2 ul li{ width: 100% !important; margin-bottom: 15px;}
.campManage_holder .camp_step2 ul li input[type=checkbox]:not(old) + label, 
.campManage_holder .camp_step2 ul li input[type=radio]:not(old) + label{ min-height: auto !important;}
.camp_step2 ul li .form-radio p{ min-height: auto !important;}
.campManage_holder .camp_step4, 
.campManage_holder .camp_step5{ padding: 30px 15px !important;}
.sitemap_holder .title h2{ font-size: 40px !important;}
.sitemap_holder .sitemap_area{ flex-direction: column;}
.sitemap_holder .sitemap_box{ margin-bottom: 15px !important;}
.sitemap_holder .sitemap_area .sitemap_box h3{ font-size: 20px !important;}
.sitemap_holder .sitemap_area .sitemap_box li a{ font-size: 16px !important;}

.contact_holder .w-70{ width: 100%; padding: 0 15px;}
.contact_holder h2{ font-size: 40px !important;}
.contact_holder p{ font-size: 18px !important; line-height: normal;}
.contact_holder ._ctbox{ flex-direction: column;}
.contact_holder ._ctbox .border-right{ border-bottom: 1px solid #dee2e6!important; border-right: 0 !important;}
.contact_holder ._ctmap .d-flex.border.border-medium{ flex-wrap: wrap;}
.contact_holder ._ctmap .d-flex.border.border-medium img{ width: 100%;}
.contact_holder ._ctmap .d-flex.border.border-medium .d-flex.align-items-center{ width: 100%;}
.contact_holder p{ font-size: 15px !important;}
.brandInfoTable{ overflow: auto;}
.profile_holder .profile_box .company_info .company_info_right .companyBoxeswithout .addForm{ top: 0 !important;}
.dashboard_top_widget .chartjs-render-monitor{ height: 100px;}


}

@media screen and (max-width:575px){

.messagePan .d-flex{ flex-direction: column; }
.messagePan .d-flex .leftSec{ max-width: 100% !important; padding: 0 !important; }
.menagement_dtls .tabList li.bg-white{ flex-direction: row; }
.menagement_dtls .tabList li.bg-white:after{ display: none; }
.invitation_holder .title h2{ font-size: 25px !important;}

.campManage_holder .camp_step1 .form-group,
.campManage_holder .camp_step1 .form-group:first-child{ width: 100% !important;}


}

@media screen and (max-width:479px){

  .menagement_dtls{ padding-top: 30px; }
.jobHeading .topSec{ flex-direction: column; padding-bottom: 20px; }
.jobHeading .btmSec{ flex-direction: column; }
.menagement_dtls .row.p-4 .border-right .d-flex{ flex-direction: column; }
.menagement_dtls .row.p-4 .border-right .d-flex .pl-4{ padding: 0 !important; }
.menagement_dtls .row.p-4 .border-right .d-flex .border-right{ border: 0 !important; }
.menagement_dtls .rightSec .msgList .rightBox{ width: 100%; margin: 10px 0 0 !important; }
.messagePan .progressList{ flex-direction: column;}
.messagePan .progressList li .box{ width: 100%; margin: 0 !important; }
.menagement_dtls .progressList li.active i.fa{ display: none;}
.menagement_dtls .progressList li.btm{ margin-top: 0 !important; border: 0 !important;}
.menagement_dtls .progressList li.active{ max-width: 100% !important;}
.menagement_dtls .progressList li.active div.box{ width: 100% !important;}
.menagement_dtls .progressList li{ height: auto !important; border: 0 !important; margin: 0 0 10px; }
.menagement_dtls .progressList li.top,
.menagement_dtls .progressList li.btm{ padding: 0 !important;}

.dashboard_holder .dashboard_row .title ul{ flex-direction: column;}
.dashboard_holder .dashboard_row .title ul li{ width: 100%; margin: 0 !important; }
.dashboard_holder .dashboard_top .dashboard_top_widget h3{font-size: 17px !important;}
.dashboard_holder .dashboard_top .dashboard_top_widget strong{font-size: 30px !important;}
.dashboard_holder{ padding-top: 30px; }

.dashboard_holder .date_filter .flatPickDate{ width: 100%;}

.profile_holder .profile_box .company_info .company_info_right .companyBoxes{ padding: 30px 15px !important;}
.profile_holder .profile_box .company_info .company_info_right .companyBoxes .profileInfoBox,
.profileInfoBox form{ flex-direction: column;}
.profile_holder .profile_box .company_info .company_info_right .companyBoxes .profileInfoBox .profilePicWrap{ margin: 0 auto;}
.profile_holder .profile_box .company_info .company_info_right .companyBoxes h3{ font-size: 22px}

.navbar-default{ width: 100% !important; left: 0; height: 100% !important; position: fixed !important;}

.campManage_holder .camManage_step ul li{ width: 100% !important;} 
.campManage_holder .camManage_step ul li strong{ font-size: 13px !important;}
.campManage_holder .camp_step2 h3{ line-height: normal !important;}
.campManage_holder .camp_step1 .form-group.col-6{ flex: 0 0 100% !important; max-width: 100% !important; padding:0 !important}
.campManage_holder .camp_step3 .form-group.w-50:nth-child(even){ border-right: 0 !important;}

.camp_step5 ul{ flex-wrap: wrap; flex-direction: column;}

.navbar-collapse{ position: fixed !important; top: 76px !important; left: 0 !important; width: 100% !important; height: 100% !important;}
.campaign_list .nav-tabs .nav-item .nav-link{ padding:13px 14px !important;}
.campManage_holder .camManage_step ul li:first-child{ padding-left: 42px !important;}
.campManage_holder .camManage_step ul li:first-child:before{ left: 0px !important;}
.campManage_holder .camManage_step ul li:last-child:before{ right: 3px !important;}

.sitemap_holder .title h2{ font-size: 30px !important;}
.sitemap_holder .sitemap_area .sitemap_box h3{ font-size: 18px !important;}
.sitemap_holder .sitemap_area .sitemap_box li a{ font-size: 15px !important;}

.comparePage{ padding-top: 30px;}
.comparePage .compare_items{ flex-wrap: wrap;}
.compare_items .item_row:first-child{ display: none; }
.comparePage .compare_items .item_row.item-border{ width: 100% !important; margin-bottom: 20px;}
.comparePage .compare_items .item_row.item-border .row_list li{ align-items: center;}
.btn-download{ width: 100%; margin: 0 0 5px;}

.contact_holder h2{ font-size: 35px !important;}
.contact_holder p{ font-size: 15px !important;}
.contact_holder ._ctmap .d-flex{ align-items: center;}
.contact_holder ._ctmap .d-flex.border.border-medium .d-flex.align-items-center{ padding: 30px 15px !important;}
.contact_holder{ padding: 40px 0 !important;}
.contact_holder ._ctmap{ margin-bottom: 0 !important;}
.testimonial_holder .title h2{ font-size: 50px !important;}
.testimonial_holder .title{ padding: 40px 0;}

.infl_brand .owl-carousel{ padding: 0 20px;}
.infl_brand .owl-theme .owl-nav{ left: 0;}
.infl_brand .owl-carousel .owl-nav button.owl-prev{ margin-left: -10px;}
.infl_brand .owl-carousel .owl-nav button.owl-next{ margin-right: -10px;}
.profile_holder{ padding-top: 30px;}
.detailsBoxBig .righttxts .btnHolder{ margin-top: 20px;}
.detailsBoxBig .righttxts .btnHolder .btnSave{ font-size: 22px !important;}
.customModal form .modal-footer{ flex-wrap: wrap; padding: 15px 0 !important; }
.customModal form .modal-footer button{ width: 100% !important;}
.customModal form .modal-footer>:not(:first-child){ margin: 5px 0 0 !important;}

}





