<section class="dashboard_holder">
    <div class="dashboard_top">
        <!--dashboard_top-->
        <div class="row">
            <div class="col-md-4">
                <div class="dashboard_top_widget">
                    <small>{{date | date:'MMM yyyy'}}</small>
                    <h3>No of <br>Influencers Assigned</h3>
                    <strong>{{totalInfluncer.length}}</strong>
                </div>
            </div>
            <!-- <div class="col-md-4">
                <div class="dashboard_top_widget">
                    <small>Apr 2019</small>
                    <h3>Total <br>Created Campaigns <span>2.8K</span></h3>
                </div>
            </div> -->
            <div class="col-md-4">
                <div class="dashboard_top_widget">
                    <small>{{date | date:'MMM yyyy'}}</small>
                    <canvas baseChart height="30" width="100" [data]="pieChartData" [colors]="pieChartDataColors"
                        [labels]="pieChartLabels" [chartType]="pieChartType" [options]="pieChartOptions"
                        [plugins]="pieChartPlugins" [legend]="pieChartLegend">
                    </canvas>
                </div>
            </div>
            <div class="col-md-4">
                <div class="dashboard_top_widget">
                    <small>{{date | date:'MMM yyyy'}}</small>
                    <canvas #doughnutCanvas baseChart height="30" width="100" [data]="doughnutChartData"
                        [colors]="doughnutDataColors" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
                        [options]="doughnutChartOptions" [plugins]="doughnutChartPlugins"
                        [legend]="doughnutChartLegend">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <!--dashboard_top-->

    <div class="dashboard_row">
        <!--dashboard_row-->

        <div class="title">
            <!--title-->
            <h3>On-Going Campaigns</h3>
            <ul>
                <li>
                    <div class="col-auto">
                        <label class="sr-only" for="inlineFormInputGroup">Campaign Name</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></div>
                            </div>
                            <input type="text" class="form-control" id="inlineFormInputGroup"
                                placeholder="Campaign Name" [(ngModel)]="searchTextOnGoingCampaign">
                        </div>
                    </div>
                </li>
                <li>
                    <select class="form-control" [(ngModel)]="filterPlatformOnGoingCampaign" (change)="updateOnGoingCampaign()">
                        <option value="">All Platforms</option>
                        <option value="{{ allPlatforms.length ? allPlatform.id : '' }}" *ngFor="let allPlatform of allPlatforms">{{ allPlatforms.length ? (allPlatform.name | titlecase) : '' }}</option>
                    </select>
                </li>
                <li>
                        <input type="text" class="form-control calendarIcon flatPickDate" placeholder="Post Date"
                        mwlFlatpickr [disableMobile]= "'true'" [(ngModel)]="onGoingCampaignDate"
                         [dateFormat]="'M Y'" [allowInput]="false" [mode]="'single'" (ngModelChange)="updateOnGoingCampaign()">
                </li>
            </ul>
        </div>
        <!--title-->

        <div class="table_row">
            <div class="table-responsive">
                <!--table-responsive-->
                <table class="table">
                    <thead>
                        <tr>
                            <th>CAMPAIGN NAME</th>
                            <th>Influencer Name</th>
                            <th>Platform</th>
                            <th>Post date</th>
                            <th>Completion Date</th>
                            <th>progress</th>
                            <th>Budget</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody *ngIf = "campaigns.length">
                        <tr class="clickable" *ngFor = "let campaign of campaigns| search : 'campaign_name':searchTextOnGoingCampaign">
                            <td routerLink="campaign-management-details/{{ campaign.id }}"><strong>{{ campaign.campaign_name }}</strong></td>
                            <td>
                                <a *ngFor="let campaignAssign of campaign.CampaignAssigns">
                                    <figure *ngIf="campaignAssign.Influencer" (click)="influncerDetailModal(influencerDetailsModal, campaignAssign.influencer_id)">
                                        <img *ngIf = "(allPaths | json) != '{}' && campaignAssign.Influencer.picture" src = "{{allPaths.influencerImagePath+campaignAssign.Influencer.picture}}" alt="{{ (campaignAssign.Influencer.first_name)?campaignAssign.Influencer.first_name:'NA'}}" title="" />
                                        <img *ngIf = "!((allPaths | json) != '{}' && campaignAssign.Influencer.picture)" src = "assets/influencers/images/no-user.jpg" alt="{{ (campaignAssign.Influencer.first_name)?campaignAssign.Influencer.first_name:'NA'}}" title="" />
                                        <span>{{ (campaignAssign.Influencer)?campaignAssign.Influencer.first_name:'NA'}}</span>
                                    </figure>
                                </a>
                            </td>
                            <td *ngIf="campaign.CampaignPlatformMaps">
                                <a class="social-icon" *ngFor="let platformAssign of campaign.CampaignPlatformMaps"><i class="{{platformAssign.Platform?'fa fa-'+platformAssign.Platform.class_name:''}}" aria-hidden="true"></i></a>
                            </td>
                            <td *ngIf="!campaign.CampaignPlatformMaps">NA</td>
                            <td>{{ campaign.post_date | date :  "dd MMM , y" }}</td>
                            <td>{{ campaign.tentative_launch_date | date :  "dd MMM , y" }}</td>
                            <td>{{campaignProgress[campaign.status]}} %</td>
                            <td>{{campaign.total_amount_invested ? '$' + campaign.total_amount_invested : 'NA'}}</td>
                            <td>
                                <a class="more" *ngIf = "campaign.status !='DRAFT'" routerLink="campaign-management-details/{{ campaign.id }}">{{campaign.status?campaign.status:'NA'}} <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                <a class="more" routerLink="campaign-management/4/{{ campaign.id }}" *ngIf = "campaign.status =='DRAFT'">DRAFT <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf = "!campaigns.length">
                        <tr>
                            <td colspan = "8">No data available</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--table-responsive-->
        </div>

    </div>
    <!--dashboard_row-->

    <div class="dashboard_row">
        <!--dashboard_row-->

        <div class="title">
            <!--title-->
            <h3>Published Campaigns</h3>
            <ul>
                <li>
                    <div class="col-auto">
                        <label class="sr-only" for="inlineFormInputGroup">Campaign Name</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></div>
                            </div>
                            <input type="text" class="form-control" id="inlineFormInputGroup"
                                placeholder="Campaign Name" [(ngModel)]="PastCampaignNameSearch">
                        </div>
                    </div>
                </li>
                <li>
                    <select class="form-control" [(ngModel)]="filterPlatformPublishedCampaign" (change)="updateOnGoingCampaign()">
                        <option value="">All Platforms</option>
                        <option value="{{ allPlatforms.length ? allPlatform.id : '' }}" *ngFor="let allPlatform of allPlatforms">{{ allPlatforms.length ? (allPlatform.name | titlecase) : '' }}</option>
                    </select>
                </li>
                <li>
                        <input type="text" class="form-control calendarIcon flatPickDate" value="" placeholder="Post Date"
                        mwlFlatpickr [disableMobile]= "'true'" [(ngModel)]="pastCampaignDate"
                         [dateFormat]="'M Y'" [allowInput]="false" [mode]="'single'" (ngModelChange)="updatePublishedCampaign()">
                </li>
            </ul>
        </div>
        <!--title-->

        <div class="table_row">
            <div class="table-responsive">
                <!--table-responsive-->
                <table class="table">
                    <thead>
                        <tr>
                            <th>CAMPAIGN NAME</th>
                            <th>Influencer Name</th>
                            <th>Platform</th>
                            <th>Post date</th>
                            <th>Completion Date</th>
                            <th>progress</th>
                            <th>Budget</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody *ngIf = "pastCampaigns.length">
                        <tr class="clickable" *ngFor="let pastCampaign of pastCampaigns| search : 'campaign_name':PastCampaignNameSearch">
                            <td><strong>{{ pastCampaign.campaign_name }}</strong></td>
                            <td>
                                <a *ngFor="let campaignAssign of pastCampaign.CampaignAssigns">
                                    <figure *ngIf="campaignAssign.Influencer" (click)="influncerDetailModal(influencerDetailsModal, campaignAssign.influencer_id)">
                                        <img *ngIf = "(allPaths | json) != '{}' && campaignAssign.Influencer.picture" src = "{{allPaths.influencerImagePath+campaignAssign.Influencer.picture}}" alt="{{ (campaignAssign.Influencer.first_name)?campaignAssign.Influencer.first_name:'NA'}}" title="" />
                                        <img *ngIf = "!((allPaths | json) != '{}' && campaignAssign.Influencer.picture)" src = "assets/influencers/images/no-user.jpg" alt="{{ (campaignAssign.Influencer.first_name)?campaignAssign.Influencer.first_name:'NA'}}" title="" />
                                        <span>{{ (campaignAssign.Influencer)?campaignAssign.Influencer.first_name:'NA'}}</span>
                                    </figure>
                                </a>
                            </td>
                            <!-- <td *ngIf="pastCampaign.CampaignPlatformMaps">
                                <a class="social-icon" *ngFor="let platformAssign of pastCampaign.CampaignPlatformMaps"><i class="fa fa-{{allPlatforms[platformAssign.platform_id]?allPlatforms[platformAssign.platform_id].class_name:''}}" aria-hidden="true"></i></a>
                            </td> -->
                            <td *ngIf="pastCampaign.CampaignPlatformMaps">
                                <a class="social-icon" *ngFor="let platformAssign of pastCampaign.CampaignPlatformMaps"><i class="{{platformAssign.Platform?'fa fa-'+platformAssign.Platform.class_name:''}}" aria-hidden="true"></i></a>
                            </td>
                            <td *ngIf="!pastCampaign.CampaignPlatformMaps">NA</td>
                            <td>{{ pastCampaign.post_date | date :  "dd MMM , y" }}</td>
                            <td>{{ pastCampaign.tentative_launch_date | date :  "dd MMM , y" }}</td>
                            <td>{{campaignProgress[pastCampaign.status]}} %</td>
                            <td>{{pastCampaign.total_amount_invested ? '$' + pastCampaign.total_amount_invested : 'NA'}}</td>
                            <td>
                                <a class="more"><i class="fa fa-check" aria-hidden="true"></i> Published</a>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf = "!pastCampaigns.length">
                        <tr>
                            <td colspan = "8">No data available</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--table-responsive-->
        </div>

    </div>
    <!--dashboard_row-->
    <!----------------------------------Influncer Detail Modal------------------->
  <ng-template class="modal fade faq_popup" #influencerDetailsModal>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    <div class="modal-body">
      <div  tabindex="-1" role="dialog" aria-labelledby="influencerDetailsModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered m-0" role="document" style="max-width: 100%;">
          <div class="modal-content" style="border: 0;">
              <div class="detailsBoxBig">
                  <div class="leftImg">
                      <img *ngIf = "influencerImagePath && influncerDetail.picture" src="{{ influencerImagePath+influncerDetail.picture }}" alt="">
                      <img *ngIf = "!influencerImagePath || !influncerDetail.picture" src="assets/influencers/images/no-user.jpg" alt="">
                    <div class="favourite"></div>
                  </div>
                  <div class="righttxts clearfix">
                    
                    <div class="textHeading">
                      <h2>{{influncerDetail.first_name || influncerDetail.last_name?influncerDetail.first_name+' '+influncerDetail.last_name:''}}</h2>
                      <h3 *ngIf = "influncerDetail.influencerPlatformMaps && influncerDetail.influencerPlatformMaps.length">{{getTotalFollowers(influncerDetail.influencerPlatformMaps)}} <span>followers</span></h3>
                      <h4>{{influncerDetail.country?influncerDetail.country+',':''}}{{influncerDetail.nationality?influncerDetail.nationality+',':''}}<span>Blogger</span></h4>
                    </div>
                    <div class="shortDesc">
                      <label>Short About Me</label>
                      <p>{{influncerDetail.description?influncerDetail.description:''}}</p>
                    </div>
                    <div class="socialMediatabs">
                        <ul class="nav nav-tabs" id="myTab" role="tablist" *ngIf = "influncerDetail.influencerPlatformMaps">
  
                            <li class="nav-item" *ngFor ="let platform of influncerDetail.influencerPlatformMaps">
                              <a class="nav-link active" id="facebook-tab" data-toggle="tab" href="#facebook" role="tab" aria-controls="facebook" aria-selected="true">
                                <span class="icon {{platform.Platform.name | lowercase}}Tab"></span>
                                <span class="name">{{platform.Platform.name}}</span>
                              </a>
                            </li>
                          </ul>
                          <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="facebook" role="tabpanel" aria-labelledby="home-tab">
                              <div class="row">
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <label>Likes Per Post</label>
                                    <p>3K</p>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <label>Comments Per Post</label>
                                    <p>4K</p>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <label>Impressions Per Post</label>
                                    <p>1.5K</p>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <label>Engagement Ratio</label>
                                    <p>1:1</p>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <label>Past Jobs Completed</label>
                                    <p>456</p>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <label>Followers Gender Distribution</label>
                                    <p>60% Male , 40% Female</p>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <label>Comment sentiment</label>
                                    <p>75%</p>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-10">
                                  <div class="form-group">
                                    <label>Followers Age Distribution</label>
                                    <ul>
                                      <li><span>18 - 25 years :</span>5.6K,</li>
                                      <li><span>25 - 35 years :</span>1.4K,</li>
                                      <li><span>35 years above :</span>0.5K</li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="col-md-10">
                                  <div class="form-group">
                                    <label>Followers Country Distribution</label>
                                    <ul>
                                      <li><span>Iraq :</span>1K,</li>
                                      <li><span>UAE :</span>677,</li>
                                      <li><span>Jordon :</span>122,</li>
                                      <li><span>Qatar :</span>455</li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="tab-pane fade" id="twitter" role="tabpanel" aria-labelledby="twitter-tab">.2</div>
                            <div class="tab-pane fade" id="youtube" role="tabpanel" aria-labelledby="youtube-tab">3.</div>
                            <div class="tab-pane fade" id="insta" role="tabpanel" aria-labelledby="insta-tab">4.</div>
                            <div class="tab-pane fade" id="snap" role="tabpanel" aria-labelledby="snap-tab">5.</div>
                          </div>
                    </div>
                  </div>
                </div>
                <div class="smallBoxWrap">
                <div class="smallBoxes">
                  <h2>Pricing of Ready – Made Content</h2>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Post type</th>
                          <th>Price</th>
                        </tr>
                      </thead>
                      <!-- <tbody *ngIf = "influncerDetail.influencerPlatformMaps && influncerDetail.influencerPlatformMaps.length">
                        
                        <tr *ngFor ="let platform of influncerDetail.influencerPlatformMaps">
                          <td>{{platform.Platform.name}}</td>
                          <td>${{platform.readymade_content_price}}</td>
                        </tr>
                      </tbody>
                      <tbody *ngIf = "!influncerDetail.influencerPlatformMaps">
                        <tr>
                          <td colspan="2">No data found</td>
                        </tr>
                      </tbody> -->
                    </table>
                  </div>
                </div>
              </div>         
          </div>
        </div>
      </div>
    </div>
  </ng-template>

</section>