<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <a [routerLink]="['../brand-owner']" (click)="hide()"><span class="nav-label">Dashboard</span></a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['./influencer-search']" (click)="hide()"> <span class="nav-label">Search Influencers</span></a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['./influencer-saved']">
                    <span class="nav-label">Saved Influencers</span>
                </a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['./campaign-list']">
                    <span class="nav-label">Campaign Management</span>
                </a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['./campaign']">
                    <span class="nav-label">Campaign Analytics</span>
                </a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['./messages']">
                    <span class="nav-label">Messages</span>
                </a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['./help']">
                    <span class="nav-label">HELP CENTER</span>
                </a>
            </li>
            <li>
                <a routerLink="/brand-owner/logout">
                    <span class="nav-label">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</nav>