@import "../influencers";

.nowrap{
    white-space: nowrap !important;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
}
.platFormList{
    .btn-link {
        &.dropdown-toggle{
            width: 100%;
            background: 0 0;
            border-bottom: 1px solid #ccc;
            text-align: left;
            position: relative;
            color: #3c3c3c;
            outline: 0!important;
            &::after{
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }   
    }
    .dropdown-menu{
        li{
            font-size: 16px;
            input {
                position: absolute;
                left: 0;
                width: 100%;
                height: 28px;
            }
            i {
                font-size: 20px;
                width: 28px;
            }
            label{
                span {
                    width: 18px;
                    height: 18px;
                    border-radius: 0;
                    &::before{
                        line-height: 18px;
                        width: 18px;
                    }
                }
            } 
        } 
    } 
}
.input-group-prepend {
    .input-group-text{
        background: #ffffff;
        color: #c9c8c8;
        width: auto;
        border: none;
        padding-left: 0;
    }
}
.form-group{
    .invalid-feedback{
        display: block;
    }
}