<section class="invitation_holder">
  <!--invitation_holder-->
  <div class="title">
    <h2>Pending Invitations</h2>
    <!-- <select class="custom-select form-control">
      <option selected>Jan</option>
      <option>Feb</option>
      <option>Mar</option>
    </select> -->
  </div>

  <div class="table_row">
    <!--table_row-->
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Brand Owner’s Name</th>
            <th>Expiry Date</th>
            <th>Proposals Due date</th>
            <th>Brand Owner’s Company</th>
            <th align="left">Invitation message</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody *ngIf="pendingInvitations.length">

          <tr *ngFor="let invitation of pendingInvitations">
            <td><a routerLink="{{ '/influencers/invitation-details/' + invitation.id }}"><strong>{{ (invitation.Campaign.BrandOwner.fname + ' ' + invitation.Campaign.BrandOwner.lname)  | titlecase }}</strong></a></td>
            <td>{{ invitation.expiry_date ? (invitation.expiry_date | dateTimeFormat: invitation.expiry_date: 'date-month-year') : 'NA' }}</td>
            <td>{{ invitation.proposal_due_date ? (invitation.proposal_due_date | dateTimeFormat: invitation.proposal_due_date: 'date-month-year') : 'NA' }}</td>
            <td><a>{{ invitation.Campaign.BrandOwner.company_name | titlecase }}</a></td>
            <td align="left">
              <p class="mb-0 nowrap">{{ invitation.message ? (invitation.message | titlecase) : 'NA' }}</p>
            </td>
            <td>
              <button class="btn btn-success" data-toggle="modal" (click)="confirmAcceptModal(confirmAccept, invitation.id, invitation.proposal_due_date, invitation.campaign_id)">
                  <i class="fa fa-check" aria-hidden="true"></i> Accept</button>
              
              <button class="btn btn-danger" (click)="confirmRejectModal(confirmReject, invitation.id)">
                <i class="fa fa-times" aria-hidden="true"></i> Reject</button>
              <!-- <button class="btn btn-primary">
                <i class="fa fa-envelope-o" aria-hidden="true"></i> Send a Message</button> -->
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="!pendingInvitations.length">
          <tr>
            <td colspan="7">No data found</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--table_row-->

  <div class="title">
    <!--title-->
    <h2>Accepted Invitations</h2>
  </div>

  <div class="table_row">
    <!--table_row-->
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Brand Owner’s Name</th>
            <th>Invitation Accept Date &amp; Time</th>
            <th>Proposals Due date</th>
            <th>Brand Owner’s Company</th>
            <th align="left">Invitation message</th>
            <th align="center">Status</th>
            <th align="right">Action</th>
          </tr>
        </thead>
  
        <tbody *ngIf="acceptInvitations.length">
          <tr *ngFor="let invitation of acceptInvitations">
            <td><a routerLink="{{ '/influencers/invitation-details/' + invitation.id }}"><strong>{{ (invitation.Campaign.BrandOwner.fname + ' ' + invitation.Campaign.BrandOwner.lname)  | titlecase }}</strong></a></td>
            <td>{{ invitation.accept_date_time ? (invitation.accept_date_time | dateTimeFormat: invitation.accept_date_time: 'date-month-year-time') : 'NA' }}</td>
            <td>{{ invitation.proposal_due_date ? (invitation.proposal_due_date | dateTimeFormat: invitation.proposal_due_date: 'date-month-year') : 'NA' }}</td>
            <td>{{ invitation.Campaign.BrandOwner.company_name | titlecase }}</td>
            <td align="left">
              <p class="mb-0 nowrap">{{ invitation.message ? (invitation.message | titlecase) : 'NA' }}</p>
            </td>
            <td align="right">
              <!-- <button class="text-info btn-link btn" *ngIf="invitation.status=='ACCEPT'">Pending</button>
              <button class="text-success btn-link btn" *ngIf="invitation.status=='CONFIRM'">Accepted</button> -->
              <span class="text-warning">{{statusList[invitation.status]}}</span>
            </td>
            <td align="right" *ngIf="invitation.status=='ACCEPT'">
              <button class="btn btn-warning" (click)="submitProposalModal(submitProposalModalRef, invitation.id, invitation.campaign_id)">Submit a Proposal</button>  
            </td>
            <td *ngIf="invitation.status =='CONFIRM'"><button class="btn btn-warning" routerLink="{{'/influencers/message-detail/'+invitation.campaign_id+'/'+invitation.influencer_id+'/'+invitation.Campaign.brand_owner_id}}">Submit Content</button></td>
            <td *ngIf="invitation.status !='CONFIRM' && invitation.status !='ACCEPT'">NA</td>
          </tr>
        </tbody>
        <tbody *ngIf="!acceptInvitations.length">
          <tr>
            <td colspan="7">No data found</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--table_row-->

  <div class="title">
    <!--title-->
    <h2>Rejected Invitations</h2>
  </div>

  <div class="table_row">
    <!--table_row-->
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Brand Owner’s Name</th>
            <th>Invitation Rejected Date &amp; Time</th>
            <th align="left">Proposals Due date</th>
            <th>Brand Owner’s Company</th>
            <th>Invitation message</th>
          </tr>
        </thead>
  
        <tbody *ngIf="rejectInvitations.length">
          <tr *ngFor="let invitation of rejectInvitations">
            <td><a routerLink="{{ '/influencers/invitation-details/' + invitation.id }}"><strong>{{ (invitation.Campaign.BrandOwner.fname + ' ' + invitation.Campaign.BrandOwner.lname)  | titlecase }}</strong></a></td>
            <td>{{ invitation.reject_date_time ? (invitation.reject_date_time | dateTimeFormat: invitation.reject_date_time: 'date-month-year-time') : 'NA' }}</td>
            <td>{{ invitation.proposal_due_date ? (invitation.proposal_due_date | dateTimeFormat: invitation.proposal_due_date: 'date-month-year') : 'NA' }}</td>
            <td><a>{{ invitation.Campaign.BrandOwner.company_name | titlecase }}</a></td>
            <td align="left">
              <p class="mb-0 nowrap">{{ invitation.message ? (invitation.message | titlecase) : 'NA' }}</p>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="!rejectInvitations.length">
          <tr>
            <td colspan="5">No data found</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--table_row-->

  <!-- accept Modal -->
  <ng-template class="modal fade faq_popup" #acceptInvitationModal>
    <a class="close" (click)="modalRef.hide()" aria-label="Close">
      <i class="fa fa-times"></i>
    </a>
    <div class="modal-body p-5 text-center">
      <i class="fa fa-check text-white successIcon p-2"></i>
      <h4 class="mb-3 mt-1">Request Accepted</h4>
      <p class="text-capetalize">Please Note your proposal due date - <strong>{{ proposalDueDate ? (proposalDueDate | dateTimeFormat: proposalDueDate: 'date-month-year') : 'NA' }}</strong></p>
      <button class="text-uppercase btn btn-warning pl-5 pr-5" (click)="submitProposalModal(submitProposalModalRef, invitationId, campaignId)">Submit a proposal</button>
    </div>
  </ng-template>

  <!-- submit Modal -->
  <ng-template class="modal fade faq_popup" #submitProposalModalRef>
    <a class="close" (click)="modalRef.hide()" aria-label="Close">
      <i class="fa fa-times"></i>
    </a>
    <div class="modal-body p-5">
      <h4 class="mb-3 mt-1">Submit Your Proposal</h4>
      <form [formGroup]="submitProposalForm" #submitProposalInfo="ngForm" (ngSubmit)="submitProposalAction(submitProposalForm.value)">
        <div class="form-group">
          <input type="hidden" formControlName="invitation_id" />
          <input type="hidden" formControlName="campaign_id" />
          <label class="text-uppercase mb-0 font-weight-600">Subject</label>
          <input type="text" class="form-control pl-0" placeholder="Enter Subject*" formControlName="subject" 
            [ngClass]="{ 'is-invalid': submittedSubmitProposalForm && f.subject.errors }">
          <div *ngIf="submittedSubmitProposalForm && f.subject.errors" class="invalid-feedback">
              <div *ngIf="f.subject.errors.required">Subject is required</div>
          </div>
        </div>
        <div class="form-group">
          <label class="text-uppercase mb-0 font-weight-600">Proposal Brief</label>
          <input type="text" class="form-control pl-0" placeholder="Enter Proposal Brief*" formControlName="brief" 
            [ngClass]="{ 'is-invalid': submittedSubmitProposalForm && f.brief.errors }">
          <div *ngIf="submittedSubmitProposalForm && f.brief.errors" class="invalid-feedback">
              <div *ngIf="f.brief.errors.required">Proposal Brief is required</div>
          </div>
        </div>
        <div class="form-group">
          <label class="text-uppercase mb-0 font-weight-600">Content/idea description</label>
          <input type="text" class="form-control pl-0" placeholder="Enter Description*" formControlName="description" 
            [ngClass]="{ 'is-invalid': submittedSubmitProposalForm && f.description.errors }">
          <div *ngIf="submittedSubmitProposalForm && f.description.errors" class="invalid-feedback">
              <div *ngIf="f.description.errors.required">Description is required</div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 form-group">
            <label class="text-uppercase mb-0 font-weight-600">Delivery Date</label>
            <div class="input-group">
              <input type="text" class="form-control pl-0" placeholder="Enter Delivery Date*" formControlName="delivary_date" 
                [ngClass]="{ 'is-invalid': submittedSubmitProposalForm && f.delivary_date.errors }" (click)="d.toggle()" ngbDatepicker #d="ngbDatepicker" placeholder="dd-mm-yyyy"
                ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append mb-2 ml-2 flex-column-reverse" (click)="d.toggle()">
                <i class="fa fa-calendar"></i>
              </div>
              <div *ngIf="submittedSubmitProposalForm && f.delivary_date.errors" class="invalid-feedback">
                  <div *ngIf="f.delivary_date.errors.required">Delivery Date is required</div>
              </div>
            </div>              
          </div>
          <div class="col-6 form-group">
            <label class="text-uppercase mb-0 font-weight-600">Price</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input type="text" class="form-control pl-0" placeholder="Enter Price*" formControlName="price" 
                [ngClass]="{ 'is-invalid': submittedSubmitProposalForm && f.price.errors }">
              <div *ngIf="submittedSubmitProposalForm && f.price.errors" class="invalid-feedback">
                  <div *ngIf="f.price.errors.required">Price is required</div>
                  <div *ngIf="submitProposalForm.controls['price'].errors.pattern" >Price value incorrect.</div>
              </div>
            </div>
          </div>
          <div class="col-6 form-group">
            <label class="text-uppercase mb-0 font-weight-600">Platforms to use</label>
            <div ngbDropdown autoClose="outside" class="platFormList">
                <button class="btn btn-link pl-0" type="button" ngbDropdownToggle>
                  <span *ngFor="let key of submitProposalForm.value.platforms; let i = index">
                      <span *ngIf="key">
                        {{ allPlatforms[i].name }}
                      </span>
                  </span>
                  <span *ngIf="!selectedPlatformIdCount">Select</span>
    
                </button>
                <div *ngIf="submittedSubmitProposalForm && submitProposalForm.errors" class="invalid-feedback">
                  <div *ngIf="submitProposalForm.errors.checkboxInvalid">Atleast one platform is required</div>
                </div>
                <div ngbDropdownMenu class="w-100">
                  <ul class="socialList p-4 text-gray">
                    <li class="d-flex justify-content-between text_blue" formArrayName="platforms" *ngFor="let platform of f.platforms.controls; let i = index">
                      <div>
                        <i class="fa fa-{{allPlatforms[i].class_name}}" aria-hidden="true"></i>
                        <span>{{allPlatforms[i].name}}</span>
                      </div>
                      <div class="checkBox">
                        <input type="checkbox" class="form-control pl-0" [formControlName]="i" (click)='onCheckBoxClick($event, i)'>  
                        <label for="checkbox1"><span></span></label>
                      </div>
                    </li>
                  </ul>
                </div>        
              </div>
            </div>
        </div>
        <div class="form-group">
          <label class="text-uppercase mb-0 font-weight-600">Required resources from the brand</label>
          <input type="text" class="form-control pl-0" placeholder="Enter details of all the resources required*" formControlName="required_resources" 
            [ngClass]="{ 'is-invalid': submittedSubmitProposalForm && f.required_resources.errors }">
          <div *ngIf="submittedSubmitProposalForm && f.required_resources.errors" class="invalid-feedback">
              <div *ngIf="f.required_resources.errors.required">Required resources details is required</div>
          </div>
        </div>
        <button type="submit" class="text-uppercase btn btn-warning pl-5 pr-5">Submit</button>
      </form>
    </div>
  </ng-template>


  <!-- Change Password Modal -->
<ng-template class="modal" #confirmAccept>
    <div class="modal-header">
      <p>Are you suer to accept this invitation?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="acceptModal(acceptInvitationModal)">Yes</button>
      <button type="button" class="btn btn-danger" (click)="modalRef.hide()">No</button>
    </div>
  </ng-template>
<ng-template class="modal" #confirmReject>
    <div class="modal-header">
      <p>Are you suer to reject this invitation?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="rejectInvitation()">Yes</button>
      <button type="button" class="btn btn-danger" (click)="modalRef.hide()">No</button>
    </div>
  </ng-template>

</section>
<!--invitation_holder-->